<form [formGroup]="form" novalidate (submit)="createOrEdit()">
  <div class="row">
    <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="titreAvenant" required />
      <mat-error><app-form-error [field]="form.get('titreAvenant')"></app-form-error></mat-error>
    </mat-form-field>
  </div>

  <div class="text-title">Selectionez un ou plusieurs motifs de création de l'avenant :</div>
  <mat-divider></mat-divider>
  <div class="row mt-3 mb-3">
    <mat-checkbox class="col-12" formControlName="rupture">Rupture de stage</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationSujet">Modification du sujet de stage</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationPeriode">Modification de la période de stage</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationMontantGratification">Modification du montant de la gratification</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationLieu" (click)="loadServices()">Modification du lieu de stage</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationTuteurPro">Modification du tuteur professionnel</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationEnseignant">Modification de l’enseignant référent</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationAutre">Autre modification</mat-checkbox>
  </div>

  <div *ngIf="form.value.rupture">
    <div class="text-title">Rupture de stage</div>
    <mat-divider></mat-divider>
    <div class="row mt-3 mb-3">
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Date de rupture</mat-label>
        <input matInput [min]="convention.dateDebutStage" [max]="convention.dateFinStage" [matDatepicker]="dateRupturePicker" formControlName="dateRupture" required >
        <mat-datepicker-toggle matSuffix [for]="dateRupturePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateRupturePicker></mat-datepicker>
        <mat-error><app-form-error [field]="form.get('dateRupture')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Commentaire(s)</mat-label>
        <textarea matInput formControlName="commentaireRupture"></textarea>
        <mat-error><app-form-error [field]="form.get('commentaireRupture')"></app-form-error></mat-error>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="form.value.modificationSujet">
    <div class="text-title">Modification du sujet de stage</div>
    <mat-divider></mat-divider>
    <div class="row mt-3">
      <div class="col-sm-3 font-weight-bold">Sujet</div>
      <div class="col-sm-9">{{convention.sujetStage}}</div>
    </div>
    <div class="row mt-3 mb-3">
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Nouveau sujet de stage</mat-label>
        <input matInput formControlName="sujetStage" required />
        <mat-error><app-form-error [field]="form.get('sujetStage')"></app-form-error></mat-error>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="form.value.modificationPeriode">
    <div class="text-title">Modification de la période de stage</div>
    <mat-divider></mat-divider>
    <div class="row mt-3">
      <div class="col-sm-3 font-weight-bold">Date de début du stage</div>
      <div class="col-sm-9">{{convention.dateDebutStage}}</div>
      <div class="col-sm-3 font-weight-bold">Date de fin du stage</div>
      <div class="col-sm-9">{{convention.dateFinStage}}</div>
      <div class="col-sm-3 font-weight-bold">Interruption au cours du stage</div>
      <div class="col-sm-9">{{convention.interruptionStage ? 'Oui' : 'Non'}}</div>
    </div>
    <div class="row" *ngIf="convention.interruptionStage">
      <div class="col-sm-3 font-weight-bold">Date de début d'interruption du stage</div>
      <div class="col-sm-9">{{convention.dateDebutInterruption}}</div>
      <div class="col-sm-3 font-weight-bold">Date de fin d'interruption du stage</div>
      <div class="col-sm-9">{{convention.dateFinInterruption}}</div>
    </div>
    <div class="row mt-3 mb-3">
      <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
        <mat-label>Nouvelle date de début</mat-label>
        <input matInput [matDatepicker]="dateDebutStagePicker" formControlName="dateDebutStage" required >
        <mat-datepicker-toggle matSuffix [for]="dateDebutStagePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateDebutStagePicker></mat-datepicker>
        <mat-error><app-form-error [field]="form.get('dateDebutStage')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
        <mat-label>Nouvelle date de fin</mat-label>
        <input matInput [matDatepicker]="dateFinStagePicker" formControlName="dateFinStage" required >
        <mat-datepicker-toggle matSuffix [for]="dateFinStagePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateFinStagePicker></mat-datepicker>
        <mat-error><app-form-error [field]="form.get('dateFinStage')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
        <mat-label>Nouvelle date de début d'intérruption</mat-label>
        <input matInput [matDatepicker]="dateDebutInterruptionPicker" formControlName="dateDebutInterruption" required >
        <mat-datepicker-toggle matSuffix [for]="dateDebutInterruptionPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateDebutInterruptionPicker></mat-datepicker>
        <mat-error><app-form-error [field]="form.get('dateDebutInterruption')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
        <mat-label>Nouvelle date de fin d'intérruption</mat-label>
        <input matInput [matDatepicker]="dateFinInterruptionPicker" formControlName="dateFinInterruption" required >
        <mat-datepicker-toggle matSuffix [for]="dateFinInterruptionPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateFinInterruptionPicker></mat-datepicker>
        <mat-error><app-form-error [field]="form.get('dateFinInterruption')"></app-form-error></mat-error>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="form.value.modificationMontantGratification">
    <div class="text-title">Modification du montant de la gratification</div>
    <mat-divider></mat-divider>
    <div class="row mt-3">
      <div class="col-sm-3 font-weight-bold">Gratification au cours du stage ?</div>
      <div class="col-sm-9">{{convention.gratificationStage? 'Oui' : 'Non' }}</div>
    </div>
    <div class="row" *ngIf="convention.gratificationStage">
      <div class="col-sm-3 font-weight-bold">Montant de la gratification</div>
      <div class="col-sm-9">{{convention.montantGratification + ' ' + convention.uniteGratification.libelle + ' ' + convention.uniteDureeGratification.libelle}}</div>
      <div class="col-sm-3 font-weight-bold">Monnaie utilisée pour le paiement</div>
      <div class="col-sm-9">{{convention.devise.libelle}}</div>
      <div class="col-sm-3 font-weight-bold">Modalité de versement de la gratification</div>
      <div class="col-sm-9">{{convention.modeVersGratification.libelle}}</div>
    </div>
    <div class="row mt-3 mb-3">
      <mat-form-field class="col-sm-6 col-md-6 mb-2" appearance="fill">
        <mat-label>Nouveau montant de la gratification</mat-label>
        <input matInput formControlName="montantGratification" required />
        <mat-error><app-form-error [field]="form.get('montantGratification')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-3 col-md-3 mb-2" appearance="fill">
        <mat-select formControlName="idUniteGratification" required>
          <mat-option *ngFor="let uniteGratification of uniteGratifications" [value]="uniteGratification.id">{{uniteGratification.libelle}}</mat-option>
        </mat-select>
        <mat-error><app-form-error [field]="form.get('idUniteGratification')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-3 col-md-3 mb-2" appearance="fill">
        <mat-select formControlName="idUniteDuree" required>
          <mat-option *ngFor="let uniteDuree of uniteDurees" [value]="uniteDuree.id">{{uniteDuree.libelle}}</mat-option>
        </mat-select>
        <mat-error><app-form-error [field]="form.get('idUniteDuree')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Nouvelle monnaie utilisée pour le paiement</mat-label>
        <mat-select formControlName="idDevise" required>
          <mat-option *ngFor="let devise of devises" [value]="devise.id">{{devise.libelle}}</mat-option>
        </mat-select>
        <mat-error><app-form-error [field]="form.get('idDevise')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Nouvelle modalité de versement de la gratification</mat-label>
        <mat-select formControlName="idModeVersGratification" required>
          <mat-option *ngFor="let modeVersGratification of modeVersGratifications" [value]="modeVersGratification.id">{{modeVersGratification.libelle}}</mat-option>
        </mat-select>
        <mat-error><app-form-error [field]="form.get('idModeVersGratification')"></app-form-error></mat-error>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="form.value.modificationLieu">
    <div class="text-title">Modification du lieu de stage</div>
    <mat-divider></mat-divider>
    <table mat-table class="mt-3 mb-3" [dataSource]="services">
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom du service</th>
        <td mat-cell *matCellDef="let row">{{row.nom}}</td>
      </ng-container>

      <ng-container matColumnDef="voie">
        <th mat-header-cell *matHeaderCellDef>Voie</th>
        <td mat-cell *matCellDef="let row">{{row.voie}}</td>
      </ng-container>

      <ng-container matColumnDef="batimentResidence">
        <th mat-header-cell *matHeaderCellDef>Bâtiment / Résidence / Z.I.</th>
        <td mat-cell *matCellDef="let row">{{row.batimentResidence}}</td>
      </ng-container>

      <ng-container matColumnDef="codePostal">
        <th mat-header-cell *matHeaderCellDef>Code postal</th>
        <td mat-cell *matCellDef="let row">{{row.codePostal}}</td>
      </ng-container>

      <ng-container matColumnDef="commune">
        <th mat-header-cell *matHeaderCellDef>Commune</th>
        <td mat-cell *matCellDef="let row">{{row.commune}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="serviceTableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: serviceTableColumns;"></tr>
    </table>
  </div>

  <div *ngIf="form.value.modificationAutre">
    <div class="text-title">Autre modification</div>
    <mat-divider></mat-divider>
    <div class="row mt-3 mb-3">
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Motif de la modification</mat-label>
        <input matInput formControlName="motifAvenant" required />
        <mat-error><app-form-error [field]="form.get('motifAvenant')"></app-form-error></mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-6">
      <button mat-button type="button" mat-stroked-button color="warn" (click)="cancel()">{{'BOUTON_ANNULER'|contenu}}</button>
    </div>
    <div class="col-sm-6 text-right">
      <button mat-button mat-flat-button color="primary" [disabled]="!customFormValidation()">{{avenant.id?'Modifier':'Créer'}}</button>
    </div>
  </div>
</form>
