<form [formGroup]="form" novalidate (submit)="createOrEdit()">
  <div class="row">
    <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="titreAvenant" required />
      <mat-error><app-form-error [field]="form.get('titreAvenant')"></app-form-error></mat-error>
    </mat-form-field>
  </div>

  <div class="text-title">Sélectionnez un ou plusieurs motifs de création de l'avenant :</div>
  <mat-divider></mat-divider>
  <div class="row mt-3 mb-3">
    <mat-checkbox class="col-12" formControlName="rupture">Rupture de stage</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationSujet">Modification du sujet de stage</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationPeriode">Modification de la période de
      stage</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationMontantGratification">Modification du montant de la
      gratification</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationLieu">Modification du lieu de stage</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationSalarie">Modification du tuteur
      professionnel</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationEnseignant">Modification de l’enseignant
      référent</mat-checkbox>
    <mat-checkbox class="col-12" formControlName="modificationAutre">Autre modification</mat-checkbox>
  </div>

  <div *ngIf="form.value.rupture">
    <div class="text-title">Rupture de stage</div>
    <mat-divider></mat-divider>
    <div class="row mt-3 mb-3">
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Date de rupture</mat-label>
        <input matInput [min]="convention.dateDebutStage" [max]="convention.dateFinStage"
          [matDatepicker]="dateRupturePicker" formControlName="dateRupture" required>
        <mat-datepicker-toggle matSuffix [for]="dateRupturePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateRupturePicker></mat-datepicker>
        <mat-error><app-form-error [field]="form.get('dateRupture')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Commentaire(s)</mat-label>
        <textarea matInput formControlName="commentaireRupture"></textarea>
        <mat-error><app-form-error [field]="form.get('commentaireRupture')"></app-form-error></mat-error>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="form.value.modificationSujet">
    <div class="text-title">Modification du sujet de stage</div>
    <mat-divider></mat-divider>
    <div class="row mt-3">
      <div class="col-sm-3 font-weight-bold">Sujet</div>
      <div class="col-sm-9">{{convention.sujetStage}}</div>
    </div>
    <div class="row mt-3 mb-3">
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Nouveau sujet de stage</mat-label>
        <input matInput formControlName="sujetStage" required />
        <mat-error><app-form-error [field]="form.get('sujetStage')"></app-form-error></mat-error>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="form.value.modificationPeriode">
    <div class="text-title">Modification de la période de stage</div>
    <mat-divider></mat-divider>
    <div class="row mt-3">
      <div class="col-sm-3 font-weight-bold">Date de début du stage</div>
      <div class="col-sm-9">{{convention.dateDebutStage|date:'shortDate'}}</div>
      <div class="col-sm-3 font-weight-bold">Date de fin du stage</div>
      <div class="col-sm-9">{{convention.dateFinStage|date:'shortDate'}}</div>
      <div class="col-sm-3 font-weight-bold">Interruption au cours du stage sur la convention</div>
      <div class="col-sm-9">{{convention.interruptionStage ? 'Oui' : 'Non'}}</div>
      <div class="col-sm-3 font-weight-bold">Interruption au cours du stage sur cet avenant</div>
      <div class="col-sm-9">{{numberPeriodeInterruption > 0 ? 'Oui' : 'Non'}}</div>
    </div>
    <div class="row" *ngIf="convention.interruptionStage">
      <div class="col-sm-3 font-weight-bold">Périodes d'interruption du stage</div>
      <div class="col-sm-9"><span *ngFor="let interruption of interruptionsStage">
          {{(interruptionsStage.length>1?'- Du ':'Du ') + (interruption.dateDebutInterruption|date:'shortDate') + ' au '+ (interruption.dateFinInterruption|date:'shortDate')}}</span>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
        <mat-label>Nouvelle date de début du stage</mat-label>
        <input matInput [matDatepicker]="dateDebutStagePicker" (dateChange)="dateDebutChanged($event)"
          formControlName="dateDebutStage">
        <mat-datepicker-toggle matSuffix [for]="dateDebutStagePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateDebutStagePicker></mat-datepicker>
        <mat-error><app-form-error [field]="form.get('dateDebutStage')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
        <mat-label>Nouvelle date de fin du stage</mat-label>
        <input matInput [min]="minDateFinStage" [matDatepicker]="dateFinStagePicker" formControlName="dateFinStage">
        <mat-datepicker-toggle matSuffix [for]="dateFinStagePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateFinStagePicker></mat-datepicker>
        <mat-error><app-form-error [field]="form.get('dateFinStage')"></app-form-error></mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="convention.interruptionStage">
      <div>Modification d'une période d'interruption existante</div>
      <mat-divider></mat-divider>
      <div class="row mt-3" *ngFor="let interruption of interruptionsStage">
        <div class="col-12">{{(interruptionsStage.length>1?'- Du ':'Du ') +
          (interruption.dateDebutInterruption|date:'shortDate') + ' au '+
          (interruption.dateFinInterruption|date:'shortDate') + ':'}}</div>
        <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
          <mat-label>Nouvelle date de début d'interruption</mat-label>
          <input matInput
            [min]="form.get('dateDebutStage')!.value?form.get('dateDebutStage')!.value:convention.dateDebutStage"
            [max]="form.get('dateFinStage')!.value?form.get('dateFinStage')!.value:convention.dateFinStage"
            [matDatepicker]="dateDebutInterruptionPicker"
            formControlName={{interruption.dateDebutInterruptionFormControlName}}>
          <mat-datepicker-toggle matSuffix [for]="dateDebutInterruptionPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateDebutInterruptionPicker></mat-datepicker>
          <mat-error><app-form-error
              [field]="form.get('interruption.dateDebutInterruptionFormControlName')"></app-form-error></mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
          <mat-label>Nouvelle date de fin d'interruption</mat-label>
          <input matInput
            [min]="form.get('dateDebutStage')!.value?form.get('dateDebutStage')!.value:convention.dateDebutStage"
            [max]="form.get('dateFinStage')!.value?form.get('dateFinStage')!.value:convention.dateFinStage"
            [matDatepicker]="dateFinInterruptionPicker"
            formControlName={{interruption.dateFinInterruptionFormControlName}}>
          <mat-datepicker-toggle matSuffix [for]="dateFinInterruptionPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateFinInterruptionPicker></mat-datepicker>
          <mat-error><app-form-error
              [field]="form.get('interruption.dateFinInterruptionFormControlName')"></app-form-error></mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="interruption-stage-container" *ngIf="addedInterruptionsStage.length>0">
      <div class="col-sm-3 font-weight-bold">Nouvelles périodes d'interruption du stage </div>
      <div *ngFor="let row of addedInterruptionsStage">
        <div class="col-sm-9">Du {{row.dateDebutInterruption | date:'d/MM/yy'}} au {{row.dateFinInterruption | date:'d/MM/yy'}}</div>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-6">
        <button mat-button mat-flat-button type="button" color="primary"
          (click)="openInterruptionsCreateFormModal()">{{addedInterruptionsStage.length === 0 ?'Ajouter des':'Gérerles'}} nouvelles périodes d'interruptions</button>
      </div>
    </div>
  </div>
  <div *ngIf="form.value.modificationMontantGratification">
    <div class="text-title">Modification du montant de la gratification</div>
    <mat-divider></mat-divider>
    <div class="row mt-3">
      <div class="col-sm-3 font-weight-bold">Gratification au cours du stage ?</div>
      <div class="col-sm-9">{{convention.gratificationStage? 'Oui' : 'Non' }}</div>
    </div>
    <div class="row" *ngIf="convention.gratificationStage">
      <div class="col-sm-3 font-weight-bold">Montant de la gratification</div>
      <div class="col-sm-9">{{convention.montantGratification + ' ' + convention.uniteGratification.libelle + ' ' +
        convention.uniteDureeGratification.libelle}}</div>
      <div class="col-sm-3 font-weight-bold">Monnaie utilisée pour le paiement</div>
      <div class="col-sm-9">{{convention.devise.libelle}}</div>
      <div class="col-sm-3 font-weight-bold">Modalité de versement de la gratification</div>
      <div class="col-sm-9">{{convention.modeVersGratification.libelle}}</div>
    </div>
    <div class="alert alert-info text-center mt-3 " [innerHTML]="texteLimiteRenumeration">
    </div>
    <div class="row mt-3 mb-3">
      <mat-form-field class="col-sm-6 col-md-6 mb-2" appearance="fill">
        <mat-label>Nouveau montant de la gratification</mat-label>
        <input matInput formControlName="montantGratification" />
        <mat-error><app-form-error [field]="form.get('montantGratification')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-3 col-md-3 mb-2" appearance="fill">
        <mat-select formControlName="idUniteGratification">
          <mat-option *ngFor="let uniteGratification of uniteGratifications"
            [value]="uniteGratification.id">{{uniteGratification.libelle}}</mat-option>
        </mat-select>
        <mat-error><app-form-error [field]="form.get('idUniteGratification')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-3 col-md-3 mb-2" appearance="fill">
        <mat-select formControlName="idUniteDuree">
          <mat-option *ngFor="let uniteDuree of uniteDurees" [value]="uniteDuree.id">{{uniteDuree.libelle}}</mat-option>
        </mat-select>
        <mat-error><app-form-error [field]="form.get('idUniteDuree')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Nouvelle monnaie utilisée pour le paiement</mat-label>
        <mat-select formControlName="idDevise">
          <mat-option *ngFor="let devise of devises" [value]="devise.id">{{devise.libelle}}</mat-option>
        </mat-select>
        <mat-error><app-form-error [field]="form.get('idDevise')"></app-form-error></mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
        <mat-label>Nouvelle modalité de versement de la gratification</mat-label>
        <mat-select formControlName="idModeVersGratification">
          <mat-option *ngFor="let modeVersGratification of modeVersGratifications"
            [value]="modeVersGratification.id">{{modeVersGratification.libelle}}</mat-option>
        </mat-select>
        <mat-error><app-form-error [field]="form.get('idModeVersGratification')"></app-form-error></mat-error>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="form.value.modificationLieu">
    <div class="text-title">Modification du lieu de stage</div>
    <mat-divider></mat-divider>

    <div class="mt-3 mb-3">Lieu de stage actuel :</div>
    <div class="row mb-3">
      <div class="col-sm-3 font-weight-bold">Nom</div>
      <div class="col-sm-9">{{convention.service.nom}}</div>
      <div class="col-sm-3 font-weight-bold">Voie</div>
      <div class="col-sm-9">{{convention.service.voie}}</div>
      <div class="col-sm-3 font-weight-bold">Code postal</div>
      <div class="col-sm-9">{{convention.service.codePostal}}</div>
      <div class="col-sm-3 font-weight-bold">Commune</div>
      <div class="col-sm-9">{{convention.service.commune}}</div>
      <div class="col-sm-3 font-weight-bold">Pays</div>
      <div class="col-sm-9">{{convention.service.pays.lib}}</div>
      <div class="col-sm-3 font-weight-bold">Téléphone</div>
      <div class="col-sm-9">{{convention.service.telephone}}</div>
    </div>
    <div>Sélectionnez un nouveau lieu de stage :</div>
    <app-table [service]="serviceService" [columns]="serviceTableColumns" [sortColumn]="serviceSortColumn"
      [filters]="serviceFilters" matSort [matSortActive]="serviceSortColumn" [matSortDirection]="'asc'"
      (matSortChange)="serviceAppTable ? serviceAppTable.sorting($event) : null" [noResultText]="'Aucun service trouvé'"
      [hideDeleteFilters]="true">
      <ng-container matColumnDef="choix">
        <th mat-header-cell *matHeaderCellDef>Choix</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox class="col-12" (change)="selectService(row)"
            [checked]="row.id === service.id"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom du service</th>
        <td mat-cell *matCellDef="let row">{{row.nom}}</td>
      </ng-container>

      <ng-container matColumnDef="voie">
        <th mat-header-cell *matHeaderCellDef>Voie</th>
        <td mat-cell *matCellDef="let row">{{row.voie}}</td>
      </ng-container>

      <ng-container matColumnDef="batimentResidence">
        <th mat-header-cell *matHeaderCellDef>Bâtiment / Résidence / Z.I.</th>
        <td mat-cell *matCellDef="let row">{{row.batimentResidence}}</td>
      </ng-container>

      <ng-container matColumnDef="codePostal">
        <th mat-header-cell *matHeaderCellDef>Code postal</th>
        <td mat-cell *matCellDef="let row">{{row.codePostal}}</td>
      </ng-container>

      <ng-container matColumnDef="commune">
        <th mat-header-cell *matHeaderCellDef>Commune</th>
        <td mat-cell *matCellDef="let row">{{row.commune}}</td>
      </ng-container>
    </app-table>

    <div class="row mt-3 mb-3">
      <div class="col-md-12">
        <button mat-flat-button type="button" (click)="createService()" color="primary">Créer un nouveau service
          d'accueil</button>
      </div>
    </div>
  </div>

  <div *ngIf="form.value.modificationSalarie">
    <div class="text-title">Modification du tuteur professionnel</div>
    <mat-divider></mat-divider>

    <div class="mt-3 mb-3">Tuteur professionnel actuel :</div>
    <div class="row mb-3">
      <div class="col-sm-3 font-weight-bold">Nom</div>
      <div class="col-sm-9">{{convention.contact.nom}}</div>
      <div class="col-sm-3 font-weight-bold">Prénom</div>
      <div class="col-sm-9">{{convention.contact.prenom}}</div>
      <div class="col-sm-3 font-weight-bold">Civilité</div>
      <div class="col-sm-9">{{convention.contact.civilite ? convention.contact.civilite.libelle : null}}</div>
      <div class="col-sm-3 font-weight-bold">Fonction</div>
      <div class="col-sm-9">{{convention.contact.fonction}}</div>
      <div class="col-sm-3 font-weight-bold">Téléphone</div>
      <div class="col-sm-9">{{convention.contact.tel}}</div>
      <div class="col-sm-3 font-weight-bold">Email</div>
      <div class="col-sm-9">{{convention.contact.mail}}</div>
      <div class="col-sm-3 font-weight-bold">Fax</div>
      <div class="col-sm-9">{{convention.contact.fax}}</div>
    </div>
    <div>Sélectionnez un nouveau tuteur professionnel :</div>
    <app-table [service]="contactService" [columns]="contactTableColumns" [sortColumn]="contactSortColumn"
      [filters]="contactFilters" matSort [matSortActive]="contactSortColumn" [matSortDirection]="'asc'"
      (matSortChange)="contactAppTable ? contactAppTable.sorting($event) : null" [noResultText]="'Aucun contact trouvé'"
      [hideDeleteFilters]="true">
      <ng-container matColumnDef="choix">
        <th mat-header-cell *matHeaderCellDef>Choix</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox class="col-12" (change)="selectContact(row)"
            [checked]="row.id === contact.id"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="centreGestionnaire">
        <th mat-header-cell *matHeaderCellDef>Centre gestionnaire</th>
        <td mat-cell *matCellDef="let row">{{row.centreGestionnaire ? row.centreGestionnaire.nomCentre : null}}</td>
      </ng-container>

      <ng-container matColumnDef="civilite">
        <th mat-header-cell *matHeaderCellDef>Civilité</th>
        <td mat-cell *matCellDef="let row">{{row.civilite ? row.civilite.libelle : null}}</td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}}</td>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef>Prénom</th>
        <td mat-cell *matCellDef="let row">{{row.prenom}}</td>
      </ng-container>

      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef>Téléphone</th>
        <td mat-cell *matCellDef="let row">{{row.telephone}}</td>
      </ng-container>

      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef>Mail</th>
        <td mat-cell *matCellDef="let row">{{row.mail}}</td>
      </ng-container>

      <ng-container matColumnDef="fax">
        <th mat-header-cell *matHeaderCellDef>Fax</th>
        <td mat-cell *matCellDef="let row">{{row.fax}}</td>
      </ng-container>
    </app-table>


    <div class="row mt-3 mb-3">
      <div class="col-md-12">
        <button mat-flat-button type="button" (click)="createContact()" color="primary">Créer un nouveau tuteur</button>
      </div>
    </div>
  </div>

  <div *ngIf="form.value.modificationEnseignant">
    <div class="text-title">Modification de l'enseignant référant</div>
    <mat-divider></mat-divider>
    <div class="mt-3 mb-3">Enseignant actuel :</div>
    <div class="row mb-3">
      <div class="col-sm-3 font-weight-bold">Nom / Prénom</div>
      <div class="col-sm-9">{{convention.enseignant.nom+ ' ' + convention.enseignant.prenom}}</div>
      <div class="col-sm-3 font-weight-bold">Fonction</div>
      <div class="col-sm-9">{{convention.enseignant.typePersonne}}</div>
      <div class="col-sm-3 font-weight-bold">Téléphone</div>
      <div class="col-sm-9">{{convention.enseignant.tel}}</div>
      <div class="col-sm-3 font-weight-bold">Mail</div>
      <div class="col-sm-9">{{convention.enseignant.mail}}</div>
    </div>

    <div class="mb-3">Recherchez un nouvel enseignant :</div>
    <form [formGroup]="enseignantSearchForm" novalidate class="mt-3">
      <div class="row">
        <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" />
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenom" />
        </mat-form-field>
      </div>
    </form>

    <div class="alert alert-info" *ngIf="enseignants.length > 10">La recherche est limitée à 10 enseignants. Veuillez
      affiner la recherche si l'enseignant n'apparaît pas.</div>
    <table mat-table [dataSource]="enseignants | slice:0:10" *ngIf="enseignants.length > 0">
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">Aucun enseignant trouvé</td>
      </tr>
      <ng-container matColumnDef="nomprenom">
        <th mat-header-cell *matHeaderCellDef>Nom / Prénom</th>
        <td mat-cell *matCellDef="let row">{{row.sn.join(' ')}} {{row.givenName.join(' ')}}</td>
      </ng-container>
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef>Mail</th>
        <td mat-cell *matCellDef="let row">{{row.mail}}</td>
      </ng-container>
      <ng-container matColumnDef="departement">
        <th mat-header-cell *matHeaderCellDef>Département</th>
        <td mat-cell *matCellDef="let row">-</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-button mat-stroked-button (click)="$event.preventDefault();chooseEnseignant(row)" color="primary">
            <span *ngIf="true"><span class="fa fa-check" aria-hidden="true"></span> Sélectionner</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="enseignantColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: enseignantColumns;"></tr>
    </table>
    <div class="mt-3" *ngIf="enseignant">
      <div class="mb-3">Nouvel Enseignant :</div>
      <div class="row mb-3">
        <div class="col-sm-3 font-weight-bold">Nom / Prénom</div>
        <div class="col-sm-9">{{enseignant.nom+ ' ' + enseignant.prenom}}</div>
        <div class="col-sm-3 font-weight-bold">Fonction</div>
        <div class="col-sm-9">{{enseignant.typePersonne}}</div>
        <div class="col-sm-3 font-weight-bold">Téléphone</div>
        <div class="col-sm-9">{{enseignant.tel}}</div>
        <div class="col-sm-3 font-weight-bold">Mail</div>
        <div class="col-sm-9">{{enseignant.mail}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="form.value.modificationAutre">
    <div class="text-title">Autre modification</div>
    <mat-divider></mat-divider>
    <div class="row mt-3 mb-3">
      <mat-form-field class="col mb-2" appearance="fill">
        <mat-label>Motif de la modification</mat-label>
        <textarea matInput rows="10" formControlName="motifAvenant" required></textarea>
        <mat-error><app-form-error [field]="form.get('motifAvenant')"></app-form-error></mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-3">
    <div [ngClass]="avenant.id && isGestionnaire()? 'col-sm-3 text-center' : 'col-sm-4 text-center'">
      <button mat-button type="button" mat-flat-button color="warn" (click)="cancel()"
        *ngIf="!avenant.id">{{'BOUTON_ANNULER'|contenu}}</button>
      <span (confirm)="delete()" [confirmMessage]="'Êtes-vous sûr de vouloir supprimer cet avenant ?'"
        *ngIf="avenant.id">
        <button mat-button type="button" mat-flat-button color="warn">Supprimer</button>
      </span>
    </div>
    <div [ngClass]="avenant.id && isGestionnaire()? 'col-sm-3 text-center' : 'col-sm-4 text-center'">
      <button mat-button mat-flat-button type="button" color="primary" (click)="validate()"
        *ngIf="isGestionnaire() && avenant.id">Valider l'avenant</button>
    </div>
    <div *ngIf="avenant.id && isGestionnaire()" class="col-sm-3 text-center">
      <button mat-flat-button type="button" color="primary" (click)="printAvenant()">Imprimer l'avenant</button>
    </div>
    <div [ngClass]="avenant.id && isGestionnaire()? 'col-sm-3 text-center' : 'col-sm-4 text-center'">
      <button mat-button mat-flat-button color="primary"
        [disabled]="!customValidForm">{{avenant.id?'Modifier':'Créer'}}</button>
    </div>
  </div>
</form>
