# parametres des URLs pour l'authentication CAS
cas.url.login   ={{ ESTAGE_ENVIRONMENT.passeport_url | default('https://passeport.dauphine.fr/cas',true) }}/login?service={service}
cas.url.service ={{ ESTAGE_ENVIRONMENT.passeport_url | default('https://passeport.dauphine.fr/cas',true) }}/p3/serviceValidate?service={service}&ticket={ticket}&format=json
cas.url.logout  ={{ ESTAGE_ENVIRONMENT.passeport_url | default('https://passeport.dauphine.fr/cas',true) }}/logout

# url de l'application (notamment utilisée pour envoyer des liens par mail)
appli.url={{ ESTAGE_ENVIRONMENT.appli_url }}

# parametres base de donnees
appli.datasource.url={{ ESTAGE_ENVIRONMENT.DATASOURCE.url }}
appli.datasource.username={{ ESTAGE_ENVIRONMENT.DATASOURCE.username }}
appli.datasource.password={{ ESTAGE_ENVIRONMENT.DATASOURCE.password }}
appli.datasource.driver={{ ESTAGE_ENVIRONMENT.DATASOURCE.driver }}

# logins des admin technique, séparés par des ; (utilisateurs à créer au 1er lancement pour paramétrer l'application)
appli.admin_technique={{ ESTAGE_ENVIRONMENT.appli_admintech }}

# identifiant pour l'accès au web services référentiel
referentiel.ws.login={{ ESTAGE_ENVIRONMENT.REFERENTIEL_WS.login }}
referentiel.ws.password={{ ESTAGE_ENVIRONMENT.REFERENTIEL_WS.password }}
# url du service LDAP
referentiel.ws.ldap_url={{ ESTAGE_ENVIRONMENT.REFERENTIEL_WS.ldap_url }}
# url du service Apogée
referentiel.ws.apogee_url={{ ESTAGE_ENVIRONMENT.REFERENTIEL_WS.apogee_url }}

# mailer
appli.mailer.protocol={{ ESTAGE_ENVIRONMENT.MAILER.protocol }}
appli.mailer.host={{ ESTAGE_ENVIRONMENT.MAILER.host }}
appli.mailer.port={{ ESTAGE_ENVIRONMENT.MAILER.port }}
appli.mailer.auth={{ ESTAGE_ENVIRONMENT.MAILER.auth | default('false',true) }}
appli.mailer.username={{ ESTAGE_ENVIRONMENT.MAILER.username | default('null',true) }}
appli.mailer.password={{ ESTAGE_ENVIRONMENT.MAILER.password | default('null',true) }}
appli.mailer.from={{ ESTAGE_ENVIRONMENT.MAILER.from }}
# paramètres pour le développement
appli.mailer.disable_delivery={{ ESTAGE_ENVIRONMENT.MAILER.disable_delivery | default('false',true) }}
appli.mailer.delivery_address={{ ESTAGE_ENVIRONMENT.MAILER.delivery_address | default('null',true) }}
