^[[1;34m
#######################################################################################
#                                                                                     #
#  /etc/motd A REMPLIR sur tous les serveurs par les responsables applicatifs         #
#                                                                                     #
#                                                                                     #
#######################################################################################
^[[0m
