<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Nom et type du centre</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
          <mat-label>Nom du centre</mat-label>
          <input matInput formControlName="nomCentre" required>
          <mat-error><app-form-error [field]="form.get('nomCentre')"></app-form-error></mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
          <mat-label>Type de centre</mat-label>
          <mat-select formControlName="niveauCentre" [compareWith]="compare" (selectionChange)="niveauChange()" required>
            <mat-option *ngFor="let niveauCentre of niveauxCentre" [value]="niveauCentre">{{niveauCentre.libelle}}</mat-option>
          </mat-select>
          <mat-error><app-form-error [field]="form.get('niveauCentre')"></app-form-error></mat-error>
        </mat-form-field>
      </div>
    </form>
    <div class="row" *ngIf="centreGestion.id && centreGestion.niveauCentre && centreGestion.niveauCentre.libelle === 'UFR'">
      <mat-form-field class="col-sm-12 col-md-12" appearance="fill">
        <mat-label>Composante</mat-label>
        <mat-select multiple [(ngModel)]="selectedComposante" (openedChange)="chargerEtapes()" (selectionChange)="composanteChange($event.value)" [compareWith]="compareCode">
          <mat-option *ngFor="let composante of composantes" [value]="composante">{{composante.code}} - {{composante.libelle}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row" *ngIf="centreGestion.id && centreGestion.niveauCentre && centreGestion.niveauCentre.libelle === 'ETAPE'">
      <mat-form-field class="col-sm-12 col-md-12" appearance="fill">
        <mat-label>Étapes</mat-label>
        <mat-select [(ngModel)]="selectedValues" (openedChange)="chargerEtapes()" multiple #multiSelect [compareWith]="compareCode">
          <mat-option>
            <ngx-mat-select-search [formControl]="etapeFilterCtrl" placeholderLabel="Filtrer par code ou libellé VET" noEntriesFoundLabel="Aucune étape trouvée"></ngx-mat-select-search>
          </mat-option>
          <mat-option #matOption *ngFor="let etape of filteredEtapes | async" [value]="etape" (click)="etapesChange(etape, matOption.selected)">{{etape.code}};{{etape.codeVrsEtp}} - {{etape.libelle}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="centreGestion.id && centreGestion.niveauCentre && centreGestion.niveauCentre.libelle === 'ETAPE' && selectedValues && selectedValues.length > 0">
      <mat-panel-title>Liste des étapes rattachées au centre</mat-panel-title>
      <app-table [service]="critereGestionService" [columns]="displayedEtapesColumns" [sortColumn]="sortColumn" [filters]="filters"
                 matSort [matSortActive]="sortColumn" [matSortDirection]="'asc'" (matSortChange)="appTable ? appTable.sorting($event) : null" [hideDeleteFilters]="true">
        <ng-container matColumnDef="id.code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Code</th>
          <td mat-cell *matCellDef="let row"> {{row.id.code}} </td>
        </ng-container>
        <ng-container matColumnDef="id.codeVersionEtape">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Code version</th>
          <td mat-cell *matCellDef="let row"> {{row.id.codeVersionEtape}} </td>
        </ng-container>
        <ng-container matColumnDef="libelle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Libellé</th>
          <td mat-cell *matCellDef="let row"> {{row.libelle}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Supprimer" color="warn" (click)="deleteEtape(row.id.code, row.id.codeVersionEtape)"><span class="fa fa-trash"></span></button>
          </td>
        </ng-container>
      </app-table>
    </div>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Coordonnées du centre</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="form">
      <fieldset>
        <legend class="sr-only">Adresse</legend>
        <div class="row">
          <mat-form-field class="col-sm12 col-md-6" appearance="fill">
            <mat-label>Voie</mat-label>
            <input matInput formControlName="voie" required>
            <mat-error><app-form-error [field]="form.get('voie')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm12 col-md-6" appearance="fill">
            <mat-label>Bâtiment / Résidence / Z.I.</mat-label>
            <input matInput formControlName="adresse">
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-sm12 col-md-6">
            <app-form-autocomplete-field [service]="communeService" [field]="form.get('codePostal')" [fieldLabel]="'Code postal'" (updated)="updateCommune($event)" [startWith]="false"></app-form-autocomplete-field>
          </div>
          <mat-form-field class="col-sm12 col-md-6" appearance="fill">
            <mat-label>Commune</mat-label>
            <input matInput formControlName="commune" required>
            <mat-error><app-form-error [field]="form.get('commune')"></app-form-error></mat-error>
          </mat-form-field>
        </div>
      </fieldset>
      <div class="row">
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Adresse mail</mat-label>
          <input matInput formControlName="mail" required>
          <mat-error *ngIf="form.get('mail')?.hasError('required')">
            Ce champ est requis.
          </mat-error>
          <mat-error *ngIf="form.get('mail')?.hasError('pattern')">
            Adresse email invalide.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Numéro de téléphone</mat-label>
          <input matInput formControlName="telephone" required>
          <mat-error *ngIf="form.get('telephone')?.hasError('required')">
            Ce champ est requis.
          </mat-error>
          <mat-error *ngIf="form.get('telephone')?.hasError('pattern')">
            Numéro de téléphone invalide.
          </mat-error>
        </mat-form-field>

      </div>
      <div class="row">
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Site Internet</mat-label>
          <input matInput formControlName="siteWeb">
          <mat-error *ngIf="form.get('siteWeb')?.hasError('pattern')">
            URL invalide. Veuillez entrer une URL valide (ex. https://example.com).
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Fax</mat-label>
          <input matInput formControlName="fax">
        </mat-form-field>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
