<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Nom et type du centre</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
          <mat-label>Nom du centre</mat-label>
          <input matInput formControlName="nomCentre">
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
          <mat-label>Type de centre</mat-label>
          <mat-select formControlName="niveauCentre" [compareWith]="compare">
            <mat-option *ngFor="let niveauCentre of niveauxCentre" [value]="niveauCentre">{{niveauCentre.libelle}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <div class="row" *ngIf="centreGestion.id && form.get('niveauCentre')?.value.libelle == 'UFR'">
      <mat-form-field class="col-sm-12 col-md-6" appearance="fill">
        <mat-label>Composante</mat-label>
        <mat-select [(ngModel)]="selectedComposante" (selectionChange)="composanteChange($event.value)" [compareWith]="compareCode">
          <mat-option *ngFor="let composante of composantes" [value]="composante">{{composante.code}} - {{composante.libelle}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row" *ngIf="centreGestion.id && form.get('niveauCentre')?.value.libelle == 'ETAPE'">
      <mat-form-field class="col-sm-12 col-md-12" appearance="fill">
        <mat-label>Etapes</mat-label>
        <mat-select [(ngModel)]="selectedValues" multiple #multiSelect [compareWith]="compareCode">
          <ngx-mat-select-search [formControl]="etapeFilterCtrl" placeholderLabel="Filtrer par code ou libellé VET" noEntriesFoundLabel="Aucune étape trouvée"></ngx-mat-select-search>
          <mat-option #matOption *ngFor="let etape of filteredEtapes | async" [value]="etape" (click)="etapesChange(etape, matOption.selected)">{{etape.code}};{{etape.codeVrsEtp}} - {{etape.libelle}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="centreGestion.id && form.get('niveauCentre')?.value.libelle == 'ETAPE' && selectedValues.length > 0">
      <mat-panel-title>Liste des étapes rattachées au centre</mat-panel-title>
      <table mat-table [dataSource]="selectedValues">

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>


        <ng-container matColumnDef="codeVrsEtp">
          <th mat-header-cell *matHeaderCellDef>Code version</th>
          <td mat-cell *matCellDef="let element"> {{element.codeVrsEtp}} </td>
        </ng-container>

        <ng-container matColumnDef="libelle">
          <th mat-header-cell *matHeaderCellDef>Libellé</th>
          <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="Supprimer" color="warn" (click)="deleteEtape(element)"><i class="fa fa-trash"></i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedEtapesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedEtapesColumns;"></tr>
      </table>
    </div>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Coordonnées du centre</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="form">
      <div class="row">
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Voie</mat-label>
          <input matInput formControlName="voie">
        </mat-form-field>
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Code postal</mat-label>
          <input matInput formControlName="codePostal">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Bâtiment / Résidence / Z.I.</mat-label>
          <input matInput formControlName="adresse">
        </mat-form-field>
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Commune</mat-label>
          <input matInput formControlName="commune">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Adresse mail</mat-label>
          <input matInput formControlName="mail">
        </mat-form-field>
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="telephone">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Site Internet</mat-label>
          <input matInput formControlName="siteWeb">
        </mat-form-field>
        <mat-form-field class="col-sm12 col-md-6" appearance="fill">
          <mat-label>Fax</mat-label>
          <input matInput formControlName="fax">
        </mat-form-field>
      </div>
      <mat-dialog-actions>
        <button mat-flat-button color="primary" (click)="validate()">{{'BOUTON_VALIDER'|contenu}}</button>
      </mat-dialog-actions>
    </form>
  </mat-expansion-panel>
</mat-accordion>
