mat-sidenav-container {
  min-height: calc(100vh - 64px);
}

mat-sidenav-content {
  padding: 30px 50px;
  max-height: calc(100vh - 64px);
}

.app-menu {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.menu-button {
  button {
    font-size: 20px;
    margin-left: 8px;
    margin-top: 8px;
    z-index: 5;
    position: fixed;
    outline: none;
    transition: opacity .3s, transform .3s;
    opacity: 0;
  }

  .menu-open-button {
    transform: rotate(0deg);
  }

  .menu-close-button {
    transform: rotate(180deg);
  }

  .menu-open-button.visible {
    transform: rotate(180deg);
    opacity: 1;
  }

  .menu-close-button.visible {
    transform: rotate(0deg);
    opacity: 1;
  }
}

mat-nav-list {
   flex-grow: 1;
   height: calc(100vh - 64px - 39px - 48px);
   overflow-y: auto;
 }

.app-version {
  text-align: center;
  font-size: 0.75em;
  padding: 10px 0;
  background-color: #f2f2f2;
}
