<app-header></app-header>
<div class="menu-button">
  <button mat-icon-button (click)="slideNavbar()" class="menu-open-button" [ngClass]="{visible: !menuService.navbarOpened}">
    <i class="fa fa-bars"></i>
  </button>
  <button mat-icon-button (click)="slideNavbar()" class="menu-close-button" [ngClass]="{visible: menuService.navbarOpened}">
    <i class="fa fa-times"></i>
  </button>
</div>
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="isOpened()" *ngIf="isConnected()">
    <div class="app-menu">
      <mat-nav-list>
        <app-menu *ngFor="let item of items" [item]="item"></app-menu>
      </mat-nav-list>
      <div class="app-version">
        Version {{getAppVersion()}}
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-loader></app-loader>
    <app-title></app-title>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
