<app-header></app-header>
<div class="menu-button" *ngIf="isConnected()">
  <button
    mat-icon-button
    type="button"
    class="menu-button__btn"
    [class.menu-button__btn--open]="menuService.navbarOpened"
    (click)="slideNavbar()"
    [attr.aria-label]="menuService.navbarOpened ? 'Fermer le menu' : 'Ouvrir le menu'">
    <i class="fa" [ngClass]="menuService.navbarOpened ? 'fa-times' : 'fa-bars'"></i>
  </button>
</div>
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="isOpened()" *ngIf="isConnected()">
    <div class="app-menu">
      <ul class="menu-root">
        <app-menu *ngFor="let item of items" [item]="item"></app-menu>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <app-loader></app-loader>
      <app-title></app-title>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
