<div class="validation-card">
  <h5 class="text-title">{{validationLibelles[validation]}}</h5>
  <p *ngIf="validation === 'validationPedagogique'"><b>{{validationLibelles[validation]}} : </b>lorsque le projet de stage saisi par l'étudiant a été vérifié, l'autorisant ainsi à l'imprimer.</p>
  <p *ngIf="validation === 'validationConvention'"><b>{{validationLibelles[validation]}} : </b>lorsque tous les partenaires du stage ont signé la convention papier.</p>
  <div class="text-center info" [class.validate]="convention[validation]">
    <ng-container *ngIf="convention[validation]; else nonValid"><i class="fa fa-check"></i> {{validationLibelles[validation]}} effectuée.</ng-container>
    <ng-template #nonValid><i class="fa fa-times"></i> En attente de la {{validationLibelles[validation]}}.</ng-template>
  </div>
</div>
