<mat-tab-group #tabGroup class="convention" *ngIf="convention" (selectedTabChange)="tabChanged($event)">
  <mat-tab #etudiantTab>
    <ng-template mat-tab-label>
      Étudiant
      <mat-progress-bar mode="determinate" [value]="getProgressValue(0)" [ngClass]="{editing: tabs[0].statut === 1, done: tabs[0].statut === 2}"></mat-progress-bar>
    </ng-template>
    <app-convention-etudiant></app-convention-etudiant>
  </mat-tab>
  <mat-tab #etabAccueilTab [disabled]="isCreated()">
    <ng-template mat-tab-label>
      Étab. d'accueil
      <mat-progress-bar mode="determinate" [value]="getProgressValue(1)" [ngClass]="{editing: tabs[1].statut === 1, done: tabs[1].statut === 2}"></mat-progress-bar>
    </ng-template>
    <app-etab-accueil *ngIf="etabAccueilTab.isActive || tabs[1].init" (validated)="setStatus(1, $event)" (etabSelected)="setEtab($event)"></app-etab-accueil>
  </mat-tab>
  <mat-tab #serviceAccueilTab [disabled]="isCreated() || !etab">
    <ng-template mat-tab-label>
      Service d'accueil
      <mat-progress-bar mode="determinate" [value]="getProgressValue(2)" [ngClass]="{editing: tabs[2].statut === 1, done: tabs[2].statut === 2}"></mat-progress-bar>
    </ng-template>
    <app-service-accueil *ngIf="serviceAccueilTab.isActive || tabs[2].init" [etab]="etab" (validated)="setStatus(2, $event)" (serviceSelected)="setService($event)"></app-service-accueil>
  </mat-tab>
  <mat-tab #tuteurProTab [disabled]="isCreated() || !service">
    <ng-template mat-tab-label>
      Tuteur professionnel
      <mat-progress-bar mode="determinate" [value]="getProgressValue(3)" [ngClass]="{editing: tabs[3].statut === 1, done: tabs[3].statut === 2}"></mat-progress-bar>
    </ng-template>
    <app-tuteur-pro *ngIf="tuteurProTab.isActive || tabs[3].init" [service]="service" (validated)="setStatus(3, $event)"></app-tuteur-pro>
  </mat-tab>
  <mat-tab #stageTab [disabled]="isCreated()">
    <ng-template mat-tab-label>
      Stage
      <mat-progress-bar mode="determinate" [value]="getProgressValue(4)" [ngClass]="{editing: tabs[4].statut === 1, done: tabs[4].statut === 2}"></mat-progress-bar>
    </ng-template>
  </mat-tab>
  <mat-tab #enseignantRefTab [disabled]="isCreated()">
    <ng-template mat-tab-label>
      Enseignant référent
      <mat-progress-bar mode="determinate" [value]="getProgressValue(5)" [ngClass]="{editing: tabs[5].statut === 1, done: tabs[5].statut === 2}"></mat-progress-bar>
    </ng-template>
  </mat-tab>
  <mat-tab #signataireTab [disabled]="isCreated() || !service">
    <ng-template mat-tab-label>
      Signataire
      <mat-progress-bar mode="determinate" [value]="getProgressValue(6)" [ngClass]="{editing: tabs[6].statut === 1, done: tabs[6].statut === 2}"></mat-progress-bar>
    </ng-template>
    <app-signataire *ngIf="signataireTab.isActive || tabs[6].init" [service]="service" (validated)="setStatus(6, $event)"></app-signataire>
  </mat-tab>
  <mat-tab #recapTab [disabled]="isCreated() || !allValid">
    <ng-template mat-tab-label>
      Récapitulatif
    </ng-template>
  </mat-tab>
</mat-tab-group>
