# Ignore node_modules directory
node_modules/

# Ignore any log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE specific files
.idea/
.vscode/

# Ignore other unnecessary files
.DS_Store