### local dev ###
/application.yml
/application.properties
application.properties
etc/estage/application.properties
/config/application-*
compose.env
.env
/data*
**/~*.docx
**/~*.tmp
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
application.properties
etc/estage/application.properties
/testdata/esup-stage/db.changelog.d/
!/testdata/esup-stage/db.changelog.d/.empty.yaml

### HTTP files ###
*rest.http

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### App config ###
src/main/resources/estage.properties
**/src/main/resources/frontend/**
**/src/frontend/node/**

### Docaposte gen code ###
src/main/java/org/esup_portail/esup_stage/docaposte/gen/*

### Docker ###
compose.env
compose.dev.env
dev.docker-compose.yml
