# /?\ Fichier à renommer en .env, à la racine du projet /?\

# Config Docker
IMAGE_REPO=harbor.esup-portail.org/esup-stage/
IMAGE_NAME=esup-stage
IMAGE_TAG=3.0.0-dev
DATA_PATH=/usr/local/tomcat/data

# App data path
appli.data_dir=${DATA_PATH}

# Log path for SSE tailing
ESUP_STAGE_LOG_DIR=${DATA_PATH}/logs

# Important : chemin vers le fichier pour créer les logs de de l'application, important la fonctionnalité de visualisation des logs dans l'interface d'administration
CATALINA_OPTS=-Dlogging.file.name=${ESUP_STAGE_LOG_DIR}/esup-stage.log