<mat-accordion>
  <mat-expansion-panel [expanded]="!enseignant" *ngIf="modifiable">
    <mat-expansion-panel-header>
      <mat-panel-title>Recherchez un enseignant via son nom et/ou son prénom</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="form" novalidate class="mt-2 mb-3">
      <div class="row">
        <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" />
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenom" />
        </mat-form-field>
      </div>
    </form>

    <div class="alert alert-info" *ngIf="enseignants.length > 10">La recherche est limitée à 10 enseignants. Veuillez affiner la recherche si l'enseignant n'apparaît pas.</div>
    <table mat-table [dataSource]="enseignants | slice:0:10">
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">Aucun enseignant trouvé</td>
      </tr>
      <ng-container matColumnDef="nomprenom">
        <th mat-header-cell *matHeaderCellDef>Nom / Prénom</th>
        <td mat-cell *matCellDef="let row">{{row.sn.join(' ')}} {{row.givenName.join(' ')}}</td>
      </ng-container>
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef>Mail</th>
        <td mat-cell *matCellDef="let row">{{row.mail}}</td>
      </ng-container>
      <ng-container matColumnDef="departement">
        <th mat-header-cell *matHeaderCellDef>Département</th>
        <td mat-cell *matCellDef="let row">
          <div *ngFor="let code of row.supannEntiteAffectation">
            {{ code.replace('{LOC}', '') }}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-button mat-stroked-button (click)="choose(row)" color="primary">
            <span *ngIf="true"><i class="fa fa-check"></i> Sélectionner</span>
            <ng-template #notSelected>
              <i class="fa fa-check-circle"></i> Sélectionner
            </ng-template>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="!enseignant" [expanded]="enseignant">
    <mat-expansion-panel-header>
      <mat-panel-title>Enseignant</mat-panel-title>
      <mat-panel-description>
        <div class="w-100 text-right">
          <mat-icon fontSet="fa" fontIcon="fa-user"></mat-icon>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="enseignant" class="mt-3 mb-3">
      <div class="row">
        <div class="col-sm-3 font-weight-bold">Nom / Prénom</div>
        <div class="col-sm-9">{{enseignant.nom + ' ' + enseignant.prenom}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3 font-weight-bold">Fonction</div>
        <div class="col-sm-9">{{enseignant.typePersonne}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3 font-weight-bold">Téléphone</div>
        <div class="col-sm-9">{{enseignant.tel}}</div>
      </div>
      <div class="row">
        <div class="col-sm-3 font-weight-bold">Mail</div>
        <div class="col-sm-9">{{enseignant.mail}}</div>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
