.dashboard-summary {
  padding-bottom: 0;

  .row {
    align-items: center;
  }
}

.dashboard-validation {
  i {
    cursor: pointer;
    color: var(--dangerColor);
  }
  i.activate {
    color: var(--successColor);
  }
  i:not(:first-child) {
    margin-left: 5px;
  }
}

.custom-table-buttons {
  float: left;
  margin-bottom: 0;
  padding: 0 16px;
}

.app-table {
  clear: both;
}
