<mat-card *ngIf="typeDashboard === 2 || typeDashboard === 1" class="dashboard-summary">
  <mat-card-content>
    <div class="row">
      <div class="col-6">
        <h6>Convention(s) en attente de validation : <span class="text-title" *ngIf="nbConventionsEnAttente !== undefined">{{nbConventionsEnAttente}} trouvée(s)</span></h6>
      </div>
      <div class="col-6 text-right">
        <mat-form-field>
          <mat-label>Année universitaire</mat-label>
          <mat-select [(ngModel)]="anneeEnCours" (ngModelChange)="changeAnnee()">
            <mat-option *ngFor="let annee of annees" [value]="annee">{{annee.libelle}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #validAction>
  <button *ngIf="typeDashboard === 1" type="button" mat-button mat-flat-button color="primary" [disabled]="selected.length === 0" (click)="validationAdministrative()">Valider la sélection</button>
</ng-template>

<app-table *ngIf="tableCanLoad" [service]="conventionService" [columns]="columns" [sortColumn]="sortColumn" [filters]="filters" [sortOrder]="'desc'"
           matSort [matSortActive]="sortColumn" [matSortDirection]="'desc'" (matSortChange)="appTable ? appTable.sorting($event) : null"
           [noResultText]="'Aucune convention trouvée'" [customTemplateRef]="validAction"
           (onUpdated)="countConvention()" [setAlerte]="true" [exportColumns]="exportColumns">
  <ng-container *ngIf="typeDashboard === 1" matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selected.length > 0 && isAllSelected()"
                    [indeterminate]="selected.length > 0 && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox [checked]="isSelected(row)"
                    (change)="$event ? toggleSelected(row) : null"
                    (click)="$event.stopPropagation()">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 3 || typeDashboard === 1" matColumnDef="enseignant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Enseignant</th>
    <td mat-cell *matCellDef="let row">{{row.enseignant.nom + ' ' + row.enseignant.prenom}}</td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 2" matColumnDef="sujetStage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sujet du stage</th>
    <td mat-cell *matCellDef="let row">{{row.sujetStage}}</td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 2" matColumnDef="lieuStage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lieu du stage</th>
    <td mat-cell *matCellDef="let row">{{row.lieuStage}}</td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 2 || typeDashboard === 1" matColumnDef="etatValidation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>État de validation de la convention</th>
    <td mat-cell *matCellDef="let row" class="dashboard-validation">
      <i class="fa fa-graduation-cap" [class.activate]="row.validationPedagogique" matTooltip="{{row.validationPedagogique ? validationLibelles.validationPedagogique + ' effectuée' : 'en attente ' + validationLibelles.validationPedagogique}}"></i>
      <i class="fa fa-scroll" [class.activate]="row.validationConvention" matTooltip="{{row.validationConvention ? validationLibelles.validationConvention + ' effectuée' : 'en attente ' + validationLibelles.validationConvention}}"></i>
    </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>N°</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>
  <ng-container matColumnDef="etudiant" *ngIf="typeDashboard !== 3">
    <th mat-header-cell *matHeaderCellDef>Étudiant</th>
    <td mat-cell *matCellDef="let row">{{row.etudiant.prenom + ' ' + row.etudiant.nom}}</td>
  </ng-container>
  <ng-container matColumnDef="structure">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Établissement</th>
    <td mat-cell *matCellDef="let row">{{row.structure ? row.structure.raisonSociale : ''}}</td>
  </ng-container>
  <ng-container matColumnDef="dateDebutStage">
    <th mat-header-cell *matHeaderCellDef>Date début du stage</th>
    <td mat-cell *matCellDef="let row">{{row.dateDebutStage|date:'shortDate'}}</td>
  </ng-container>
  <ng-container matColumnDef="dateFinStage">
    <th mat-header-cell *matHeaderCellDef>Date fin du stage</th>
    <td mat-cell *matCellDef="let row">{{row.dateFinStage|date:'shortDate'}}</td>
  </ng-container>
  <ng-container matColumnDef="ufr">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>UFR</th>
    <td mat-cell *matCellDef="let row">{{row.ufr ? row.ufr.libelle : ''}}</td>
  </ng-container>
  <ng-container matColumnDef="etape">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Étape d'étude</th>
    <td mat-cell *matCellDef="let row">{{row.etape ? row.etape.libelle : ''}}</td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 3" matColumnDef="validationPedagogique">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{validationLibelles.validationPedagogique}}</th>
    <td mat-cell *matCellDef="let row">{{row.validationPedagogique|boolean}}</td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 3" matColumnDef="validationConvention">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{validationLibelles.validationConvention}}</th>
    <td mat-cell *matCellDef="let row">{{row.validationConvention|boolean}}</td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 3 || typeDashboard === 2" matColumnDef="avenant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Avenant</th>
    <td mat-cell *matCellDef="let row">
      <span *ngFor="let avenant of row.avenants">{{avenant.id}}<br/></span>
    </td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 3" matColumnDef="annee">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Année univ.</th>
    <td mat-cell *matCellDef="let row">{{row.annee}}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button type="button" mat-icon-button matTooltip="Visualiser" color="primary" (click)="goToConvention(row.id)"><i class="fa fa-eye"></i></button>
    </td>
  </ng-container>
</app-table>
