.dashboard-summary {
  padding-bottom: 0;

  .row {
    align-items: center;
  }
}

.dashboard-validation {
  i {
    cursor: pointer;
    color: var(--dangerColor);
  }
  i.activate {
    color: var(--successColor);
  }
  i:not(:first-child) {
    margin-left: 5px;
  }
}

.mat-checkbox-disabled {
  cursor: not-allowed;
}

button.mat-menu-item:focus {
  outline: none;
}

i.empty {
  color: var(--dangerColor) !important;
}

i.inProgress {
  color: var(--warningColor) !important;
}

i.done {
  color: var(--successColor) !important;
}

.mdc-card{
  box-shadow: none !important; // Supprime l'ombre portée (contour)
  border: none !important;     // Supprime toute bordure
  border-radius: 0 !important; // Supprime les bords arrondis
}

.convention-attente{
  font-weight: bold;
}
