<mat-card *ngIf="typeDashboard === 2 || typeDashboard === 1" class="dashboard-summary">
  <mat-card-content>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h6>Convention(s) en attente de validation : <span class="text-title"
                                                           *ngIf="nbConventionsEnAttente !== undefined">{{nbConventionsEnAttente}} trouvée(s)</span></h6>
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        <mat-form-field>
          <mat-label>Année universitaire</mat-label>
          <mat-select [(ngModel)]="anneeEnCours" (ngModelChange)="changeAnnee()">
            <mat-option *ngFor="let annee of annees" [value]="annee">{{annee.libelle}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #validAction>
  <button *ngIf="typeDashboard === 1" mat-button mat-flat-button color="primary" [matMenuTriggerFor]="actions"
          [disabled]="selected.length === 0">
    <mat-icon>more_vert</mat-icon> Actions
  </button>
  <mat-menu #actions="matMenu">
    <button mat-menu-item (click)="validationAdministrative()">Valider administrativement la sélection</button>
    <button mat-menu-item (click)="envoiSignatureElectronique()">Envoi pour signature électronique</button>
  </mat-menu>
</ng-template>

<app-table *ngIf="tableCanLoad" [service]="conventionService" [columns]="columns" [sortColumn]="sortColumn"
           [filters]="filters" [sortOrder]="sortDirection" matSort [matSortActive]="sortColumn" [matSortDirection]="'desc'"
           (matSortChange)="appTable ? appTable.sorting($event) : null" [noResultText]="'Aucune convention trouvée'"
           [customTemplateRef]="validAction" (onUpdated)="countConvention()" [setAlerte]="true" [exportColumns]="exportColumns"
           [templateMobile]="tableMobile">
  <ng-container *ngIf="typeDashboard === 1" matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selected.length > 0 && isAllSelected()"
                    [indeterminate]="selected.length > 0 && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox [checked]="isSelected(row)" (change)="$event ? toggleSelected(row) : null"
                    (click)="$event.stopPropagation()">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 3 || typeDashboard === 1" matColumnDef="enseignant.prenom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Enseignant</th>
    <td mat-cell *matCellDef="let row">{{row.enseignant ? row.enseignant.nom + ' ' + row.enseignant.prenom : ''}}</td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 2" matColumnDef="sujetStage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Sujet du stage</th>
    <td mat-cell *matCellDef="let row" [matTooltip]="row.sujetStage">{{row.sujetStage|truncate:50}}</td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 2" matColumnDef="lieuStage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Lieu du stage</th>
    <td mat-cell *matCellDef="let row">{{row.lieuStage}}</td>
  </ng-container>
  <ng-container matColumnDef="avenant">
    <th mat-header-cell *matHeaderCellDef>Avenant</th>
    <td mat-cell *matCellDef="let row">
      <span>{{(row.avenants.length > 0)|boolean}}<br /></span>
    </td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 2 || typeDashboard === 1" matColumnDef="etatValidation">
    <th mat-header-cell *matHeaderCellDef>État de validation de la convention</th>
    <td mat-cell *matCellDef="let row" class="dashboard-validation">
      <i *ngIf="row.centreGestion.validationPedagogique" class="fa fa-graduation-cap"
         [class.activate]="row.validationPedagogique"
         matTooltip="{{row.validationPedagogique ? validationLibelles.validationPedagogique + ' effectuée' : 'en attente ' + validationLibelles.validationPedagogique}}"></i>
      <i *ngIf="row.centreGestion.verificationAdministrative" class="fa fa-check"
         [class.activate]="row.verificationAdministrative"
         matTooltip="{{row.verificationAdministrative ? validationLibelles.verificationAdministrative + ' effectuée' : 'en attente ' + validationLibelles.verificationAdministrative}}"></i>
      <i *ngIf="row.centreGestion.validationConvention" class="fa fa-scroll" [class.activate]="row.validationConvention"
         matTooltip="{{row.validationConvention ? validationLibelles.validationConvention + ' effectuée' : 'en attente ' + validationLibelles.validationConvention}}"></i>
      <i class="fa-solid fa-pen"
         [ngClass]="getValidationIconStatus(row)"
         [matTooltip]="getValidationTooltip(row)">
      </i>
    </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">N°</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>
  <ng-container matColumnDef="etudiant.nom" *ngIf="typeDashboard !== 3">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Nom</th>
    <td mat-cell *matCellDef="let row">{{row.etudiant.nom}}</td>
  </ng-container>
  <ng-container matColumnDef="etudiant.prenom" *ngIf="typeDashboard !== 3">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Prénom</th>
    <td mat-cell *matCellDef="let row">{{row.etudiant.prenom}}</td>
  </ng-container>
  <ng-container matColumnDef="structure.raisonSociale">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Établissement</th>
    <td mat-cell *matCellDef="let row">{{row.structure ? row.structure.raisonSociale : ''}}</td>
  </ng-container>
  <ng-container matColumnDef="dateDebutStage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Date début du stage</th>
    <td mat-cell *matCellDef="let row">{{row.dateDebutStage|date:'shortDate'}}</td>
  </ng-container>
  <ng-container matColumnDef="dateFinStage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Date fin du stage</th>
    <td mat-cell *matCellDef="let row">{{row.dateFinStage|date:'shortDate'}}</td>
  </ng-container>
  <ng-container matColumnDef="ufr.libelle">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">UFR</th>
    <td mat-cell *matCellDef="let row">{{row.ufr ? row.ufr.libelle : ''}}</td>
  </ng-container>
  <ng-container matColumnDef="etape.libelle">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Étape d'étude</th>
    <td mat-cell *matCellDef="let row">{{row.etape ? row.etape.libelle : ''}}</td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 3" matColumnDef="etatValidation">
    <th mat-header-cell *matHeaderCellDef>État de validation de la convention</th>
    <td mat-cell *matCellDef="let row" class="dashboard-validation">
      <i *ngIf="row.centreGestion.validationPedagogique" class="fa fa-graduation-cap"
         [class.activate]="row.validationPedagogique"
         matTooltip="{{row.validationPedagogique ? validationLibelles.validationPedagogique + ' effectuée' : 'en attente ' + validationLibelles.validationPedagogique}}"></i>
      <i *ngIf="row.centreGestion.verificationAdministrative" class="fa fa-check"
         [class.activate]="row.verificationAdministrative"
         matTooltip="{{row.verificationAdministrative ? validationLibelles.verificationAdministrative + ' effectuée' : 'en attente ' + validationLibelles.verificationAdministrative}}"></i>
      <i class="fa-solid fa-pen"
         [ngClass]="getValidationIconStatus(row)"
         [matTooltip]="getValidationTooltip(row)">
      </i>
    </td>
  </ng-container>
  <ng-container *ngIf="typeDashboard === 3" matColumnDef="annee">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Année univ.</th>
    <td mat-cell *matCellDef="let row">{{row.annee}}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button type="button" mat-icon-button matTooltip="Visualiser" matTooltipPosition="left" color="primary"
              (click)="goToConvention(row.id)"><i class="fa fa-eye"></i></button>
    </td>
  </ng-container>
</app-table>

<ng-template #tableMobile let-row="row">
  <table class="table table-sm">
    <tbody>
    <tr *ngIf="typeDashboard === 1">
      <th></th>
      <td>
        <mat-checkbox [checked]="isSelected(row)" (change)="$event ? toggleSelected(row) : null"
                      (click)="$event.stopPropagation()">
        </mat-checkbox>
      </td>
    </tr>
    <tr>
      <th>N°</th>
      <td>{{row.id}}</td>
    </tr>
    <tr *ngIf="typeDashboard !== 3">
      <th>Étudiant</th>
      <td>{{row.etudiant.nom + ' ' + row.etudiant.prenom}}</td>
    </tr>
    <tr>
      <th>Établissement</th>
      <td>{{row.structure ? row.structure.raisonSociale : ''}}</td>
    </tr>
    <tr>
      <th>Date début du stage</th>
      <td>{{row.dateDebutStage|date:'shortDate'}}</td>
    </tr>
    <tr>
      <th>Date fin du stage</th>
      <td>{{row.dateFinStage|date:'shortDate'}}</td>
    </tr>
    <tr>
      <th>UFR</th>
      <td>{{row.ufr ? row.ufr.libelle : ''}}</td>
    </tr>
    <tr>
      <th>Étape d'étude</th>
      <td>{{row.etape ? row.etape.libelle : ''}}</td>
    </tr>
    <tr *ngIf="typeDashboard === 3 || typeDashboard === 1">
      <th>Enseignant</th>
      <td>{{row.enseignant ? row.enseignant.nom + ' ' + row.enseignant.prenom : ''}}</td>
    </tr>
    <tr *ngIf="typeDashboard === 2">
      <th>Sujet du stage</th>
      <td [matTooltip]="row.sujetStage">{{row.sujetStage|truncate:50}}</td>
    </tr>
    <tr *ngIf="typeDashboard === 2">
      <th>Lieu du stage</th>
      <td>{{row.lieuStage}}</td>
    </tr>
    <tr>
      <th>Avenant</th>
      <td>
        <span>{{(row.avenants.length > 0)|boolean}}<br /></span>
      </td>
    </tr>
    <tr *ngIf="typeDashboard === 2 || typeDashboard === 1">
      <th>État de validation de la convention</th>
      <td class="dashboard-validation">
        <i *ngIf="row.centreGestion.validationPedagogique" class="fa fa-graduation-cap"
           [class.activate]="row.validationPedagogique"
           matTooltip="{{row.validationPedagogique ? validationLibelles.validationPedagogique + ' effectuée' : 'en attente ' + validationLibelles.validationPedagogique}}"></i>
        <i *ngIf="row.centreGestion.verificationAdministrative" class="fa fa-check"
           [class.activate]="row.verificationAdministrative"
           matTooltip="{{row.verificationAdministrative ? validationLibelles.verificationAdministrative + ' effectuée' : 'en attente ' + validationLibelles.verificationAdministrative}}"></i>
        <i *ngIf="row.centreGestion.validationConvention" class="fa fa-scroll"
           [class.activate]="row.validationConvention"
           matTooltip="{{row.validationConvention ? validationLibelles.validationConvention + ' effectuée' : 'en attente ' + validationLibelles.validationConvention}}"></i>
        <i class="fa-solid fa-pen"
           [ngClass]="getValidationIconStatus(row)"
           [matTooltip]="getValidationTooltip(row)">
        </i>
      </td>
    </tr>
    <tr *ngIf="typeDashboard === 3">
      <th>{{validationLibelles.validationPedagogique}}</th>
      <td>{{row.validationPedagogique|boolean}}</td>
    </tr>
    <tr *ngIf="typeDashboard === 3">
      <th>{{validationLibelles.validationConvention}}</th>
      <td>{{row.validationConvention|boolean}}</td>
    </tr>
    <tr *ngIf="typeDashboard === 3">
      <th>Année univ.</th>
      <td>{{row.annee}}</td>
    </tr>
    <tr>
      <th>Actions</th>
      <td>
        <button type="button" mat-icon-button matTooltip="Visualiser" matTooltipPosition="left" color="primary"
                (click)="goToConvention(row.id)"><i class="fa fa-eye"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</ng-template>
