.dashboard-summary {
  padding-bottom: 0;

  .row {
    align-items: center;
  }
}

.dashboard-validation {
  i {
    cursor: pointer;
    color: var(--dangerColor);
  }
  i.activate {
    color: var(--successColor);
  }
  i:not(:first-child) {
    margin-left: 5px;
  }
}

.mat-checkbox-disabled {
  cursor: not-allowed;
}
