@if (groupeEtudiant) {
  <mat-card>
    <mat-card-content>
      <div class="action-buttons-container">
        @if (!isModif()) {
          <button class="valid-button" type="button" mat-button mat-flat-button (click)="createGroup()">Créer le groupe</button>
        }
        <button class="valid-button" type="button" mat-button mat-flat-button (click)="validate()" [disabled]="!allValid">Valider la {{isModif() ? 'modification' : 'creation'}} des conventions</button>
      </div>
    </mat-card-content>
  </mat-card>
}
