<mat-card>
  <mat-card-content>
    <app-table [service]="structureService" [columns]="columns" [sortColumn]="sortColumn" [filters]="filters"
               matSort [matSortActive]="sortColumn" [matSortDirection]="'asc'"
               (matSortChange)="appTable ? appTable.sorting($event) : null">
      <ng-container matColumnDef="raisonSociale">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Raison sociale</th>
        <td mat-cell *matCellDef="let row">{{row.raisonSociale}}</td>
      </ng-container>
      <ng-container matColumnDef="numeroSiret">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Numéro SIRET</th>
        <td mat-cell *matCellDef="let row">{{row.numeroSiret}}</td>
      </ng-container>
      <ng-container matColumnDef="nafN5">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Activité</th>
        <td mat-cell *matCellDef="let row">{{row.nafN5 ? row.nafN5.nafN1.libelle : ''}}</td>
      </ng-container>
      <ng-container matColumnDef="pays">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pays</th>
        <td mat-cell *matCellDef="let row">{{row.pays.lib}}</td>
      </ng-container>
      <ng-container matColumnDef="commune">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Commune</th>
        <td mat-cell *matCellDef="let row">{{row.commune}}</td>
      </ng-container>
      <ng-container matColumnDef="typeStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type de structure</th>
        <td mat-cell *matCellDef="let row">{{row.typeStructure.libelle}}</td>
      </ng-container>
      <ng-container matColumnDef="statutJuridique">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Forme juridique</th>
        <td mat-cell *matCellDef="let row">{{row.statutJuridique ? row.statutJuridique.libelle : ''}}</td>
      </ng-container>
    </app-table>
  </mat-card-content>
</mat-card>
