.icon-valide {
  color: var(--successColor);
}

.icon-devalidee {
  color: var(--dangerColor);
}
.mat-card .mat-divider-horizontal {
    position: relative;
}

.alert-text {
  .icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }

  .text {
    text-align: justify;
    font-size: 0.8em;
    display: inline-block;
    max-width: calc(100% - 24px);

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.question-sup-bouton{
  white-space: normal;
  line-height: 1.4;
  padding: 8px 16px;
  height: auto;
  min-height: 36px;
}

.question-title {
  display: block;
  margin-bottom: 0.5rem;
}

.question-texte {
  p {
    margin: 0.25rem 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
