<!DOCTYPE html>
<html lang="fr">
  <head>
{{> head defaultPageTitle='Sans nom'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
