<mat-tab-group>
  <mat-tab label="Couleurs">
    <div class="mt-3">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
          <mat-label>Couleur pricipale</mat-label>
          <input matInput [ngxMatColorPicker]="picker" formControlName="primaryColor">
          <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
          <ngx-mat-color-picker #picker></ngx-mat-color-picker>
        </mat-form-field>

        <div>
          <button mat-raised-button color="primary">Valider</button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Textes">

  </mat-tab>
</mat-tab-group>
