<mat-stepper labelPosition="bottom" [linear]="true" #stepper>
  <mat-step>
    <ng-template matStepLabel>Consignes</ng-template>
    <div>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Étudiant</ng-template>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Étab. accueil</ng-template>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Service d'accueil</ng-template>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Tuteur professionnel</ng-template>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Stage</ng-template>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enseignant référent</ng-template>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Signataire</ng-template>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Récapitulatif</ng-template>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
    </div>
  </mat-step>
</mat-stepper>
