<mat-tab-group class="convention">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="progress-status"></span>Étudiant
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="progress-status"></span>Étab. d'accueil
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="progress-status"></span>Service d'accueil
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="progress-status"></span>Tuteur professionnel
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="progress-status"></span>Stage
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="progress-status"></span>Enseignant référent
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="progress-status"></span>Signataire
    </ng-template>
  </mat-tab>
  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <span class="progress-status"></span>Récapitulatif
    </ng-template>
  </mat-tab>
</mat-tab-group>
