<form [formGroup]="periodesForm" novalidate>
  <div class="text-title">Calendrier du nombre d'heures de stage</div>
  <mat-divider class="mb-3"></mat-divider>
  <div class="row">
    <mat-form-field class="col-6" appearance="fill">
      <mat-label>Selectionez une nouvelle période</mat-label>
      <mat-date-range-input [dateFilter]="calendarDateFilter" [rangePicker]="calendrierPicker">
        <input matStartDate formControlName="calendrierStartDate" placeholder="Date de début">
        <input matEndDate formControlName="calendrierEndDate" placeholder="Date de fin">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="calendrierPicker"></mat-datepicker-toggle>
      <mat-date-range-picker #calendrierPicker></mat-date-range-picker>

      <mat-error><app-form-error [field]="periodesForm.get('calendrierEndDate')"></app-form-error></mat-error>
    </mat-form-field>

    <button type="button" mat-fab color="primary" matTooltip="Ajouter" (click)="addPeriode()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</form>

<form [formGroup]="heuresJournalieresForm" novalidate *ngIf="periodes.length > 0">
  <div *ngFor="let periode of periodes" >
    <mat-divider class="mb-2"></mat-divider>
    <div class="mb-3">Période du {{periode.calendrierStartDate|date:'shortDate'}} au {{periode.calendrierEndDate|date:'shortDate'}} :</div>
    <div class="row">
      <mat-form-field class="col-6 mb-2" appearance="fill">
        <mat-label>Nombre d’heures journalières sur cette période</mat-label>
        <input matInput formControlName={{periode.formControlName}} required />
        <mat-error><app-form-error [field]="heuresJournalieresForm.get('periode.formControlName')"></app-form-error></mat-error>
      </mat-form-field>
      <button type="button" mat-fab color="warn" matTooltip="Supprimer" (click)="removePeriode(periode)" >
        <i class="fa fa-trash-alt"></i>
      </button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-6">
    <button type="button" mat-button mat-stroked-button color="warn" (click)="close()">{{'BOUTON_ANNULER'|contenu}}</button>
  </div>
  <div class="col-sm-6 text-right">
    <button mat-button mat-flat-button color="primary" (click)="save()">{{'BOUTON_VALIDER'|contenu}}</button>
  </div>
</div>
