<header>
  <mat-toolbar id="app-toolbar" color="primary">
    <a routerLink="/">
      <img #logo id="app-logo" src="" alt="logo" />
      <span class="app-name">{{'TITRE_APPLICATION'|contenu}}</span>
    </a>

    <span class="spacer"></span>

    <button
      class="header-button-accessibility"
      mat-icon-button
      (click)="openAccessibilityDialog()"
      title="Paramètres d'accessibilité"
      *ngIf="isConnected()"
      aria-label="Ouvrir le menu d'accessibilité"
      type="button">
      <span class="fa-solid fa-universal-access"></span>
    </button>

    <button
      class="header-button-disconnect"
      mat-icon-button
      title="Déconnexion"
      (click)="logout()"
      *ngIf="isConnected()"
      aria-label="Se déconnecter">
      <span class="fa-solid fa-right-from-bracket"></span>
    </button>
  </mat-toolbar>
</header>
