a {
  color: white;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

.app-name {
  margin-left: 10px;
}

#app-logo {
  height: 40px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  #app-logo {
    display: block;
    margin-top: 8px;
  }

  #app-toolbar {
    height: 80px;
    font-size: 0.8rem;
  }
}
