<div class="modal-overlay">
  <div class="modal-container">
    <!-- En-tête fixe -->
    <div class="header-banner">
      <h2>Ajout d'un élément</h2>
    </div>

    <!-- Contenu scrollable -->
    <div class="scrollable-content">
      <form [formGroup]="form" (submit)="save()">
        <div class="row">
          <div class="col-sm-12" *ngIf="form.get('libelle')">
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>Libellé</mat-label>
              <input matInput formControlName="libelle">
              <mat-error><app-form-error [field]="form.get('libelle')"></app-form-error></mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" *ngIf="form.get('code')">
            <mat-form-field appearance="fill">
              <mat-label>Code</mat-label>
              <input matInput formControlName="code">
              <mat-error><app-form-error [field]="form.get('code')"></app-form-error></mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6" *ngIf="form.get('codeCtrl')">
            <mat-form-field appearance="fill">
              <mat-label>Saisir un code unique</mat-label>
              <input matInput oninput="this.value = this.value.toUpperCase()" formControlName="codeCtrl">
              <mat-error><app-form-error [field]="form.get('codeCtrl')"></app-form-error></mat-error>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="form.get('typeStructure')">
          <mat-form-field appearance="fill">
            <mat-label>Type d'établissement</mat-label>
            <mat-select formControlName="typeStructure" [compareWith]="compare">
              <mat-option *ngFor="let typeStructure of typeStructures" [value]="typeStructure">{{typeStructure.libelle}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="form.get('typeOffre')">
          <mat-form-field appearance="fill">
            <mat-label>Type d'offre</mat-label>
            <mat-select formControlName="typeOffre" [compareWith]="compare">
              <mat-option *ngFor="let typeOffre of typeOffres" [value]="typeOffre">{{typeOffre.libelle}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>

    <!-- Footer fixe -->
    <div class="modal-footer">
      <button class="cancel-button" type="button" mat-flat-button (click)="close()">{{'BOUTON_ANNULER'|contenu}}</button>
      <button class="valid-button" mat-flat-button (click)="save()">{{'BOUTON_VALIDER'|contenu}}</button>
    </div>
  </div>
</div>
