<mat-accordion>

  <mat-expansion-panel [expanded]="service" [disabled]="!service">
    <mat-expansion-panel-header>
      <mat-panel-title>Service d'accueil</mat-panel-title>
    </mat-expansion-panel-header>
    <form *ngIf="service" [formGroup]="form" novalidate (submit)="save()">
      <div class="mt-3 mb-3" *ngIf="service.id && !modif">
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Nom</div>
          <div class="col-sm-9">{{service.nom}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Voie</div>
          <div class="col-sm-9">{{service.voie}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Code postal</div>
          <div class="col-sm-9">{{service.codePostal}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Commune</div>
          <div class="col-sm-9">{{service.commune}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Pays</div>
          <div class="col-sm-9">{{service.pays.lib}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Téléphone</div>
          <div class="col-sm-9">{{service.telephone}}</div>
        </div>
      </div>
      <div *ngIf="modif && (canEdit() || (isNewService && canCreate()))">
        <div class="text-title">Général</div>
        <mat-divider class="mb-2"></mat-divider>
        <div class="row">
          <mat-form-field class="col mb-2" appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom" required />
            <mat-error><app-form-error [field]="form.get('nom')"></app-form-error></mat-error>
          </mat-form-field>
        </div>
        <div class="text-title">Coordonnées</div>
        <mat-divider class="mb-2"></mat-divider>
        <div class="row">
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Voie</mat-label>
            <input matInput formControlName="voie" required />
            <mat-error><app-form-error [field]="form.get('voie')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Bâtiment / Résidence / Z.I</mat-label>
            <input matInput formControlName="batimentResidence" />
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Pays</mat-label>
            <mat-select formControlName="idPays" required>
              <mat-option *ngFor="let country of countries" [value]="country.id">{{country.libelle}}</mat-option>
            </mat-select>
            <mat-error><app-form-error [field]="form.get('idPays')"></app-form-error></mat-error>
          </mat-form-field>
          <div class="col-sm-12 col-md-6 mb-2" *ngIf="isFr()">
            <app-form-autocomplete-field [service]="communeService" [field]="form.get('codePostal')" [fieldLabel]="'Code postal'" (updated)="updateCommune($event)" [startWith]="false"></app-form-autocomplete-field>
          </div>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill" *ngIf="!isFr()">
            <mat-label>code Postal</mat-label>
            <input matInput formControlName="codePostal" required />
            <mat-error><app-form-error [field]="form.get('codePostal')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Commune</mat-label>
            <input matInput formControlName="commune" required />
            <mat-error><app-form-error [field]="form.get('commune')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Téléphone</mat-label>
            <input matInput formControlName="telephone" />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-3" *ngIf="canEdit() || canCreate()">
        <div class="col-12 d-flex justify-content-center">
          <span *ngIf="etab.id && !modif && canEdit()" [confirmMessage]="'Attention : vous vous apprêtez à modifier la fiche de l\'établissement ' + etab.raisonSociale + ' . Pour sélectionner un autre établissement, veuillez cliquer sur le bouton de recherche d\'un établissement. '+ etab.raisonSociale + ' représente la raison sociale de l’établissement.'" (confirm)="edit()">
            <button class="valid-button" type="button" mat-button mat-stroked-button>
              Modifier la fiche de ce service d'accueil
            </button>
          </span>
        </div>
        <div class="col-6">
          <button class="cancel-button" mat-button mat-stroked-button *ngIf="service.id && modif" (click)="cancelEdit()">{{'BOUTON_ANNULER'|contenu}}</button>
        </div>
        <div class="col-6 text-right" *ngIf="modif">
          <button class="valid-button" mat-button mat-flat-button>{{'BOUTON_VALIDER'|contenu}}</button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="!service" *ngIf="modifiable">
    <mat-expansion-panel-header>
      Choix du service dans lequel le stage sera effectué - Établissement d'accueil : {{etab.raisonSociale}}
    </mat-expansion-panel-header>

    <app-table [service]="serviceService" [columns]="columns" [sortColumn]="sortColumn" [filters]="filters"
               matSort [matSortActive]="sortColumn" [sortOrder]="sortDirection" [matSortDirection]="sortDirection"
               (matSortChange)="appTable ? appTable.sorting($event) : null" [actionButton]="canCreate() ? createButton : undefined"
               [selectedRow]="service" [pagination]="true"
               [noResultText]="'Aucun service trouvé'">
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}}</td>
      </ng-container>
      <ng-container matColumnDef="voie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Voie</th>
        <td mat-cell *matCellDef="let row">{{row.voie}}</td>
      </ng-container>
      <ng-container matColumnDef="commune">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Commune</th>
        <td mat-cell *matCellDef="let row">{{row.commune}}</td>
      </ng-container>
      <ng-container matColumnDef="pays">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pays</th>
        <td mat-cell *matCellDef="let row">{{row.pays.lib}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button class="secondary-button" mat-button mat-stroked-button (click)="choose(row)">
            <span class="fa fa-check" aria-hidden="true"></span> Sélectionner
          </button>
        </td>
      </ng-container>
    </app-table>
  </mat-expansion-panel>

</mat-accordion>
