<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      Choix du service dans lequel le stage sera effectué
    </mat-expansion-panel-header>

    <div class="row">
      <mat-form-field class="col-md-12" appearance="fill" [hidden]="services.length == 0">
        <mat-label>Selectionez un service :</mat-label>
        <mat-select [(value)]="service" (selectionChange)="choose($event.value)">
          <mat-option *ngFor="let service of services" [value]="service">{{service.nom}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-md-12">
        <button mat-flat-button (click)="initCreate()" color="primary">Créer un nouveau service d'acceuil</button>
      </div>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="service" [disabled]="!service">
    <mat-expansion-panel-header>
      <mat-panel-title>Service d'accueil</mat-panel-title>
    </mat-expansion-panel-header>
    <form *ngIf="service" [formGroup]="form" novalidate (submit)="save()">
      <div class="mt-3 mb-3" *ngIf="service.id && !modif">
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Nom</div>
          <div class="col-sm-9">{{service.nom}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Voie</div>
          <div class="col-sm-9">{{service.voie}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Code postal</div>
          <div class="col-sm-9">{{service.codePostal}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Commune</div>
          <div class="col-sm-9">{{service.commune}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Pays</div>
          <div class="col-sm-9">{{service.pays.lib}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3 font-weight-bold">Téléphone</div>
          <div class="col-sm-9">{{service.telephone}}</div>
        </div>
      </div>
      <div *ngIf="modif && canEdit()">
        <div class="text-title">Général</div>
        <mat-divider class="mb-2"></mat-divider>
          <div class="row">
            <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="nom" required />
              <mat-error><app-form-error [field]="form.get('nom')"></app-form-error></mat-error>
            </mat-form-field>
          </div>
       <div class="text-title">Coordonnées</div>
        <mat-divider class="mb-2"></mat-divider>
        <div class="row">
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Voie</mat-label>
            <input matInput formControlName="voie" required />
            <mat-error><app-form-error [field]="form.get('voie')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Code postal</mat-label>
            <input matInput formControlName="codePostal" required />
            <mat-error><app-form-error [field]="form.get('codePostal')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Bâtiment / Résidence / Z.I</mat-label>
            <input matInput formControlName="batimentResidence" />
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Commune</mat-label>
            <input matInput formControlName="commune" required />
            <mat-error><app-form-error [field]="form.get('commune')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Pays</mat-label>
            <mat-select formControlName="idPays" required>
              <mat-option *ngFor="let country of countries" [value]="country.id">{{country.libelle}}</mat-option>
            </mat-select>
            <mat-error><app-form-error [field]="form.get('idPays')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Téléphone</mat-label>
            <input matInput formControlName="telephone" />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-3" *ngIf="canEdit() || canCreate()">
        <div class="col-sm-6">
          <button mat-button mat-stroked-button color="primary" *ngIf="service.id && !modif" (click)="edit()">Modifier ces informations</button>
          <button mat-button mat-stroked-button color="warn" *ngIf="service.id && modif" (click)="cancelEdit()">{{'BOUTON_ANNULER'|contenu}}</button>
        </div>
        <div class="col-sm-6 text-right" *ngIf="modif">
          <button mat-button mat-flat-button color="primary">{{'BOUTON_VALIDER'|contenu}}</button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
