<mat-tab-group class="centre-gestion" #matTabs (selectedTabChange)="tabChanged($event)">
  <mat-tab #coordCentreTab>
    <ng-template mat-tab-label>
      Coordonnées du centre
      <mat-progress-bar mode="determinate" [value]="getProgressValue(0)" [ngClass]="{editing: tabs[0].statut === 1, done: tabs[0].statut === 2}"></mat-progress-bar>
    </ng-template>
    <app-coord-centre *ngIf="centreGestionInited && (coordCentreTab.isActive || tabs[0].init)" [form]="coordCentreForm" [centreGestion]="centreGestion" (update)="update()" (refreshCentreGestion)="refreshCentreGestion($event)"></app-coord-centre>
  </mat-tab>
  <mat-tab #paramCentreTab [disabled]="centreGestion && !centreGestion.id">
    <ng-template mat-tab-label>
      Paramètres du centre
      <mat-progress-bar mode="determinate" [value]="getProgressValue(1)" [ngClass]="{editing: tabs[1].statut === 1, done: tabs[1].statut === 2}"></mat-progress-bar>
    </ng-template>
    <app-param-centre *ngIf="centreGestionInited && (paramCentreTab.isActive || tabs[1].init)" [form]="paramCentreForm" [centreGestion]="centreGestion" (update)="update()"></app-param-centre>
  </mat-tab>
  <mat-tab #logoCentreTab [disabled]="centreGestion && !centreGestion.id">
    <ng-template mat-tab-label>
      Personnalisation du centre
      <mat-progress-bar mode="determinate" [value]="getProgressValue(2)" [ngClass]="{editing: tabs[2].statut === 1, done: tabs[2].statut === 2}"></mat-progress-bar>
    </ng-template>
    <app-logo-centre *ngIf="centreGestionInited && (logoCentreTab.isActive || tabs[2].init)" [centreGestion]="centreGestion" (refreshCentreGestion)="refreshCentreGestion($event)"></app-logo-centre>
  </mat-tab>
  <mat-tab #gestCentreTab [disabled]="centreGestion && !centreGestion.id">
    <ng-template mat-tab-label>
      Rattacher un gestionnaire
      <mat-progress-bar mode="determinate" [value]="getProgressValue(3)" [ngClass]="{editing: tabs[3].statut === 1, done: tabs[3].statut === 2}"></mat-progress-bar>
    </ng-template>
    <app-gestionnaires *ngIf="centreGestionInited && (gestCentreTab.isActive || tabs[3].init)" [centreGestion]="centreGestion" (refreshPersonnelsCentre)="refreshPersonnelsCentre()"></app-gestionnaires>
  </mat-tab>
  <mat-tab [disabled]="centreGestion && !centreGestion.id" *ngIf="centreGestion && !centreGestion.validationCreation">
    <ng-template mat-tab-label>
      Validation définitive
    </ng-template>
    <mat-card>
      <mat-card-content>
        <span style="display: block">Validation définitive du centre</span>
        <mat-card-actions class="text-center">
          <span (confirm)="validationCreation()" [confirmMessage]="'Voulez-vous vraiment valider la création du centre ?'">
            <button class="validate" mat-flat-button color="primary">Valider la création du centre de gestion</button>
          </span>
          <span (confirm)="delete()" [confirmMessage]="'Voulez-vous vraiment supprimer le brouillon ?'">
            <button class="delete" style="margin-left: 8px" mat-flat-button color="warn">Supprimer le brouillon</button>
          </span>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
