.tabTitle {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
}

.mat-mdc-progress-bar {
  padding: 5px !important;
  display: inline-block !important;
  border-radius: 50% !important;
  width: 80px !important;
  margin: auto !important;
}

.action-buttons button {
  margin-left: 8px;
}
