.tabTitle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-progress-bar {
  margin-top: 4px;
}

.progress-status {
  padding: 5px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: grey;
}

.progress-status.done {
  background-color: var(--successColor);
}

.progress-status.editing {
  background-color: var(--warningColor);
}
