@if (field && field.invalid) {
  @if (field.hasError('required')) {
    <div>Ce champ est obligatoire</div>
  }
  @if (field.hasError('maxlength')) {
    <div>Ce champ est trop long</div>
  }
  @if (field.hasError('minlength')) {
    <div>Ce champ est trop court</div>
  }
  @if (field.hasError('email') || field.hasError('pattern')) {
    <div>Ce champ est invalide</div>
  }
  @if (field.hasError('empty')) {
    <div>Ce champ est vide</div>
  }
  @if (field.hasError('dateStageChevauchement')) {
    <div>Les dates de stage se chevauchent avec d'autres conventions</div>
  }
}
