.danger-color {
  color: var(--dangerColor);
}

.success-color{
  color: var(--successColor);
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
