<div [class]="{error: getType() === 'error', success: getType() === 'success', warning: getType() === 'warning'}">
  <h1 mat-dialog-title>
    <ng-container [ngSwitch]="getType()">
      <i *ngSwitchCase="'error'" class="fa fa-exclamation-triangle"></i>
      <i *ngSwitchCase="'success'" class="fa fa-check"></i>
      <i *ngSwitchCase="'warning'" class="fa fa-exclamation-circle"></i>
    </ng-container>
    {{getTitle()}}
  </h1>

  <div mat-dialog-content [innerHTML]="getMessage()" class="msg-text text-center"></div>

  <mat-dialog-actions align="center">
    <button class="message-ok-button" mat-button mat-dialog-close autofocus>OK</button>
  </mat-dialog-actions>
</div>
