<div [class]="{error: getType() === 'error', success: getType() === 'success', warning: getType() === 'warning', accessDenied: getType() === 'accessDenied'}">
  <h1 mat-dialog-title>
    @switch (getType()) {
      @case ('error') {
        <i class="fa fa-exclamation-triangle"></i>
      }
      @case ('success') {
        <i class="fa fa-check"></i>
      }
      @case ('warning') {
        <i class="fa fa-exclamation-circle"></i>
      }
      @case ('accessDenied') {
        <i class="fa-solid fa-lock"></i>
      }
    }
    {{getTitle()}}
  </h1>

  <div mat-dialog-content [innerHTML]="getMessage()" class="msg-text text-center"></div>

  <mat-dialog-actions align="center">
    <button class="message-ok-button" mat-button mat-dialog-close autofocus>OK</button>
  </mat-dialog-actions>
</div>
