.error {
  h1 {
    color: #e95160 !important;
  }
}

.success {
  h1 {
    color: #adcd68 !important;
  }

}

.warning {
  h1 {
    color: #ffd046 !important;
  }

}

h1 {
  text-align: center;
}

.msg-text {
  white-space: pre-line; /* interprète \n en retours à la ligne, compresse les espaces multiples */
}

.message-ok-button{
  background-color: var(--primaryColor);
  color: white ;
  font-weight: 500;
}
