.convention-etudiant-details {
  display: flex;
}

.convention-etudiant-details mat-card {
  width: 50%;
  margin-bottom: 0;
}

.convention-etudiant-details mat-card:first-child {
  margin-right: 10px;
}
.convention-etudiant-details mat-card:last-child {
  margin-left: 10px;
}
