.mat-row.selected {
  background-color: #e8eaf6;
}

.option-composante {
  margin-left: 10px;
  font-size: 12px;
}

.edit-formation-button{
  width:24px;
  height:24px;
  line-height:24px;
  padding:0;
}

.edit-formation-icon{
  font-size:16px;
  width:16px;
  height:16px;
  line-height:16px;
  margin-left:4px;
}
