<mat-accordion>
  <mat-expansion-panel *ngIf="!isEtudiant && modifiable" [expanded]="!convention.id">
    <mat-expansion-panel-header>
      <mat-panel-title>Recherchez un étudiant via son numéro ou son nom/prénom</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="form" novalidate class="mt-2 mb-3">
      <div class="row">
        <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
          <mat-label>N° étudiant</mat-label>
          <input matInput formControlName="codEtu" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" />
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenom" />
        </mat-form-field>
      </div>
    </form>

    <div class="alert alert-info" *ngIf="etudiants.length === 10">La recherche est limitée à 10 étudiants. Veuillez affiner la recherche si l'étudiant n'apparaît pas.</div>
    <table mat-table [dataSource]="etudiants">
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">Aucun étudiant trouvé</td>
      </tr>
      <ng-container matColumnDef="numetudiant">
        <th mat-header-cell *matHeaderCellDef>N° étudiant</th>
        <td mat-cell *matCellDef="let row">{{row.codEtu}}</td>
      </ng-container>
      <ng-container matColumnDef="nomprenom">
        <th mat-header-cell *matHeaderCellDef>Nom / Prénom</th>
        <td mat-cell *matCellDef="let row">{{row.sn.join(' ')}} {{row.givenName.join(' ')}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-button mat-stroked-button (click)="choose(row)" color="primary">
            <i class="fa fa-check"></i> Sélectionner
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;" [class.selected]="isSelected(row)"></tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="!etudiant" [expanded]="etudiant">
    <mat-expansion-panel-header>
      <mat-panel-title>Cadre du stage</mat-panel-title>
    </mat-expansion-panel-header>
    <form *ngIf="etudiant && formConvention" [formGroup]="formConvention" novalidate (submit)="validate()">
      <div class="convention-etudiant-details">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="text-title"><i class="fa fa-user"></i> Étudiant</div>
            <mat-divider></mat-divider>
            <div class="mt-3 mb-3">
              <div class="row">
                <div class="col-sm-6 font-weight-bold">N° étudiant</div>
                <div class="col-sm-6">{{selectedNumEtudiant}}</div>
              </div>
              <div class="row">
                <div class="col-sm-6 font-weight-bold">Nom</div>
                <div class="col-sm-6">{{etudiant.nompatro}}</div>
              </div>
              <div class="row">
                <div class="col-sm-6 font-weight-bold">Prénom</div>
                <div class="col-sm-6">{{etudiant.prenom}}</div>
              </div>
              <div class="row">
                <div class="col-sm-6 font-weight-bold">Mail institutionnel</div>
                <div class="col-sm-6">{{etudiant.mail}}</div>
              </div>
            </div>

            <div class="text-title"><i class="fa fa-star"></i> Vérifiez les coordonnées</div>
            <mat-divider></mat-divider>
            <div class="mt-3 mb-3">
              <div class="row">
                <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                  <mat-label>Adresse</mat-label>
                  <input matInput formControlName="adresseEtudiant" required />
                  <mat-error><app-form-error [field]="formConvention.get('adresseEtudiant')"></app-form-error></mat-error>
                </mat-form-field>
                <div class="col-sm-12 mb-2" *ngIf="isFr()">
                  <app-form-autocomplete-field [service]="communeService" [field]="formConvention.get('codePostalEtudiant')" [fieldLabel]="'Code postal'" (updated)="updateCommune($event)" [startWith]="false"></app-form-autocomplete-field>
                </div>
                <mat-form-field class="col-sm-12 mb-2" appearance="fill" *ngIf="!isFr()">
                  <mat-label>code Postal</mat-label>
                  <input matInput formControlName="codePostalEtudiant" required />
                  <mat-error><app-form-error [field]="formConvention.get('codePostalEtudiant')"></app-form-error></mat-error>
                </mat-form-field>
                <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                  <mat-label>Commune</mat-label>
                  <input matInput formControlName="villeEtudiant" required />
                  <mat-error><app-form-error [field]="formConvention.get('villeEtudiant')"></app-form-error></mat-error>
                </mat-form-field>
                <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                  <mat-label>Pays</mat-label>
                  <input matInput formControlName="paysEtudiant" required />
                  <mat-error><app-form-error [field]="formConvention.get('paysEtudiant')"></app-form-error></mat-error>
                </mat-form-field>
                <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                  <mat-label>Téléphone</mat-label>
                  <input matInput formControlName="telEtudiant" />
                  <mat-error><app-form-error [field]="formConvention.get('telEtudiant')"></app-form-error></mat-error>
                </mat-form-field>
                <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                  <mat-label>Téléphone portable</mat-label>
                  <input matInput formControlName="telPortableEtudiant" />
                  <mat-error><app-form-error [field]="formConvention.get('telPortableEtudiant')"></app-form-error></mat-error>
                </mat-form-field>
                <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                  <mat-label>Mail personnel</mat-label>
                  <input matInput type="email" formControlName="courrielPersoEtudiant" required />
                  <mat-error><app-form-error [field]="formConvention.get('courrielPersoEtudiant')"></app-form-error></mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="text-title"><i class="fa fa-house-medical"></i> Caisse Primaire d’Assurance Maladie</div>
            <mat-divider></mat-divider>
            <div class="mt-3 mb-3">
              <div class="row">
                <mat-form-field class="col-sm-12 mb-2" appearance="fill" *ngIf="regions.length > 0">
                  <mat-label>Région CPAM</mat-label>
                  <mat-select formControlName="regionCPAM" (selectionChange)="setCPAMLibelles($event)" required>
                    <mat-option *ngFor="let region of regions" [value]="region">{{region}}</mat-option>
                  </mat-select>
                  <mat-error><app-form-error [field]="formConvention.get('regionCPAM')"></app-form-error></mat-error>
                </mat-form-field>
                <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                  <mat-label>Libellé CPAM</mat-label>
                  <input matInput formControlName="libelleCPAM" [matAutocomplete]="auto" required />
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setCPAMRegion($event)">
                    <mat-option *ngFor="let libelle of libelles" [value]="libelle">
                      {{libelle}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error><app-form-error [field]="formConvention.get('libelleCPAM')"></app-form-error></mat-error>
                </mat-form-field>
                <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                  <mat-label>Adresse CPAM</mat-label>
                  <input matInput formControlName="adresseCPAM" required />
                  <mat-error><app-form-error [field]="formConvention.get('adresseCPAM')"></app-form-error></mat-error>
                </mat-form-field>
              </div>
            </div>

          <div class="text-title"><i class="fa fa-graduation-cap"></i> Choisissez le cadre du stage</div>
            <mat-divider></mat-divider>
            <div class="mt-3 mb-3">
              <ng-container *ngIf="inscriptions.length === 0; else hasInscriptions">
                <div class="alert alert-danger">
                  Vous n'êtes inscrit à aucune formation éligible.
                </div>
              </ng-container>
              <ng-template #hasInscriptions>
                <ng-container *ngIf="inscriptions.length > 1">
                  <div class="row">
                    <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                      <mat-label>Formation</mat-label>
                      <mat-select formControlName="inscription" required>
                        <mat-option *ngFor="let inscription of inscriptions" [value]="inscription">{{inscription.etapeInscription.codeEtp + ' - ' + inscription.etapeInscription.libWebVet + ' ' + inscription.annee + '/' + (+inscription.annee + 1)}}<span class="option-composante">({{inscription.etapeInscription.codeComposante}})</span></mat-option>
                      </mat-select>
                      <mat-error><app-form-error [field]="formConvention.get('inscription')"></app-form-error></mat-error>
                    </mat-form-field>
                  </div>
                </ng-container>
                <div *ngIf="selectedInscription">
                  <div class="row">
                    <div class="col-sm-4 font-weight-bold">Année inscription</div>
                    <div class="col-sm-8">{{selectedInscription.annee +'/'+ (+selectedInscription.annee + 1)}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-sm-4 font-weight-bold">Formation</div>
                    <div class="col-sm-8">{{selectedInscription.etapeInscription.codeEtp}}{{selectedInscription.etapeInscription.libComposante != null ? ' - ' + selectedInscription.etapeInscription.libComposante : ''}}</div>
                  </div>
                  <div class="row" *ngIf="selectedInscription.elementPedagogiques.length > 0">
                    <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                      <mat-label>Élément pédagogique</mat-label>
                      <mat-select formControlName="inscriptionElp" [required]="!sansElp">
                        <mat-option *ngFor="let elp of selectedInscription.elementPedagogiques" [value]="elp">{{elp.codElp + ' - ' + elp.libElp + ' : ' + elp.nbrCrdElp + ' crédits ECTS'}}</mat-option>
                      </mat-select>
                      <mat-error><app-form-error [field]="formConvention.get('inscriptionElp')"></app-form-error></mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row align-items-start">
                    <label class="col-sm-12">Nombre d'heures de formation * :</label>
                      <mat-radio-group class="col-sm-12" formControlName="volumeHoraireFormationBool">
                        <mat-radio-button class="mb-2" value="false" [checked]="this.defaultVolumeHoraire && this.defaultVolumeHoraire > 0 ? false : true" [disabled]="this.defaultVolumeHoraire && this.defaultVolumeHoraire > 0" (click)="changevolumeHoraireFormationBool(false)">Plus de 200 heures</mat-radio-button>
                        <mat-radio-button value="true" [checked]="this.defaultVolumeHoraire && this.defaultVolumeHoraire > 0 ? true : false" (click)="changevolumeHoraireFormationBool(true)">{{ !(this.defaultVolumeHoraire && this.defaultVolumeHoraire > 0) ? "Saisie manuelle" : "Valeur récupérée via les données de l'établissement (Apogée)"}} :</mat-radio-button>
                      </mat-radio-group>
                  </div>
                </div>
                  <div class="row">
                    <mat-form-field *ngIf="volumeHoraireFormationBool==true" class="col-sm-12 mb-2" appearance="fill">
                      <mat-label>Entrez le nombre d'heures de formation :</mat-label>
                      <input matInput formControlName="volumeHoraireFormation"/>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field class="col-sm-12 mb-2" appearance="fill">
                      <mat-label>Type de convention</mat-label>
                      <mat-select formControlName="idTypeConvention" required>
                        <mat-option *ngFor="let typeConvention of typeConventions" [value]="typeConvention.id">{{typeConvention.libelle}}</mat-option>
                      </mat-select>
                      <mat-error><app-form-error [field]="formConvention.get('idTypeConvention')"></app-form-error></mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-sm-12 mb-2" appearance="fill" *ngIf="langueConventions.length > 0">
                      <mat-label>Langue de la convention</mat-label>
                      <mat-select formControlName="codeLangueConvention" required>
                        <mat-option *ngFor="let langueConvention of langueConventions" [value]="langueConvention.code">{{langueConvention.libelle}}</mat-option>
                      </mat-select>
                      <mat-error><app-form-error [field]="formConvention.get('codeLangueConvention')"></app-form-error></mat-error>
                    </mat-form-field>
                  </div>
              </ng-template>
            </div>

            <div *ngIf="selectedInscription">
              <div class="text-title"><i class="fa fa-book-open"></i> Consignes</div>
              <mat-divider></mat-divider>
              <div class="mt-2" [innerHTML]="trustHtml(consigneEtablissement.texte)"></div>
              <div *ngFor="let doc of consigneEtablissement.documents">
                <a href (click)="downloadDoc($event, doc)"><i class="fa fa-paperclip"></i> {{doc.nomReel}}</a>
              </div>
              <div class="mt-3" *ngIf="centreGestion && centreGestion.niveauCentre.libelle !== 'ETABLISSEMENT' && centreGestion.consigne">
                <div [innerHTML]="trustHtml(centreGestion.consigne.texte)"></div>
                <div *ngFor="let doc of centreGestion.consigne.documents">
                  <a href (click)="downloadDoc($event, doc)"><i class="fa fa-paperclip"></i> {{doc.nomReel}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 text-right">
        <span *ngIf="!convention.validationCreation" (confirm)="deleteConventionBrouillon()" [confirmMessage]="'Voulez-vous réinitialiser la création de la convention ?'" class="mr-2">
          <button type="button" mat-flat-button color="warn">Supprimer</button>
        </span>
        <span *ngIf="canDelete()" (confirm)="deleteConvention()" [confirmMessage]="'Voulez-vous vraiment supprimer la convention ?'" class="mr-2">
          <button type="button" mat-flat-button color="warn">Supprimer</button>
        </span>
        <button mat-flat-button color="primary" [disabled]="!centreGestion || inscriptions.length === 0 || !selectedInscription">{{'BOUTON_VALIDER'|contenu}}</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
