<div>
  <b>Bienvenue sur votre application de gestion des conventions de Stage.</b>
  <p>
    Pour tout renseignement et instructions, merci de vous référer à <a href="https://my.dauphine.fr/page/etudes/convention-de-stage" target="_blank">MyDauphine Infos Stages</a>.<br/>
    <br/>
    Attention, vérifier que l'attestation de Responsabilité Civile fournie lors de votre inscription administrative couvre bien au minimum la période de stage (convention + avenant de prolongation éventuel).<br/>
    <br/>
    <span class="text-red">Information importante - COVID-19</span><br/>
    Chère étudiante, cher étudiant,<br/>
    pour toute information concernant votre stage (télétravail, report, etc) un seul réflexe à avoir : consulter le <a href="https://dauphine.psl.eu/covid-19/etudiants/stages" target="_blank" class="underline fontBlue2">site Internet de Dauphine</a>.<br/>
    Prenez soin de vous<br/>
  </p>
</div>
