mat-icon {
  margin-right: 10px;
}

.mat-list-item {
  font-size: var(--fontSize);
  height: 48px !important;
}

.mat-list-item.active {
  background-color: #e8eaf6;
}

.mat-icon {
  height: 20px !important;
  width: 20px !important;
}
.material-icons, .mat-list-icon {
  font-size: 20px !important;
}

.badge-alerte::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  content: '';
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: var(--dangerColor);
  border-radius: 50%;
}
