<li *ngIf="!item.canView || item.canView()" class="menu-item">
  <div class="menu-item__row" [style.padding-left.px]="(depth * 12) + 8">
    <button *ngIf="hasChildren"
            type="button"
            class="menu-item__toggle"
            (click)="toggleChildren()"
            [attr.aria-expanded]="expanded"
            [attr.aria-controls]="submenuId"
            aria-label="Basculer le sous-menu">
      <mat-icon color="primary" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">chevron_right</mat-icon>
    </button>
    <ng-container *ngIf="!hasChildren; else parentLabel">
      <a class="menu-item__link"
         [routerLink]="item.path"
         [ngClass]="{'active': item.path ? router.isActive(item.path, true): false}"
         [attr.aria-current]="item.path && router.isActive(item.path, true) ? 'page' : null"
         (click)="onItemSelected(item)">
        <mat-icon *ngIf="item.icon" fontSet="fa" [fontIcon]="item.icon" color="primary"></mat-icon>
        <span [class.badge-alerte]="item.alerte">{{item.libelle}}</span>
      </a>
    </ng-container>
    <ng-template #parentLabel>
      <span class="menu-item__link menu-item__link--parent"
            tabindex="0"
            (click)="toggleChildren()"
            (keydown.enter)="toggleChildren()"
            (keydown.space)="toggleChildren(); $event.preventDefault();"
            [attr.aria-expanded]="expanded"
            [attr.aria-controls]="submenuId">
        <span [class.badge-alerte]="item.alerte">{{item.libelle}}</span>
      </span>
    </ng-template>
  </div>

  <ul *ngIf="hasChildren && expanded" [id]="submenuId" class="menu-sublist">
    <app-menu *ngFor="let child of item.children" [item]="child" [depth]="depth+1"></app-menu>
  </ul>
</li>
