<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
   [ngClass]="{'active': item.path ? router.isActive(item.path, true): false, 'expanded': expanded}"
   *ngIf="!item.canView || item.canView()"
   class="menu-list-item">
  <ng-container>
    <mat-icon *ngIf="item.icon && !item.children" matListIcon fontSet="fa" [fontIcon]="item.icon" color="primary"></mat-icon>
    <mat-icon *ngIf="item.children" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" color="primary">expand_less</mat-icon>
  </ng-container>
  <span [class.badge-alerte]="item.alerte">{{item.libelle}}</span>
</a>
<div *ngIf="expanded">
  <app-menu *ngFor="let child of item.children" [item]="child" [depth]="depth+1"></app-menu>
</div>
