<mat-tab-group #tabs (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let nomenclature of nomenclatures">
    <ng-template mat-tab-label>{{nomenclature.label}}</ng-template>
    <app-table [service]="nomenclature.service" [columns]="columns" [sortColumn]="sortColumn" [filters]="filters"
               matSort [matSortActive]="sortColumn" [matSortDirection]="'asc'" (matSortChange)="appTables ? appTables.toArray()[nomenclature.tableIndex].sorting($event) : null">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nomenclature.key == 'id' ? 'Id' : 'Code'}}</th>
        <td mat-cell *matCellDef="let row">{{nomenclature.key == 'id' ? row.id : row.code}}</td>
      </ng-container>
      <ng-container matColumnDef="libelle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</th>
        <td mat-cell *matCellDef="let row">{{row.libelle}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Éditer" (click)="openEditionModal(nomenclature.service, row, nomenclature.tableIndex)" [disabled]="!row.modifiable"><i class="fa fa-pen"></i></button>
          <button mat-icon-button matTooltip="Désactiver" (click)="setState(nomenclature.service, row, 'désactiver', nomenclature.tableIndex)" *ngIf="row.temEnServ == 'O'"><i class="fa fa-trash"></i></button>
          <button mat-icon-button matTooltip="Réactiver" (click)="setState(nomenclature.service, row, 'réactiver', nomenclature.tableIndex)" *ngIf="row.temEnServ == 'N'"><i class="fa fa-sync"></i></button>
        </td>
      </ng-container>
    </app-table>
  </mat-tab>
</mat-tab-group>
