<mat-tab-group #tabGroup class="convention" (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="conventionTabIndex">
  <mat-tab #selectEtuTab>
    <ng-template mat-tab-label>
      <div class="tabTitle">
      Sélection d'un groupe d'étudiants
      <mat-progress-bar mode="determinate" [value]="33" [ngClass]="{editing: tabs[0].statut === 1, done: tabs[0].statut === 2}"></mat-progress-bar>
      </div>
    </ng-template>
    <app-selection-groupe-etu *ngIf="tabs[0].init"  (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-selection-groupe-etu>
  </mat-tab>
  <mat-tab #infosStageTab [disabled]="!groupeEtudiant">
    <ng-template mat-tab-label>
      <div class="tabTitle">
      Informations relatives au stage
      <mat-progress-bar mode="determinate" [value]="getProgressValue(1)" [ngClass]="{editing: tabs[1].statut === 1, done: tabs[1].statut === 2}"></mat-progress-bar>
      </div>
    </ng-template>
    <app-infos-stage *ngIf="infosStageTab.isActive || tabs[1].init" (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-infos-stage>
  </mat-tab>
  <mat-tab #cadreStageTab [disabled]="!groupeEtudiant">
    <ng-template mat-tab-label>
      <div class="tabTitle">
      Cadre du stage
      <mat-progress-bar mode="determinate" [value]="getProgressValue(2)" [ngClass]="{editing: tabs[2].statut === 1, done: tabs[2].statut === 2}"></mat-progress-bar>
      </div>
    </ng-template>
    <app-cadre-stage *ngIf="cadreStageTab.isActive || tabs[2].init" (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-cadre-stage>
  </mat-tab>
  <mat-tab #etabAccueilTab [disabled]="!groupeEtudiant">
    <ng-template mat-tab-label>
      <div class="tabTitle">
      Etab. d'accueil
      <mat-progress-bar mode="determinate" [value]="getProgressValue(3)" [ngClass]="{editing: tabs[3].statut === 1, done: tabs[3].statut === 2}"></mat-progress-bar>
      </div>
    </ng-template>
    <app-etab-accueil-groupe *ngIf="etabAccueilTab.isActive || tabs[3].init" (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-etab-accueil-groupe>
  </mat-tab>
  <mat-tab #serviceAccueilTab [disabled]="!groupeEtudiant || !allValidStructure()">
    <ng-template mat-tab-label>
      <div class="tabTitle">
      Service d'accueil
      <mat-progress-bar mode="determinate" [value]="getProgressValue(4)" [ngClass]="{editing: tabs[4].statut === 1, done: tabs[4].statut === 2}"></mat-progress-bar>
      </div>
    </ng-template>
    <app-service-accueil-groupe *ngIf="serviceAccueilTab.isActive || tabs[4].init" (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-service-accueil-groupe>
  </mat-tab>
  <mat-tab #tuteurAccueilTab [disabled]="!groupeEtudiant || !allValidStructure() || !allValidService()">
    <ng-template mat-tab-label>
      <div class="tabTitle">
      Tuteur professionnel
      <mat-progress-bar mode="determinate" [value]="getProgressValue(5)" [ngClass]="{editing: tabs[5].statut === 1, done: tabs[5].statut === 2}"></mat-progress-bar>
      </div>
    </ng-template>
    <app-tuteur-accueil-groupe *ngIf="tuteurAccueilTab.isActive || tabs[5].init" (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-tuteur-accueil-groupe>
  </mat-tab>
  <mat-tab #enseignantTab [disabled]="!groupeEtudiant">
    <ng-template mat-tab-label>
      <div class="tabTitle">
      Enseignant
      <mat-progress-bar mode="determinate" [value]="getProgressValue(6)" [ngClass]="{editing: tabs[6].statut === 1, done: tabs[6].statut === 2}"></mat-progress-bar>
      </div>
    </ng-template>
    <app-enseignant-groupe *ngIf="enseignantTab.isActive || tabs[6].init" (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-enseignant-groupe>
  </mat-tab>
  <mat-tab #signataireTab [disabled]="!groupeEtudiant || !allValidStructure()">
    <ng-template mat-tab-label>
      <div class="tabTitle">
      Signataire
      <mat-progress-bar mode="determinate" [value]="getProgressValue(7)" [ngClass]="{editing: tabs[7].statut === 1, done: tabs[7].statut === 2}"></mat-progress-bar>
      </div>
    </ng-template>
    <app-signataire-groupe *ngIf="signataireTab.isActive || tabs[7].init" (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-signataire-groupe>
  </mat-tab>
  <mat-tab #validationCreationTab [disabled]="!groupeEtudiant">
    <ng-template mat-tab-label>
      <div class="tabTitle">
      Finaliser/Valider la {{groupeEtudiant && groupeEtudiant.validationCreation ? 'modification' : 'creation'}}
      </div>
    </ng-template>
    <app-validation-creation (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [allValid]="allValid"></app-validation-creation>
  </mat-tab>
</mat-tab-group>
