@if (isModif) {
  <app-retour-liste path="/convention-create-en-masse/groupes" ></app-retour-liste>
}
<mat-tab-group #tabGroup class="convention" (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="conventionTabIndex">
  <mat-tab #selectEtuTab>
    <ng-template mat-tab-label>
      <div class="tabTitle">
        Sélection d'un groupe d'étudiants
        <mat-progress-bar
          mode="determinate"
          [value]="progressValue(tabs[0]?.statut)"
          [ngClass]="progressClass(tabs[0]?.statut)"
          role="progressbar"
          [attr.aria-valuenow]="progressValue(tabs[0]?.statut)"
          aria-valuemin="0"
          aria-valuemax="100"
          [attr.aria-valuetext]="getProgressText(0, progressValue(tabs[0]?.statut), tabs[0]?.statut)"
        ></mat-progress-bar>
      </div>
    </ng-template>
    @if (tabs[0].init) {
      <app-selection-groupe-etu  (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-selection-groupe-etu>
    }
  </mat-tab>
  <mat-tab #infosStageTab [disabled]="!groupeEtudiant">
    <ng-template mat-tab-label>
      <div class="tabTitle">
        Informations relatives au stage
        <mat-progress-bar
          mode="determinate"
          [value]="progressValue(tabs[1]?.statut)"
          [ngClass]="progressClass(tabs[1]?.statut)"
          role="progressbar"
          [attr.aria-valuenow]="progressValue(tabs[1]?.statut)"
          aria-valuemin="0"
          aria-valuemax="100"
          [attr.aria-valuetext]="getProgressText(1, progressValue(tabs[1]?.statut), tabs[1]?.statut)"
        ></mat-progress-bar>
      </div>
    </ng-template>
    @if (infosStageTab.isActive || tabs[1].init) {
      <app-infos-stage (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-infos-stage>
    }
  </mat-tab>
  <mat-tab #cadreStageTab [disabled]="!groupeEtudiant">
    <ng-template mat-tab-label>
      <div class="tabTitle">
        Cadre du stage
        <mat-progress-bar
          mode="determinate"
          [value]="progressValue(tabs[2]?.statut)"
          [ngClass]="progressClass(tabs[2]?.statut)"
          role="progressbar"
          [attr.aria-valuenow]="progressValue(tabs[2]?.statut)"
          aria-valuemin="0"
          aria-valuemax="100"
          [attr.aria-valuetext]="getProgressText(2, progressValue(tabs[2]?.statut), tabs[2]?.statut)"
        ></mat-progress-bar>
      </div>
    </ng-template>
    @if (cadreStageTab.isActive || tabs[2].init) {
      <app-cadre-stage (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-cadre-stage>
    }
  </mat-tab>
  <mat-tab #etabAccueilTab [disabled]="!groupeEtudiant">
    <ng-template mat-tab-label>
      <div class="tabTitle">
        Etab. d'accueil
        <mat-progress-bar
          mode="determinate"
          [value]="progressValue(tabs[3]?.statut)"
          [ngClass]="progressClass(tabs[3]?.statut)"
          role="progressbar"
          [attr.aria-valuenow]="progressValue(tabs[3]?.statut)"
          aria-valuemin="0"
          aria-valuemax="100"
          [attr.aria-valuetext]="getProgressText(3, progressValue(tabs[3]?.statut), tabs[3]?.statut)"
        ></mat-progress-bar>
      </div>
    </ng-template>
    @if (etabAccueilTab.isActive || tabs[3].init) {
      <app-etab-accueil-groupe (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-etab-accueil-groupe>
    }
  </mat-tab>
  <mat-tab #serviceAccueilTab [disabled]="!groupeEtudiant || !percentValidStructure()">
    <ng-template mat-tab-label>
      <div class="tabTitle">
        Service d'accueil
        <mat-progress-bar
          mode="determinate"
          [value]="progressValue(tabs[4]?.statut)"
          [ngClass]="progressClass(tabs[4]?.statut)"
          role="progressbar"
          [attr.aria-valuenow]="progressValue(tabs[4]?.statut)"
          aria-valuemin="0"
          aria-valuemax="100"
          [attr.aria-valuetext]="getProgressText(4, progressValue(tabs[4]?.statut), tabs[4]?.statut)"
        ></mat-progress-bar>
      </div>
    </ng-template>
    @if (serviceAccueilTab.isActive || tabs[4].init) {
      <app-service-accueil-groupe (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-service-accueil-groupe>
    }
  </mat-tab>
  <mat-tab #tuteurAccueilTab [disabled]="!groupeEtudiant || !percentValidService()">
    <ng-template mat-tab-label>
      <div class="tabTitle">
        Tuteur professionnel
        <mat-progress-bar
          mode="determinate"
          [value]="progressValue(tabs[5]?.statut)"
          [ngClass]="progressClass(tabs[5]?.statut)"
          role="progressbar"
          [attr.aria-valuenow]="progressValue(tabs[5]?.statut)"
          aria-valuemin="0"
          aria-valuemax="100"
          [attr.aria-valuetext]="getProgressText(5, progressValue(tabs[5]?.statut), tabs[5]?.statut)"
        ></mat-progress-bar>
      </div>
    </ng-template>
    @if (tuteurAccueilTab.isActive || tabs[5].init) {
      <app-tuteur-accueil-groupe (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-tuteur-accueil-groupe>
    }
  </mat-tab>
  <mat-tab #enseignantTab [disabled]="!groupeEtudiant">
    <ng-template mat-tab-label>
      <div class="tabTitle">
        Enseignant
        <mat-progress-bar
          mode="determinate"
          [value]="progressValue(tabs[6]?.statut)"
          [ngClass]="progressClass(tabs[6]?.statut)"
          role="progressbar"
          [attr.aria-valuenow]="progressValue(tabs[6]?.statut)"
          aria-valuemin="0"
          aria-valuemax="100"
          [attr.aria-valuetext]="getProgressText(6, progressValue(tabs[6]?.statut), tabs[6]?.statut)"
        ></mat-progress-bar>
      </div>
    </ng-template>
    @if (enseignantTab.isActive || tabs[6].init) {
      <app-enseignant-groupe (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-enseignant-groupe>
    }
  </mat-tab>
  <mat-tab #signataireTab [disabled]="!groupeEtudiant || !percentValidStructure()">
    <ng-template mat-tab-label>
      <div class="tabTitle">
        {{ "TITRE_TAB_SIGNATAIRE_CONVENTION_CREATE_EN_MASSE" | contenu }}
        <mat-progress-bar
          mode="determinate"
          [value]="progressValue(tabs[7]?.statut)"
          [ngClass]="progressClass(tabs[7]?.statut)"
          role="progressbar"
          [attr.aria-valuenow]="progressValue(tabs[7]?.statut)"
          aria-valuemin="0"
          aria-valuemax="100"
          [attr.aria-valuetext]="getProgressText(7, progressValue(tabs[7]?.statut), tabs[7]?.statut)"
        ></mat-progress-bar>
      </div>
    </ng-template>
    @if (signataireTab.isActive || tabs[7].init) {
      <app-signataire-groupe (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [sharedData]="sharedData"></app-signataire-groupe>
    }
  </mat-tab>
  <mat-tab #validationCreationTab [disabled]="!groupeEtudiant">
    <ng-template mat-tab-label>
      <div class="tabTitle">
        Finaliser/Valider la {{groupeEtudiant && groupeEtudiant.validationCreation ? 'modification' : 'creation'}}
      </div>
    </ng-template>
    <app-validation-creation (validated)="updateGroupeEtudiant($event)" [groupeEtudiant]="groupeEtudiant" [allValid]="allValid"></app-validation-creation>
  </mat-tab>
</mat-tab-group>