<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Paramètres</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      <mat-card-content>
        <form [formGroup]="form">
          <div class="row">
            <div class="col-sm-12 col-md-8">
              <div>
                <span>Critère de gestion de la confidentialité : </span>
                <mat-form-field>
                  <mat-select formControlName="codeConfidentialite" [compareWith]="compareCode">
                    <mat-option *ngFor="let confidentialite of confidentialites" [value]="confidentialite">{{confidentialite.libelle}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <mat-checkbox formControlName="saisieTuteurProParEtudiant">Autoriser les étudiants à saisir leur tuteur professionnel</mat-checkbox>
              </div>
              <div>
                <mat-checkbox formControlName="autorisationEtudiantCreationConvention">Autoriser les étudiants à créer des conventions</mat-checkbox>
              </div>
              <div>
                <mat-checkbox formControlName="recupInscriptionAnterieure" (change)="toggleRecupInscription()">Autoriser les gestionnaires à créer des conventions sur l'année universitaire précédente</mat-checkbox>
              </div>
              <div *ngIf="form.get('recupInscriptionAnterieure')?.value">
                <span><i>Limité à une durée de</i></span>
                <mat-form-field class="col-sm-12 col-md-2">
                  <mat-select formControlName="dureeRecupInscriptionAnterieure">
                    <mat-option *ngFor="let duree of dureeRecupList" [value]="duree">{{duree}} Mois</mat-option>
                  </mat-select>
                </mat-form-field>
                <span><i>après la date de bascule de l'année universitaire</i></span>
              </div>
              <div>
                <mat-form-field class="col-sm-12 col-md-12" appearance="fill" style="margin-left: -15px">
                  <mat-label>Url de la page d'instruction des consignes d'impression (facultatif)</mat-label>
                  <input matInput placeholder="http://siteinternet.fr/..." formControlName="urlPageInstruction">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="col-sm-12 col-md-12" appearance="fill" style="margin-left: -15px">
                  <mat-label>Nombre de jours avant le début du stage pour l'affichage de l'alerte de validation d'une convention</mat-label>
                  <input type="number" matInput formControlName="delaiAlerteConvention" required>
                  <mat-error><app-form-error [field]="form.get('delaiAlerteConvention')"></app-form-error></mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="form.get('nomViseur')?.value">
                <div class="row">
                  <div class="col-sm-6"><b>Nom du viseur</b> &nbsp; {{form.get('nomViseur')?.value}}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6"><b>Prénom du viseur</b> &nbsp; {{form.get('prenomViseur')?.value}}</div>
                </div>
                <div>
                  <mat-form-field class="col-sm-12 col-md-12" appearance="fill" style="margin-left: -15px">
                    <mat-label>Qualité du viseur</mat-label>
                    <input matInput formControlName="qualiteViseur">
                  </mat-form-field>
                </div>
                <mat-dialog-actions>
                  <button mat-flat-button color="warn" (click)="resetViseur()">Retirer ce viseur</button>
                </mat-dialog-actions>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="text-title"><i class="fa fa-check"></i> Validations</div>
              <div>
                <mat-checkbox formControlName="validationPedagogique">{{validationLibelles.validationPedagogique}} des conventions</mat-checkbox>
              </div>
              <div *ngIf="form.get('validationPedagogique')?.value">
                <div>
                  <mat-checkbox formControlName="verificationAdministrative">Vérification administrative des conventions</mat-checkbox>
                </div>
              </div>
              <div>
                <mat-checkbox formControlName="validationConvention">{{validationLibelles.validationConvention}} des conventions</mat-checkbox>
              </div>
              <div *ngIf="validationsActives.length > 0">
                <p>Choix de l'ordre :</p>
                <div cdkDropList [cdkDropListData]="validationsActives" (cdkDropListDropped)="dropValidation($event)">
                  <div class="validation-ordre" *ngFor="let val of validationsActives" cdkDrag>
                    <span cdkDragHandle>{{val.ordre}}</span>{{val.libelle}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Choix du viseur</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="viseurForm" novalidate class="mt-2 mb-3">
      <div class="row">
        <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" />
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenom" />
        </mat-form-field>
      </div>
    </form>

    <div class="alert alert-info" *ngIf="enseignants.length > 10">La recherche est limitée à 10 enseignants. Veuillez affiner la recherche si l'enseignant n'apparaît pas.</div>
    <table mat-table [dataSource]="enseignants | slice:0:10">
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">Aucun enseignant trouvé</td>
      </tr>
      <ng-container matColumnDef="nomprenom">
        <th mat-header-cell *matHeaderCellDef>Nom / Prénom</th>
        <td mat-cell *matCellDef="let row">{{row.displayName}}</td>
      </ng-container>
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef>Mail</th>
        <td mat-cell *matCellDef="let row">{{row.mail}}</td>
      </ng-container>
      <ng-container matColumnDef="departement">
        <th mat-header-cell *matHeaderCellDef>Département</th>
        <td mat-cell *matCellDef="let row">-</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-button mat-stroked-button (click)="choose(row)" color="primary">
            <span *ngIf="true"><i class="fa fa-check"></i> Sélectionner</span>
            <ng-template #notSelected>
              <i class="fa fa-check-circle"></i> Sélectionner
            </ng-template>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
