<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <div>
        <mat-checkbox formControlName="saisieTuteurProParEtudiant">Autoriser les étudiants à saisir leur tuteur professionnel</mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="autorisationEtudiantCreationConvention">Autoriser les étudiants à créer des conventions</mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="validationPedagogique">Validation pédagogique des conventions</mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="recupInscriptionAnterieure">Autoriser les gestionnaires à créer des conventions sur l'année universitaire précédente</mat-checkbox>
      </div>
    </form>
  </mat-card-content>
</mat-card>
