<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Paramètres</mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div>
            <label for="codeConfidentialite">Critère de gestion de la confidentialité : </label>
            <mat-form-field id="codeConfidentialite" class="col-sm-12 col-md-6" appearance="fill">
              <mat-select formControlName="codeConfidentialite" [compareWith]="compareCode">
                <mat-option *ngFor="let confidentialite of confidentialites" [value]="confidentialite">{{confidentialite.libelle}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox formControlName="saisieTuteurProParEtudiant">Autoriser les étudiants à saisir leur tuteur professionnel</mat-checkbox>
          </div>
          <div>
            <mat-checkbox formControlName="autoriserImpressionConvention">Autoriser les étudiants à imprimer leur(s) convention(s)</mat-checkbox>
          </div>
          <div *ngIf="form.get('autoriserImpressionConvention')?.value">
            <div class="mb-2">Sous Conditions : </div>
            <mat-radio-group style="display: grid" formControlName="conditionValidationImpression">
              <mat-radio-button style="margin-left: 10px" [value]="0">Aucune condition (l’étudiant pourra imprimer sa convention, validée ou pas)</mat-radio-button>
              <mat-radio-button style="margin-left: 10px" [value]="1">Uniquement sous réserve de validation pédagogique</mat-radio-button>
              <mat-radio-button style="margin-left: 10px" [value]="2">Uniquement sous réserve de validation administrative</mat-radio-button>
              <mat-radio-button style="margin-left: 10px" [value]="3">Uniquement sous réserve de validation pédagogique et administrative</mat-radio-button>
              <mat-radio-button style="margin-left: 10px" [value]="4">Uniquement sous réserve de vérification administrative</mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <mat-checkbox formControlName="autorisationEtudiantCreationConvention">Autoriser les étudiants à créer des conventions</mat-checkbox>
          </div>
          <div>
            <mat-checkbox formControlName="recupInscriptionAnterieure" (change)="toggleRecupInscription()">Autoriser les gestionnaires à créer des conventions sur l'année universitaire précédente</mat-checkbox>
          </div>
          <div *ngIf="form.get('recupInscriptionAnterieure')?.value">
            <span><i>Limité à une durée de</i></span>
            <mat-form-field class="col-sm-12 col-md-2">
              <mat-select formControlName="dureeRecupInscriptionAnterieure">
                <mat-option *ngFor="let duree of dureeRecupList" [value]="duree">{{duree}} Mois</mat-option>
              </mat-select>
            </mat-form-field>
            <span><i>après la date de bascule de l'année universitaire</i></span>
          </div>
          <div>
            <mat-checkbox formControlName="autoriserChevauchement">Autoriser le chevauchement des périodes de stage</mat-checkbox>
          </div>
          <div>
            <mat-checkbox formControlName="autoriserImpressionConventionApresCreationAvenant">Autoriser les étudiants à imprimer leur(s) convention(s) après création d'un avenant</mat-checkbox>
          </div>
          <div>
            <mat-checkbox formControlName="onlyMailCentreGestion">Recevoir les mails uniquement à l'adresse mail de ce centre de gestion</mat-checkbox>
          </div>
          <div>
            <mat-form-field class="col-sm-12 col-md-12" appearance="fill" style="margin-left: -15px">
              <mat-label>Url de la page d'instruction des consignes d'impression (facultatif)</mat-label>
              <input matInput placeholder="http://siteinternet.fr/..." formControlName="urlPageInstruction">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="col-sm-12 col-md-12" appearance="fill" style="margin-left: -15px">
              <mat-label>Nombre de jours avant le début du stage pour l'affichage de l'alerte de validation d'une convention</mat-label>
              <input type="number" matInput formControlName="delaiAlerteConvention" required>
              <mat-error><app-form-error [field]="form.get('delaiAlerteConvention')"></app-form-error></mat-error>
            </mat-form-field>
          </div>
          <h4 class="text-title">Viseur</h4>
          <div *ngIf="form.get('nomViseur')?.value; else noViseur">
            <div class="row">
              <div class="col"><b>Nom du viseur</b> &nbsp; {{form.get('nomViseur')?.value}}</div>
            </div>
            <div class="row">
              <div class="col"><b>Prénom du viseur</b> &nbsp; {{form.get('prenomViseur')?.value}}</div>
            </div>
            <div class="row">
              <div class="col"><b>Adresse mail du viseur</b> &nbsp; {{form.get('mailViseur')?.value}}</div>
            </div>
            <div>
              <mat-form-field class="col-sm-12 col-md-12" appearance="fill" style="margin-left: -15px">
                <mat-label>Qualité du viseur</mat-label>
                <input matInput formControlName="qualiteViseur">
              </mat-form-field>
            </div>
            <mat-dialog-actions>
              <button class="cancel-button" mat-flat-button (click)="resetViseur()">Retirer ce viseur</button>
            </mat-dialog-actions>
          </div>
          <ng-template #noViseur>
            <p>Aucun viseur n'est renseigné pour ce centre de gestion.</p>
          </ng-template>
          <div class="mt-4">
            <h4 class="text-title">Délégation du viseur</h4>

            <div *ngIf="form.get('nomViseur')?.value; else noViseurForDelegation">
              <p>
                <i>Le délégataire se substitue au viseur pour la signature électronique des conventions et avenants.</i>
              </p>

              <div *ngIf="form.get('nomDelegataireViseur')?.value; else noDelegataire">
                <div class="row">
                  <div class="col">
                    <b>Nom du délégataire</b> &nbsp; {{form.get('nomDelegataireViseur')?.value}}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <b>Prénom du délégataire</b> &nbsp; {{form.get('prenomDelegataireViseur')?.value}}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <b>Adresse mail du délégataire</b> &nbsp; {{form.get('mailDelegataireViseur')?.value}}
                  </div>
                </div>
                <div>
                  <mat-form-field class="col-sm-12 col-md-12" appearance="fill" style="margin-left: -15px">
                    <mat-label>Qualité du délégataire</mat-label>
                    <input matInput formControlName="qualiteDelegataireViseur">
                  </mat-form-field>
                </div>
                <mat-dialog-actions>
                  <button class="cancel-button" mat-flat-button (click)="resetDelegataire()">
                    Retirer ce délégataire
                  </button>
                </mat-dialog-actions>
              </div>

              <ng-template #noDelegataire>
                <p>Aucun délégataire n'est renseigné pour ce viseur.</p>
              </ng-template>
            </div>
            <ng-template #noViseurForDelegation>
              <p class="text-muted">
                Aucun viseur n'est renseigné. Veuillez d'abord sélectionner un viseur avant de définir un délégataire.
              </p>
            </ng-template>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="text-title"><span class="fa fa-check" aria-hidden="true"></span> Validations</h4>
          <div>
            <mat-checkbox formControlName="validationPedagogique">{{validationLibelles.validationPedagogique}} des conventions</mat-checkbox>
          </div>
          <div *ngIf="form.get('validationPedagogique')?.value">
            <div>
              <mat-checkbox formControlName="verificationAdministrative">Vérification administrative des conventions</mat-checkbox>
            </div>
          </div>
          <div>
            <mat-checkbox formControlName="validationConvention">{{validationLibelles.validationConvention}} des conventions</mat-checkbox>
          </div>
          <div *ngIf="validationsActives.length > 0">
            <p>Choix de l'ordre :</p>
            <div
              cdkDropList
              [cdkDropListData]="validationsActives"
              (cdkDropListDropped)="dropValidation($event)"
              role="list"
              aria-label="Ordre des validations - utilisez le glisser-déposer ou les boutons pour réorganiser">
              <div
                class="validation-ordre"
                *ngFor="let val of validationsActives; let index = index; let first = first; let last = last"
                cdkDrag
                role="listitem"
                [attr.aria-label]="'Validation ' + val.ordre + ' : ' + val.libelle">
                <div class="validation-content">
          <span class="validation-handle" cdkDragHandle aria-hidden="true">
            <span class="drag-icon">⋮⋮</span>
            <span class="validation-number">{{val.ordre}}</span>
          </span>
                  <span class="validation-label">{{val.libelle}}</span>
                  <span class="validation-actions">
            <button
              mat-icon-button
              type="button"
              [disabled]="first"
              (click)="moveValidationUp(index)"
              [attr.aria-label]="'Déplacer ' + val.libelle + ' vers le haut'"
              matTooltip="Déplacer vers le haut"
              class="validation-move-btn">
              <mat-icon aria-hidden="true">arrow_upward</mat-icon>
            </button>
            <button
              mat-icon-button
              type="button"
              [disabled]="last"
              (click)="moveValidationDown(index)"
              [attr.aria-label]="'Déplacer ' + val.libelle + ' vers le bas'"
              matTooltip="Déplacer vers le bas"
              class="validation-move-btn">
              <mat-icon aria-hidden="true">arrow_downward</mat-icon>
            </button>
          </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Choix du viseur</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="viseurForm" novalidate class="mt-2 mb-3">
      <div class="row">
        <fieldset>
          <legend class="sr-only">Filtre de recherche du viseur</legend>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom" />
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="prenom" />
          </mat-form-field>
        </fieldset>
      </div>
    </form>
    <div class="row mb-3" *ngIf="disableAutoSearch">
      <div class="col-sm-12 col-md-6 text-left">
        <button
          type="button"
          class="valid-button"
          mat-button
          mat-flat-button
          (click)="runSearchViseur()"
          [disabled]="!hasPendingSearchViseur">
          Lancer la recherche
        </button>
        <span *ngIf="hasPendingSearchViseur" class="pending-search-hint">
          Modifications en attente
        </span>
      </div>
    </div>

    <div class="alert alert-info" *ngIf="enseignants.length > 10">La recherche est limitée à 10 enseignants. Veuillez affiner la recherche si l'enseignant n'apparaît pas.</div>
    <table mat-table [dataSource]="enseignants | slice:0:10">
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">Aucun enseignant trouvé</td>
      </tr>
      <ng-container matColumnDef="nomprenom">
        <th mat-header-cell *matHeaderCellDef>Nom / Prénom</th>
        <td mat-cell *matCellDef="let row">{{row.sn.join(' ')}} {{row.givenName.join(' ')}}</td>
      </ng-container>
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef>Mail</th>
        <td mat-cell *matCellDef="let row">{{row.mail}}</td>
      </ng-container>
      <ng-container matColumnDef="departement">
        <th mat-header-cell *matHeaderCellDef>Département</th>
        <td mat-cell *matCellDef="let row">-</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button class="valid-button" mat-button mat-stroked-button (click)="choose(row)">
            <span><span class="fa fa-check" aria-hidden="true"></span> Sélectionner</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Choix du délégataire du viseur</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="delegataireForm" novalidate class="mt-2 mb-3">
      <div class="row">
        <fieldset>
          <legend class="sr-only">Filtre de recherche du délégataire</legend>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom" />
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="prenom" />
          </mat-form-field>
        </fieldset>
      </div>
    </form>
    <div class="row mb-3" *ngIf="disableAutoSearch">
      <div class="col-sm-12 col-md-6 text-left">
        <button
          type="button"
          class="valid-button"
          mat-button
          mat-flat-button
          (click)="runSearchDelegataire()"
          [disabled]="!hasPendingSearchDelegataire">
          Lancer la recherche
        </button>
        <span *ngIf="hasPendingSearchDelegataire" class="pending-search-hint">
          Modifications en attente
        </span>
      </div>
    </div>

    <div class="alert alert-info" *ngIf="delegataires.length > 10">
      La recherche est limitée à 10 enseignants. Veuillez affiner la recherche si le délégataire n'apparaît pas.
    </div>
    <table mat-table [dataSource]="delegataires | slice:0:10">
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">Aucun enseignant trouvé</td>
      </tr>
      <ng-container matColumnDef="nomprenom">
        <th mat-header-cell *matHeaderCellDef>Nom / Prénom</th>
        <td mat-cell *matCellDef="let row">{{row.sn.join(' ')}} {{row.givenName.join(' ')}}</td>
      </ng-container>
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef>Mail</th>
        <td mat-cell *matCellDef="let row">{{row.mail}}</td>
      </ng-container>
      <ng-container matColumnDef="departement">
        <th mat-header-cell *matHeaderCellDef>Département</th>
        <td mat-cell *matCellDef="let row">-</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <span matTooltip="Vous devez d'abord sélectionner un viseur pour pouvoir choisir un délégataire" [matTooltipDisabled]="!isDisabledChoose()">
            <button class="valid-button" mat-button mat-stroked-button (click)="chooseDelegataire(row)" [disabled]="isDisabledChoose()">
              <span><span class="fa fa-check"  aria-hidden="true"></span> Sélectionner</span>
            </button>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
