<p style="text-align:right;">
    <span style="font-family:'Times New Roman', Times, serif;"><strong>Année universitaire ${convention.annee}</strong></span>
</p>
<p style="text-align:right;">
    &nbsp;
</p>
<figure class="table">
    <table style="border-style:solid;border-width:1px;">
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Nom de l'établissement (université) : </strong>${convention.nomEtabRef}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Adresse : </strong>${convention.adresseEtabRef}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Représenté par : </strong>Par délégation, <strong>${convention.nomSignataireComposante}</strong></span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Qualité du représentant : </strong>${convention.qualiteSignataire}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Composante / UFR : </strong>${convention.ufrLibelle}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Adresse (si différente de celle de l'université) : </strong>${centreGestion.adresse}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Tél : </strong>${centreGestion.telephone}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Mail : </strong>${centreGestion.mail}</span>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
<p>
    &nbsp;
</p>
<p style="text-align:center;">
    <span class="text-huge" style="font-family:'Times New Roman', Times, serif;"><strong><u>Avenant n°${avenant.id} à la convention de stage n°${convention.id}</u></strong></span>
</p>
<p>
    <span style="font-family:'Times New Roman', Times, serif;"><strong>Le présent avenant vise à modifier le déroulement du stage qui avait été convenu entre :&nbsp;</strong></span>
</p>
<figure class="table">
    <table style="border-style:solid;border-width:1px;">
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Nom de l'organisme d'accueil : </strong>${structure.raisonSociale}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Adresse : &nbsp;</strong>${structure.voie} ${structure.codePostal} ${structure.commune} ${structure.paysLibelle}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Tél : </strong>${structure.telephone}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Représenté par : </strong>${signataire.civiliteLibelle} ${signataire.nom} ${signataire.prenom}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Qualité du représentant : </strong>${signataire.fonction}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Nom du tuteur professionnel : </strong>${contact.civiliteLibelle} ${contact.nom} ${contact.prenom}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Tel : </strong>${contact.tel}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Mail : </strong>${contact.mail}</span>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
<p>
    <span style="font-family:'Times New Roman', Times, serif;"><strong>et l'${convention.nomEtabRef}, représentée par son Président, agissant pour le compte de :</strong></span>
</p>
<figure class="table">
    <table style="border-style:solid;border-width:1px;">
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Composante/UFR : </strong>${convention.ufrLibelle}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>et sous la responsabilité de l'enseignant référent : </strong>${enseignant.nom} ${enseignant.prenom}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Tél : </strong>${enseignant.tel}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Mail : </strong>${enseignant.mail}</span>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
<p>
    <span style="font-family:'Times New Roman', Times, serif;"><strong>et effectué par :</strong></span>
</p>
<figure class="table">
    <table style="border-style:solid;border-width:1px;">
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;">${etudiant.nom} ${etudiant.prenom} <strong>étudiant(e) en </strong>${convention.etapeLibelle}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Adresse de l'étudiant : </strong>${convention.adresseEtudiant} ${convention.codePostalEtudiant} ${convention.villeEtudiant} ${convention.paysEtudiant}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Tél : </strong>${convention.telPortableEtudiant}</span>
                <br>
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Mail : </strong>${convention.courrielPersoEtudiant}</span>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
<p>
    <span style="font-family:'Times New Roman', Times, serif;"><strong>pour le motif suivant :</strong></span>
</p>
<figure class="table">
    <table style="border-style:solid;border-width:1px;">
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>Titre : </strong>${avenant.motifAvenant}</span>
                </p>
                <p>
                    &nbsp;
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
<p>
    &nbsp;
</p>
<figure class="table">
    <table>
        <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
        <tbody>
        <tr>
            <td style="vertical-align:top;width:50%;">
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;">A…………………..le………………………</span>
                </p>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>Pour l'établissement d'enseignement sup. :</u></span>
                </p>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;">Par délégation, <strong>${convention.nomSignataireComposante}</strong></span>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>Pour l'organisme d'accueil :</u></span>
                </p>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>${signataire.nom} ${signataire.prenom}</strong></span>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>Pour l'étudiant :</u></span>
                </p>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>${etudiant.nom} ${etudiant.prenom}</strong></span>
                </p>
                <p>
                    &nbsp;
                </p>
            </td>
            <td style="vertical-align:top;width:50%;">
                <p>
                    &nbsp;
                </p>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>Tuteur Organisme d'accueil :</u></span>
                </p>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>${contact.nom} ${contact.prenom}</strong></span>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>Tuteur Etablissement d'enseignement sup. :</u></span>
                </p>
                <p>
                    <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><strong>${enseignant.nom} ${enseignant.prenom}</strong></span>
                </p>
                <p>
                    &nbsp;
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>