<p style="text-align:right;">
    <span class="text-big" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Année universitaire ${convention.annee}</strong></span>
</p>
<figure class="table">
    <table style="border: 1px solid #e1e3e1;font-size: 12px;" cellpadding="3">
        <colgroup><col style="width:30%;"><col style="width:70%;"></colgroup>
        <tbody>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                <b>N° convention</b>
            </td>
            <td>
                <b>${convention.id}</b>
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                <b>Étudiant</b>
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                <span>${etudiant.prenom} ${etudiant.nom} (N° étudiant : ${etudiant.numEtudiant})</span><br/>
                <span>UFR - ${convention.ufrCode} - ${convention.ufrLibelle}</span><br/>
                <span>Étape - ${convention.etapeCode} - ${convention.etapeLibelle}</span><br/>
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                <b>Type de stage</b>
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.typeConventionLibelle}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color:#e1e3e1">
                Thématique
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.themeLibelle}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color:#e1e3e1">
                Sujet
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.sujetStage}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color:#e1e3e1">
                Fonctions et tâches
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.fonctionsEtTaches}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Compétences à acquérir ou à développer
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.competences}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Détails du projet
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.details}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Période de stage
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                Du ${convention.dateDebutStage} Au ${convention.dateFinStage}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Interruption de stage
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                <#if convention.periodesInterruptions?size gt 0>
                <ul>
                    <#list convention.periodesInterruptions as periode>
                    <li>du ${periode.dateDebutInterruption} au ${periode.dateFinInterruption}</li>
                </#list>
                </ul>
            </#if>
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Durée de travail
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.tempsTravailLibelle}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Commentaires sur le temps de travail
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.commentaireDureeTravail}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Langue d'impression de la convention
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.langueConvention}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Gratification au cours du stage
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                <#if convention.montantGratification != ''>
                    ${convention.montantGratification} ${convention.deviseGratification} ${convention.uniteGratificationLibelle}
                <#else>
                    Non
                </#if>
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Origine du stage
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.origineStageLibelle}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Confidentialité du sujet/theme du stage
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.confidentiel}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Nombres d'heures Hebdomadaires
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.nbHeuresHebdo}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Modalité de versement de la gratification
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.modeVersGratificationLibelle}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Liste des avantages en nature
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.avantagesNature}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Nombre de jours de congés autorisés
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.nbConges}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Nature du travail à fournir suite au stage
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.natureTravailLibelle}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Modalité de validation du stage
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.modeValidationStageLibelle}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Conditions particulières du stage
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.travailNuitFerie}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Durée du stage
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
            <#if convention.dureeStageHeure != ''>
                ${convention.dureeStageHeure} heures de présence effective dans l'organisme d'accueil
            </#if>
            <#if convention.dureeStageHeurePeriode != ''>
                <br>
                (représentant une durée totale de ${convention.dureeStageHeurePeriode})
            </#if>
             </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Enseignant référent
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${enseignant.prenom} ${enseignant.nom}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Établissement d'accueil
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${structure.raisonSociale}<br/>
                ${structure.voie} ${structure.codePostal} ${structure.commune}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Lieu de stage
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${service.nom}<br/>
                ${service.voie} ${service.codePostal} ${service.commune} ${service.paysLibelle}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Tuteur professionnel
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${contact.prenom} ${contact.nom} (${contact.fonction})
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Coordonnées tuteur professionnel
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                <#if contact.mail != ''>
                    Mail : ${contact.mail}<br/>
                </#if>
                <#if contact.tel != ''>
                    tél : ${contact.tel}
                </#if>
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Représentant légal de l'entreprise
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${signataire.prenom} ${signataire.nom} (${signataire.fonction})<br/>
                ${signataire.mail}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Adresse de l'étudiant
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.adresseEtudiant}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Téléphone de l'étudiant
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                Tél : ${convention.telEtudiant}<br/>
                Port : ${convention.telPortableEtudiant}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Courriel de l'étudiant
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${etudiant.mail}<br/>
                ${convention.courrielPersoEtudiant}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                Caisse d'assurance maladie
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.libelleCPAM}
            </td>
        </tr>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;background-color: #e1e3e1">
                ELP - Crédits ECTS
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);border-color:white;vertical-align:top;">
                ${convention.creditECTS}
            </td>
        </tr>
        </tbody>
    </table>
</figure>