<style>
    table {
        table-layout: fixed;
        width: 100%;
        overflow-wrap: break-word;
        border-spacing: 0px;
    }

    .text-tiny {
        font-size: 11px;
    }

    .text-small {
        font-size: 13px;
    }

    .text-big {
        font-size: 21px;
    }

    .text-huge {
        font-size: 23px;
    }

    @font-face {
        font-family:Arial; src: url("__project_fonts_dir__arial.ttf");
    }
    @font-face {
        font-family:Arial; src: url("__project_fonts_dir__arialbd.ttf");
        font-weight: bold;
    }
    @font-face {
        font-family:Arial; src: url("__project_fonts_dir__arialbi.ttf");
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
        font-family:Arial; src: url("__project_fonts_dir__ariali.ttf");
        font-style: italic;
    }


    @font-face {
        font-family:Courier New; src: url("__project_fonts_dir__cour.ttf");
    }
    @font-face {
        font-family:Courier New; src: url("__project_fonts_dir__courbd.ttf");
        font-weight: bold;
    }
    @font-face {
        font-family:Courier New; src: url("__project_fonts_dir__courbi.ttf");
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
        font-family:Courier New; src: url("__project_fonts_dir__couri.ttf");
        font-style: italic;
    }


    @font-face {
        font-family:Georgia; src: url("__project_fonts_dir__georgia.ttf");
    }
    @font-face {
        font-family:Georgia; src: url("__project_fonts_dir__georgiab.ttf");
        font-weight: bold;
    }
    @font-face {
        font-family:Georgia; src: url("__project_fonts_dir__georgiaz.ttf");
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
        font-family:Georgia; src: url("__project_fonts_dir__georgiai.ttf");
        font-style: italic;
    }


    @font-face {
        font-family:Lucida Sans Unicode; src: url("__project_fonts_dir__lsi.ttf");
    }
    @font-face {
        font-family:Lucida Sans Unicode; src: url("__project_fonts_dir__lsii.ttf");
        font-style: italic;
    }
    @font-face {
        font-family:Lucida Sans Unicode; src: url("__project_fonts_dir__lsib.ttf");
        font-weight: bold;
    }
    @font-face {
        font-family:Lucida Sans Unicode; src: url("__project_fonts_dir__lsibi.ttf");
        font-weight: bold;
        font-style: italic;
    }


    @font-face {
        font-family:Tahoma; src: url("__project_fonts_dir__tahoma.ttf");
    }
    @font-face {
        font-family:Tahoma; src: url("__project_fonts_dir__tahomabd.ttf");
        font-weight: bold;
    }
    @font-face {
    font-family:Tahoma; src: url("__project_fonts_dir__tahomabi.ttf");
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
    font-family:Tahoma; src: url("__project_fonts_dir__tahomai.ttf");
        font-style: italic;
    }


    @font-face {
        font-family:Trebuchet MS; src: url("__project_fonts_dir__trebuc.ttf");
    }
    @font-face {
        font-family:Trebuchet MS; src: url("__project_fonts_dir__trebucbd.ttf");
        font-weight: bold;
    }
    @font-face {
        font-family:Trebuchet MS; src: url("__project_fonts_dir__trebucbi.ttf");
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
        font-family:Trebuchet MS; src: url("__project_fonts_dir__trebucit.ttf");
        font-style: italic;
    }


    @font-face {
        font-family:Verdana; src: url("__project_fonts_dir__verdana.ttf");
    }
    @font-face {
        font-family:Verdana; src: url("__project_fonts_dir__verdanab.ttf");
        font-weight: bold;
    }
    @font-face {
        font-family:Verdana; src: url("__project_fonts_dir__verdanaz.ttf");
        font-weight: bold;
        font-style: italic;
    }
    @font-face {
        font-family:Verdana; src: url("__project_fonts_dir__verdanai.ttf");
        font-style: italic;
    }
</style>
