<#if avenant.rupture>
<figure class="table">
    <table style="border:1px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
        <tbody>
        <tr>
            <td style="text-align:center;border:1px solid hsl(0, 0%, 0%);">${libelles["avenant.rupture.titre"]}</td>
        </tr>
        <tr>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.nouvellesValeurs"]}</u></span>
                <p>
                    <span class="text-small"><strong>${libelles["champ.dateRupture"]} </strong>${avenant.dateRupture}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.commentaire"]} </strong>${avenant.commentaireRupture}</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
</#if>

<figure class="table" style="height:10px;">
    <table>
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</figure>

<#if avenant.modificationSujet>
<figure class="table">
    <table style="border:1px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
        <tbody>
        <tr>
            <td style="text-align:center;border:1px solid hsl(0, 0%, 0%);" colspan="2">${libelles["avenant.sujet.titre"]}</td>
        </tr>
        <tr>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.anciennesValeurs"]}</u></span>
                <p>
                    <span class="text-small"><strong>${libelles["champ.sujet"]} </strong>${convention.sujetStage}</span>
                </p>
            </td>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.nouvellesValeurs"]}</u></span>
                <p>
                    <span class="text-small"><strong>${libelles["champ.sujet"]} </strong>${avenant.sujetStage}</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
</#if>

<figure class="table" style="height:10px;">
    <table>
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</figure>

<#if avenant.modificationPeriode>
<figure class="table">
    <table style="border:1px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
        <tbody>
        <tr>
            <td style="text-align:center;border:1px solid hsl(0, 0%, 0%);" colspan="2">${libelles["avenant.periode.titre"]}</td>
        </tr>
        <tr>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.anciennesValeurs"]}</u></span>
                <p>
                    <span class="text-small"><strong>${libelles["champ.dateDebutStage"]} </strong>${convention.dateDebutStage}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.dateFinStage"]} </strong>${convention.dateFinStage}</span>
                </p>
                <#if convention.periodesInterruptions?size gt 0>
                <p>
                    <span class="text-small"><strong>${libelles["champ.periodesInterruptions"]}</strong></span>
                </p>
                <ul>
                    <#list convention.periodesInterruptions as periode>
                    <li>${libelles["commun.du"]} ${periode.dateDebutInterruption} ${libelles["commun.au"]} ${periode.dateFinInterruption}</li>
                    </#list>
                </ul>
                </#if>
            </td>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.nouvellesValeurs"]}</u></span>
                <p>
                    <#if avenant.dateDebutStage != ''>
                        <span class="text-small"><strong>${libelles["champ.dateDebutStage"]} </strong>${avenant.dateDebutStage}</span>
                    </#if>
                    <#if avenant.dateFinStage != ''>
                        <span class="text-small"><strong>${libelles["champ.dateFinStage"]} </strong>${avenant.dateFinStage}</span>
                    </#if>
                </p>
                <#if avenant.periodesInterruptions?size gt 0>
                <p>
                    <span class="text-small"><strong>${libelles["champ.periodesInterruptions"]}</strong></span>
                </p>
                <ul>
                    <#list avenant.periodesInterruptions as periode>
                    <li>${libelles["commun.du"]} ${periode.dateDebutInterruption} ${libelles["commun.au"]} ${periode.dateFinInterruption}</li>
                    </#list>
                </ul>
                </#if>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
</#if>

<figure class="table" style="height:10px;">
    <table>
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</figure>

<#if avenant.modificationMontantGratification>
<figure class="table">
    <table style="border:1px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
        <tbody>
        <tr>
            <td style="text-align:center;border:1px solid hsl(0, 0%, 0%);" colspan="2">${libelles["avenant.gratification.titre"]}</td>
        </tr>
        <tr>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.anciennesValeurs"]}</u></span>
                <p>
                    <span class="text-small">
                        <strong>${libelles["champ.montant"]} </strong>
                        <#if convention.montantGratification?has_content>
                            ${convention.montantGratification} ${convention.uniteGratificationLibelle} ${convention.uniteDureeGratificationLibelle}
                        <#else>
                            ${libelles["commun.neant"]}
                        </#if>
                    </span><br/>
                    <span class="text-small">
                        <strong>${libelles["champ.devise"]} </strong>
                        <#if convention.deviseGratification?has_content>
                            ${convention.deviseGratification}
                        <#else>
                            ${libelles["commun.neant"]}
                        </#if>
                    </span><br/>
                    <span class="text-small">
                        <strong>${libelles["champ.modeVersement"]} </strong>
                        <#if convention.modeVersGratificationLibelle?has_content>
                                ${convention.modeVersGratificationLibelle}
                        <#else>
                            ${libelles["commun.neant"]}
                        </#if>
                    </span>
                </p>
            </td>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.nouvellesValeurs"]}</u></span>
                <p>
                    <#if avenant.montantGratification != ''>
                        <span class="text-small"><strong>${libelles["champ.montant"]} </strong>${avenant.montantGratification} ${avenant.uniteGratificationLibelle} ${avenant.uniteDureeGratificationLibelle}</span>
                    </#if>
                    <#if avenant.deviseGratification != ''>
                        <span class="text-small"><strong>${libelles["champ.devise"]} </strong>${avenant.deviseGratification}</span>
                    </#if>
                    <#if avenant.modeVersGratificationLibelle != ''>
                        <span class="text-small"><strong>${libelles["champ.modeVersement"]} </strong>${avenant.modeVersGratificationLibelle}</span>
                    </#if>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
</#if>

<figure class="table" style="height:10px;">
    <table>
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</figure>

<#if avenant.modificationLieu>
<figure class="table">
    <table style="border:1px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
        <tbody>
        <tr>
            <td style="text-align:center;border:1px solid hsl(0, 0%, 0%);" colspan="2">${libelles["avenant.lieu.titre"]}</td>
        </tr>
        <tr>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.anciennesValeurs"]}</u></span>
                <p>
                    <span class="text-small"><strong>${libelles["champ.nom"]} </strong>${service.nom}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.voie"]} </strong>${service.voie}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.codePostal"]} </strong>${service.codePostal}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.commune"]} </strong>${service.commune}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.pays"]} </strong>${service.paysLibelle}</span>
                </p>
            </td>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.nouvellesValeurs"]}</u></span>
                <p>
                    <span class="text-small"><strong>${libelles["champ.nom"]} </strong>${avenant.service.nom}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.voie"]} </strong>${avenant.service.voie}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.codePostal"]} </strong>${avenant.service.codePostal}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.commune"]} </strong>${avenant.service.commune}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.pays"]} </strong>${avenant.service.paysLibelle}</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
</#if>

<figure class="table" style="height:10px;">
    <table>
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</figure>

<#if avenant.modificationSalarie>
<figure class="table">
    <table style="border:1px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
        <tbody>
        <tr>
            <td style="text-align:center;border:1px solid hsl(0, 0%, 0%);" colspan="2">${libelles["avenant.tuteur.titre"]}</td>
        </tr>
        <tr>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.anciennesValeurs"]}</u></span>
                <p>
                    <span class="text-small"><strong>${libelles["champ.nom"]} </strong>${contact.nom}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.prenom"]} </strong>${contact.prenom}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.civilite"]} </strong>${contact.civiliteLibelle}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.fonction"]} </strong>${contact.fonction}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.telephone"]} </strong>${contact.tel}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.email"]} </strong>${contact.mail}</span>
                </p>
            </td>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.nouvellesValeurs"]}</u></span>
                <p>
                    <span class="text-small"><strong>${libelles["champ.nom"]} </strong>${avenant.contact.nom}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.prenom"]} </strong>${avenant.contact.prenom}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.civilite"]} </strong>${avenant.contact.civiliteLibelle}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.fonction"]} </strong>${avenant.contact.fonction}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.telephone"]} </strong>${avenant.contact.tel}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.email"]} </strong>${avenant.contact.mail}</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
</#if>

<figure class="table" style="height:10px;">
    <table>
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</figure>

<#if avenant.modificationEnseignant>
<figure class="table">
    <table style="border:1px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
        <tbody>
        <tr>
            <td style="text-align:center;border:1px solid hsl(0, 0%, 0%);" colspan="2">${libelles["avenant.enseignant.titre"]}</td>
        </tr>
        <tr>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.anciennesValeurs"]}</u></span>
                <p>
                    <span class="text-small"><strong>${libelles["champ.nomPrenom"]} </strong>${enseignant.nom} ${enseignant.prenom}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.fonction"]} </strong>${enseignant.fonction}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.telephone"]} </strong>${enseignant.tel}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.email"]} </strong>${enseignant.mail}</span>
                </p>
            </td>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-small" style="font-family:'Times New Roman', Times, serif;"><u>${libelles["commun.nouvellesValeurs"]}</u></span>
                <p>
                    <span class="text-small"><strong>${libelles["champ.nomPrenom"]} </strong>${avenant.enseignant.nom} ${avenant.enseignant.prenom}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.fonction"]} </strong>${avenant.enseignant.fonction}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.telephone"]} </strong>${avenant.enseignant.tel}</span><br/>
                    <span class="text-small"><strong>${libelles["champ.email"]} </strong>${avenant.enseignant.mail}</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
</#if>

<figure class="table" style="height:10px;">
    <table>
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</figure>

<#if avenant.motifAvenant != ''>
<figure class="table">
    <table style="border:1px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
        <tbody>
        <tr>
            <td style="text-align:center;border:1px solid hsl(0, 0%, 0%);">${libelles["avenant.autre.titre"]}</td>
        </tr>
        <tr>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                <p>
                    <span class="text-small"><strong>${libelles["champ.motif"]} </strong>${avenant.motifAvenant}</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
</#if>

<figure class="table" style="height:10px;">
    <table>
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</figure>