<#if convention.horaireIrregulier?size gt 0>
<figure class="table">
    <table style="border:1px solid hsl(0, 0%, 0%);">
        <colgroup>
            <col style="width:33%;">
            <col style="width:33%;">
            <col style="width:33%;">
        </colgroup>
        <tbody>
        <tr>
            <td style="text-align:center;border:1px solid hsl(0, 0%, 0%);" colspan="3">
                Périodes de stage
            </td>
        </tr>
        <tr>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                Début
            </td>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                Fin
            </td>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                Heures journalières
            </td>
        </tr>
        <#list convention.horaireIrregulier as periode>
        <tr>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                ${periode.dateDebutPeriode}
            </td>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                ${periode.dateFinPeriode}
            </td>
            <td style="border:1px solid hsl(0, 0%, 0%);vertical-align:top;">
                ${periode.nbHeuresJournalieres}
            </td>
        </tr>
        </#list>
        </tbody>
    </table>
</figure>
</#if>