<p style="text-align:right;">
    <span class="text-big" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Année universitaire 2025-2026</strong></span>
</p>
<p style="text-align:center;">
    <span class="text-big" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Convention de stage n°9999</strong></span>
</p>
<p style="text-align:center;">
    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><i>En référence à l'arrêté du 29 décembre 2014 relatif aux conventions de stage</i></span>
</p>
<p style="text-align:center;">
    &nbsp;
</p>
<p>
    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><i>Nota : pour faciliter la lecture du document, les mots “stagiaire” , “enseignant référent”, “tuteur de stage”, “représentant légal”, et “étudiant” sont utilisés au masculin.</i></span>
</p>
<figure class="table">
    <table style="border:0.2px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
        <tbody>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);vertical-align:top;width:50%;">
                <p style="text-align:center;">
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>1 - <u>L'ETABLISSEMENT D'ENSEIGNEMENT ou DE FORMATION</u></strong></span>
                </p>
                <p>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Nom : </strong>Université Exemple</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Adresse : </strong>1, place de l'Université, 31000 Toulouse</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Représenté par : </strong>Dr. Pierre Vidal</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Qualité du représentant : </strong>Directeur de composante</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Composante / UFR : </strong>UFR Informatique</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;">A<strong>dresse (si différente de celle de l'établissement) : </strong>1, place de l'Université, 31000 Toulouse</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Tél : </strong>+33 5 61 00 00 00</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Mail : </strong>stages@univ-ex.fr</span>
                </p>
            </td>
            <td style="border:0.2px solid hsl(0, 0%, 0%);vertical-align:top;width:50%;">
                <p style="text-align:center;">
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>2 - <u>L'ORGANISME D'ACCUEIL</u></strong></span>
                </p>
                <p>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Nom : </strong>ACME SAS</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Adresse : </strong>10 rue des Lilas 75010 Paris France</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Représenté par : </strong>Mme Lefèvre Claire</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Qualité du représentant : </strong>DRH</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Service dans lequel le stage sera effectué : </strong>Département R&amp;D</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Tél : </strong>+33 1 23 45 67 89</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Mail : </strong>jean.martin@acme.fr</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
<figure class="table" style="height:10px;">
    <table>
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</figure>
<figure class="table">
    <table style="border:0.2px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);vertical-align:top;">
                <p style="text-align:center;">
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>3 - <u>LE STAGIAIRE</u></strong></span>
                </p>
                <p>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Nom : </strong>Durand &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Prénom : </strong>Alice &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Sexe : </strong>F &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>Né(e) le : </strong>12/04/2004 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Numéro d'étudiant : </strong>12345678</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Adresse : </strong>5 avenue des Études 31400&nbsp;Toulouse&nbsp;France&nbsp;</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Tél : </strong>+33 6 12 34 56 78</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Mail : </strong>alice.durand@example.com</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>INTITULÉ DE LA FORMATION OU CURSUS SUIVI DANS L'ÉTABLISSEMENT D'ENSEIGNEMENT SUPÉRIEUR ET VOLUME HORAIRE (ANNUEL OU SEMESTRIEL) : </strong>Master 1 Informatique</span>&nbsp;
                    <br>
                    <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Nombre d'heures de formation : </strong>450h</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
<figure class="table" style="height:10px;">
    <table>
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</figure>
<figure class="table">
    <table style="border:0.2px solid hsl(0, 0%, 0%);">
        <colgroup><col style="width:100%;"></colgroup>
        <tbody>
        <tr>
            <td style="border:0.2px solid hsl(0, 0%, 0%);vertical-align:top;">
                <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong><u>SUJET DE STAGE :</u> </strong>Développement d'un moteur de recherche interne</span>&nbsp;
                <br>
                <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Dates : </strong>du 03/11/2025 au 30/01/2026</span>&nbsp;
                <br>
                <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Correspondant à</strong> 420 <strong>heure(s) de présence effective dans l'organisme d'accueil et représentant une durée totale de&nbsp;</strong>12 semaines</span>&nbsp;
                <br>
                <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Si le stagiaire doit être présent dans l'organisme d'accueil la nuit, le dimanche, un jour férié ou en télétravail, préciser les cas particuliers : </strong>Aucun</span>
                <br>
                <br>
                <span class="text-tiny" style="color:hsl(0,0%,0%);font-family:'Times New Roman', Times, serif;"><strong>Commentaire :</strong> RAS</span>
            </td>
        </tr>
        </tbody>
    </table>
</figure>
