<mat-tab-group>
  <mat-tab label="Éléments généraux">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formGenerale" novalidate (submit)="saveGenerale()">
          <div class="row">
            <mat-form-field class="col-md-3" appearance="fill">
              <mat-label>Code université</mat-label>
              <input matInput type="text" formControlName="codeUniversite" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-3" appearance="fill">
              <mat-label>Année bascule / Jour</mat-label>
              <input matInput type="number" formControlName="anneeBasculeJour" />
            </mat-form-field>

            <mat-form-field class="col-md-3" appearance="fill">
              <mat-label>Année bascule / Mois</mat-label>
              <input matInput type="number" formControlName="anneeBasculeMois" />
            </mat-form-field>
          </div>
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="mb-2">Autoriser la création d'une convention par les étudiants dont l'ETAPE / COMPOSANTE n'est gérée par aucun centre ?</div>
              <mat-radio-group formControlName="autoriserConventionsOrphelines">
                <mat-radio-button [value]="true">Oui</mat-radio-button>
                <mat-radio-button [value]="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="col-md-12" appearance="fill">
              <mat-label>Définition du type de centre</mat-label>
              <mat-select formControlName="typeCentre">
                <mat-option *ngFor="let typeCentre of typeCentres" [value]="typeCentre">{{typeCentre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="mb-2">Autorisation des centres de gestion à bloquer l'impression de la convention par les étudiants ?</div>
              <mat-radio-group formControlName="autoriserCentresBloquerImpressionConvention">
                <mat-radio-button [value]="true">Oui</mat-radio-button>
                <mat-radio-button [value]="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="mb-2">Autorisation des étudiants à modifier les données entreprise existantes (fiche signalétique, services, contacts) lorsqu'ils créent une convention ?</div>
              <mat-radio-group formControlName="autoriserEtudiantAModifierEntreprise">
                <mat-radio-button [value]="true">Oui</mat-radio-button>
                <mat-radio-button [value]="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="mb-2">Autorisation de la validation automatique des nouveaux organismes d'accueil créés par les étudiants ?</div>
              <mat-radio-group formControlName="autoriserValidationAutoOrgaAccCreaEtu">
                <mat-radio-button [value]="true">Oui</mat-radio-button>
                <mat-radio-button [value]="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row mb-2">
            <mat-form-field class="col-md-12" appearance="fill">
              <mat-label>Filtre LDAP pour la recherche des enseignants</mat-label>
              <input matInput formControlName="ldapFiltreEnseignant" />
            </mat-form-field>
          </div>
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="mb-2">Autorisation la création d'une convention sans choisir l'élément pédagogique ?</div>
              <mat-radio-group formControlName="autoriserElementPedagogiqueFacultatif">
                <mat-radio-button [value]="true">Oui</mat-radio-button>
                <mat-radio-button [value]="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row mb-2">
            <mat-form-field class="col-md-12" appearance="fill">
              <mat-label>Libellé de la validation lorsque le projet de stage saisi par l'étudiant a été vérifié, l'autorisant ainsi à l'imprimer</mat-label>
              <input matInput formControlName="validationPedagogiqueLibelle" />
            </mat-form-field>
          </div>
          <div class="row mb-2">
            <mat-form-field class="col-md-12" appearance="fill">
              <mat-label>Libellé de la validation lorsque tous les partenaires du stage ont signé la convention papier</mat-label>
              <input matInput formControlName="validationAdministrativeLibelle" />
            </mat-form-field>
          </div>
          <div class="mt-3" *ngIf="canEdit()">
            <button mat-flat-button color="primary">Valider</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Alertes mail">
    <mat-card>
      <mat-card-content>
        <table mat-table [dataSource]="alertes" *ngIf="configAlerte">
          <ng-container matColumnDef="alertes">
            <th mat-header-cell *matHeaderCellDef>Alertes</th>
            <td mat-cell *matCellDef="let alertes">{{alertes.libelle}}</td>
          </ng-container>
          <ng-container matColumnDef="alerteEtudiant">
            <th mat-header-cell *matHeaderCellDef>Étudiant</th>
            <td mat-cell *matCellDef="let alertes">
              <mat-checkbox [(ngModel)]="configAlerte.alerteEtudiant[alertes.code]"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="alerteGestionnaire">
            <th mat-header-cell *matHeaderCellDef>Gestionnaire</th>
            <td mat-cell *matCellDef="let alertes">
              <mat-checkbox [(ngModel)]="configAlerte.alerteGestionnaire[alertes.code]"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="alerteRespGestionnaire">
            <th mat-header-cell *matHeaderCellDef>Responsable gestionnaire</th>
            <td mat-cell *matCellDef="let alertes">
              <mat-checkbox [(ngModel)]="configAlerte.alerteRespGestionnaire[alertes.code]"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="alerteEnseignant">
            <th mat-header-cell *matHeaderCellDef>Enseignant</th>
            <td mat-cell *matCellDef="let alertes">
              <mat-checkbox [(ngModel)]="configAlerte.alerteEnseignant[alertes.code]"></mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="alerteColumns"></tr>
          <tr mat-row *matRowDef="let alertes; columns: alerteColumns;"></tr>
        </table>
        <div class="mt-3" *ngIf="canEdit()">
          <button mat-flat-button color="primary" (click)="saveAlerteMail()">Valider</button>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Thème">
    <mat-card>
      <mat-card-content>
        <div class="alert alert-info">
          La page devra être rechargée après la modification.
        </div>
        <form [formGroup]="formTheme" novalidate>
          <div class="row">
            <div class="col-md-3 mb-2">
              <button mat-stroked-button color="primary" (click)="logoInput.click()">
                <span>Logo</span>
                <input #logoInput type="file" (change)="onLogoChange($event)" accept="image/*" style="display:none">
              </button>
              <div *ngIf="logoFile">{{logoFile.name}}</div>
            </div>

            <div class="col-md-3 mb-2">
              <button mat-stroked-button color="primary" (click)="faviconInput.click()">
                <span>Favicon</span>
                <input #faviconInput type="file" (change)="onFavionChange($event)" accept="image/*" style="display:none">
              </button>
              <div *ngIf="faviconFile">{{faviconFile.name}}</div>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="col-md-3" appearance="fill">
              <mat-label>Police</mat-label>
              <input matInput formControlName="fontFamily" />
            </mat-form-field>

            <mat-form-field class="col-md-3" appearance="fill">
              <mat-label>Taille du texte</mat-label>
              <mat-select formControlName="fontSize">
                <mat-option [value]="'0.8rem'">Petit</mat-option>
                <mat-option [value]="'0.9rem'">Moyen</mat-option>
                <mat-option [value]="'1rem'">Grand</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-3" appearance="fill">
              <mat-label>Couleur principale</mat-label>
              <input matInput [ngxMatColorPicker]="pickerPrimaryColor" formControlName="primaryColor">
              <ngx-mat-color-toggle matSuffix [for]="pickerPrimaryColor"></ngx-mat-color-toggle>
              <ngx-mat-color-picker #pickerPrimaryColor></ngx-mat-color-picker>
            </mat-form-field>

            <mat-form-field class="col-md-3" appearance="fill">
              <mat-label>Couleur secondaire</mat-label>
              <input matInput [ngxMatColorPicker]="pickerSecondaryColor" formControlName="secondaryColor">
              <ngx-mat-color-toggle matSuffix [for]="pickerSecondaryColor"></ngx-mat-color-toggle>
              <ngx-mat-color-picker #pickerSecondaryColor></ngx-mat-color-picker>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-md-3" appearance="fill">
              <mat-label>Couleur danger</mat-label>
              <input matInput [ngxMatColorPicker]="pickerDangerColor" formControlName="dangerColor">
              <ngx-mat-color-toggle matSuffix [for]="pickerDangerColor"></ngx-mat-color-toggle>
              <ngx-mat-color-picker #pickerDangerColor></ngx-mat-color-picker>
            </mat-form-field>

            <mat-form-field class="col-md-3" appearance="fill">
              <mat-label>Couleur warning</mat-label>
              <input matInput [ngxMatColorPicker]="pickerWarningColor" formControlName="warningColor">
              <ngx-mat-color-toggle matSuffix [for]="pickerWarningColor"></ngx-mat-color-toggle>
              <ngx-mat-color-picker #pickerWarningColor></ngx-mat-color-picker>
            </mat-form-field>

            <mat-form-field class="col-md-3" appearance="fill">
              <mat-label>Couleur succès</mat-label>
              <input matInput [ngxMatColorPicker]="pickerSuccessColor" formControlName="successColor">
              <ngx-mat-color-toggle matSuffix [for]="pickerSuccessColor"></ngx-mat-color-toggle>
              <ngx-mat-color-picker #pickerSuccessColor></ngx-mat-color-picker>
            </mat-form-field>
          </div>
          <div class="mt-3">
            <button *ngIf="canDelete()" mat-flat-button class="mr-2" (click)="rollbackTheme()">Remettre la configuration par défaut</button>
            <button *ngIf="canEdit()" mat-flat-button color="primary" (click)="saveTheme()">Valider</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Consigne">
    <app-consigne *ngIf="consigne" [consigne]="consigne" [idCentreGestion]="centreGestion.id"></app-consigne>
  </mat-tab>
</mat-tab-group>
