<mat-tab-group #tabs (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Liste">
    <app-table [service]="structureService" [columns]="columns" [sortColumn]="sortColumn" [filters]="filters" [exportColumns]="exportColumns"
               matSort [matSortActive]="sortColumn" [matSortDirection]="'asc'"
               (matSortChange)="appTable ? appTable.sorting($event) : null" [noResultText]="'Aucun établissement trouvé'">
      <ng-container matColumnDef="raisonSociale">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Raison sociale</th>
        <td mat-cell *matCellDef="let row">{{row.raisonSociale}}</td>
      </ng-container>
      <ng-container matColumnDef="numeroSiret">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Numéro SIRET</th>
        <td mat-cell *matCellDef="let row">{{row.numeroSiret}}</td>
      </ng-container>
      <ng-container matColumnDef="numeroRNE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Numéro UAI</th>
        <td mat-cell *matCellDef="let row">{{row.numeroRNE}}</td>
      </ng-container>
      <ng-container matColumnDef="nafN5.nafN1.libelle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Activité</th>
        <td mat-cell *matCellDef="let row">{{row.nafN5 ? row.nafN5.nafN1.libelle : ''}}</td>
      </ng-container>
      <ng-container matColumnDef="pays.lib">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Pays</th>
        <td mat-cell *matCellDef="let row">{{row.pays.lib}}</td>
      </ng-container>
      <ng-container matColumnDef="commune">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Commune</th>
        <td mat-cell *matCellDef="let row">{{row.commune}}</td>
      </ng-container>
      <ng-container matColumnDef="typeStructure.libelle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Type d'organisme</th>
        <td mat-cell *matCellDef="let row">{{row.typeStructure.libelle}}</td>
      </ng-container>
      <ng-container matColumnDef="statutJuridique.libelle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Forme juridique</th>
        <td mat-cell *matCellDef="let row">{{row.statutJuridique ? row.statutJuridique.libelle : ''}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef >Actions</th>
        <td mat-cell *matCellDef="let row">
          <div class="row" *ngIf="!isFromSiren(row)">
            <button mat-icon-button matTooltip="Éditer" *ngIf="canEdit()" (click)="edit(row)" color="primary"><i class="fa fa-pen"></i></button>
            <button mat-icon-button matTooltip="Supprimer" *ngIf="canDelete()" (click)="delete(row)" color="warn"><i class="fa fa-trash-alt"></i></button>
          </div>
          <div class="row" *ngIf="isFromSiren(row)">
            <button mat-icon-button matTooltip="Créer" *ngIf="canCreate()" (click)="create(row)" color="primary"><i class="fa fa-plus"></i></button>
          </div>
        </td>
      </ng-container>
    </app-table>
  </mat-tab>
  <mat-tab label="{{data.id ? 'Édition' : 'Création'}}">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>Établissement d'accueil</mat-expansion-panel-header>
        <app-etab-accueil-form [etab]="data" (canceled)="returnToList()"></app-etab-accueil-form>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="data.id">
        <mat-expansion-panel-header>Contacts</mat-expansion-panel-header>
        <div class="row mt-3">
          <mat-form-field class="col-md-12" appearance="fill" *ngIf="services.length > 0">
            <mat-label>Sélectionnez un service :</mat-label>
            <mat-select [(value)]="service" (selectionChange)="selectService()">
              <mat-option *ngFor="let service of services" [value]="service">{{service.nom}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col-md-12 mb-3">
            <button mat-flat-button (click)="createService()" color="primary">Créer un nouveau service d'accueil</button>
          </div>
        </div>
        <div class="row mt-3" *ngIf="service">
          <div class="col-md-12">
            <div class="text-title">Service sélectionné</div>
          </div>
          <div class="col-md-12">
            <table mat-table [dataSource]="[service]">
              <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef>Nom du service</th>
                <td mat-cell *matCellDef="let row">{{row.nom}}</td>
              </ng-container>

              <ng-container matColumnDef="voie">
                <th mat-header-cell *matHeaderCellDef>Voie</th>
                <td mat-cell *matCellDef="let row">{{row.voie}}</td>
              </ng-container>

              <ng-container matColumnDef="batimentResidence">
                <th mat-header-cell *matHeaderCellDef>Bâtiment / Résidence / Z.I.</th>
                <td mat-cell *matCellDef="let row">{{row.batimentResidence}}</td>
              </ng-container>

              <ng-container matColumnDef="codePostal">
                <th mat-header-cell *matHeaderCellDef>Code postal</th>
                <td mat-cell *matCellDef="let row">{{row.codePostal}}</td>
              </ng-container>

              <ng-container matColumnDef="commune">
                <th mat-header-cell *matHeaderCellDef>Commune</th>
                <td mat-cell *matCellDef="let row">{{row.commune}}</td>
              </ng-container>

              <ng-container matColumnDef="pays">
                <th mat-header-cell *matHeaderCellDef>Pays</th>
                <td mat-cell *matCellDef="let row">{{row.pays ? row.pays.lib : null}}</td>
              </ng-container>

              <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef>Téléphone</th>
                <td mat-cell *matCellDef="let row">{{row.telephone}}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button matTooltip="Éditer" (click)="editService(row)" color="primary"><i class="fa fa-pen"></i></button>
                  <span (confirm)="deleteService(row)" [confirmMessage]="'Êtes-vous sûr de vouloir supprimer ce service ?'">
                    <button mat-icon-button matTooltip="Supprimer" color="warn"><i class="fa fa-trash-alt"></i></button>
                  </span>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="serviceTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: serviceTableColumns;"></tr>
            </table>
          </div>
          <div class="col-md-12 mt-5" *ngIf="contacts.length > 0">
            <div class="text-title">Contacts de ce service</div>
            <table mat-table [dataSource]="contacts">
              <ng-container matColumnDef="centreGestionnaire">
                <th mat-header-cell *matHeaderCellDef>Centre gestionnaire</th>
                <td mat-cell *matCellDef="let row">{{row.centreGestionnaire ? row.centreGestionnaire.nomCentre : null}}</td>
              </ng-container>

              <ng-container matColumnDef="civilite">
                <th mat-header-cell *matHeaderCellDef>Civilité</th>
                <td mat-cell *matCellDef="let row">{{row.civilite ? row.civilite.libelle : null}}</td>
              </ng-container>

              <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let row">{{row.nom}}</td>
              </ng-container>

              <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef>Prénom</th>
                <td mat-cell *matCellDef="let row">{{row.prenom}}</td>
              </ng-container>

              <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef>Téléphone</th>
                <td mat-cell *matCellDef="let row">{{row.telephone}}</td>
              </ng-container>

              <ng-container matColumnDef="mail">
                <th mat-header-cell *matHeaderCellDef>Mail</th>
                <td mat-cell *matCellDef="let row">{{row.mail}}</td>
              </ng-container>

              <ng-container matColumnDef="fax">
                <th mat-header-cell *matHeaderCellDef>Fax</th>
                <td mat-cell *matCellDef="let row">{{row.fax}}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>actions</th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button matTooltip="Éditer" (click)="editContact(row)" color="primary"><i class="fa fa-pen"></i></button>
                  <span (confirm)="deleteContact(row)" [confirmMessage]="'Êtes-vous sûr de vouloir supprimer ce contact ?'">
                    <button mat-icon-button matTooltip="Supprimer" color="warn"><i class="fa fa-trash-alt"></i></button>
                  </span>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="contactTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: contactTableColumns;"></tr>
            </table>
          </div>
          <div class="col-md-12 mt-5">
            <button mat-flat-button (click)="createContact()" color="primary">Créer un nouveau Contact</button>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="loadHistorique()" *ngIf="data.id">
        <mat-expansion-panel-header>Historique</mat-expansion-panel-header>
        <div class="row mt-3">
          <div class="col-md-12" *ngIf="historique.length === 0">
            <p>Aucun historique disponible.</p>
          </div>
          <div class="col-md-12" *ngIf="historique.length > 0">
            <table mat-table [dataSource]="historique">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let row">{{row.operationDate | date:'dd/MM/yyyy HH:mm:ss'}}</td>              </ng-container>

              <ng-container matColumnDef="utilisateur">
                <th mat-header-cell *matHeaderCellDef>Utilisateur</th>
                <td mat-cell *matCellDef="let row">{{row.utilisateur.nom}} {{row.utilisateur.prenom}}</td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let row">{{row.operationType}}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let row">
                  <button type="button" mat-icon-button matTooltip="Visualiser"
                          matTooltipPosition="left" color="primary"
                          (click)="openHistoriqueDetails(row)">
                    <i class="fa fa-eye"></i>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="historiqueTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: historiqueTableColumns;"></tr>
            </table>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Import">
    <mat-card>
      <mat-card-content>
        <div class="mb-3">
          <div class="text-title">Import des établissements d'enseignement</div>
          <mat-divider class="mb-3"></mat-divider>
          <div class="mb-2">
            <button mat-flat-button style="margin-right:5px" color="primary" (click)="importer.click()">importer depuis un fichier csv</button>
            <input #importer hidden type="file" name="file" accept="text/csv" (change)="importCsv($event)">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
