<mat-tab-group #tabs (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Liste">
    <app-table #tableList *ngIf="roles" [service]="userService" [columns]="columns" [sortColumn]="sortColumn" [filters]="filters" [exportColumns]="exportColumns"
               matSort [matSortActive]="sortColumn" [matSortDirection]="'asc'" (matSortChange)="appTable ? appTable.sorting($event) : null">
      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
        <td mat-cell *matCellDef="let row">{{row.login}}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let row">{{row.nom}}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
        <td mat-cell *matCellDef="let row">{{row.prenom}}</td>
      </ng-container>
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Rôles</th>
        <td mat-cell *matCellDef="let row">
          <ul>
            <li *ngFor="let role of row.roles">{{role.libelle}}</li>
          </ul>
        </td>
      </ng-container>
      <ng-container matColumnDef="actif">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actif</th>
        <td mat-cell *matCellDef="let row">{{row.actif|boolean}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="canEdit()">
            <button mat-icon-button matTooltip="Éditer" (click)="edit(row)" color="primary"><span class="fa fa-pen" aria-label="Modifier"></span></button>
          </ng-container>
        </td>
      </ng-container>
    </app-table>
  </mat-tab>

  <mat-tab label="Création">
    <mat-card>
      <mat-card-content>
        <form class="mt-2 mb-3">
          <div class="row">
            <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
              <mat-label>Login</mat-label>
              <input matInput name="searchedLogin" [(ngModel)]="searchedLogin" (ngModelChange)="search()" />
            </mat-form-field>
          </div>
        </form>
        <div class="alert alert-info" *ngIf="ldapUsers.length === 10">La recherche est limitée à 10 utilisateurs. Veuillez affiner la recherche si l'utilisateur n'apparaît pas.</div>
        <table mat-table [dataSource]="ldapUsers">
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">Aucun utilisateur trouvé</td>
          </tr>
          <ng-container matColumnDef="uid">
            <th mat-header-cell *matHeaderCellDef>Login</th>
            <td mat-cell *matCellDef="let row">{{row.supannAliasLogin}}</td>
          </ng-container>
          <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef>Nom / Prénom</th>
            <td mat-cell *matCellDef="let row">{{row.sn.join(' ')}} {{row.givenName.join(' ')}}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-button mat-stroked-button (click)="choose(row)" color="primary">
                <span><span class="fa fa-check" aria-hidden="true"></span> Sélectionner</span>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['uid', 'displayName', 'action']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['uid', 'displayName', 'action'];"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab *ngIf="data.id" label="Édition">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (submit)="save()">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Login</mat-label>
              <input matInput formControlName="login" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="nom" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill">
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="prenom" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="fill">
              <mat-label>Rôles</mat-label>
              <mat-select formControlName="roles" multiple [compareWith]="compareRole">
                <mat-option *ngFor="let role of roles" [value]="role">{{role|roleLibelle}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-checkbox formControlName="actif">Actif</mat-checkbox>
          </div>

          <div>
            <button mat-flat-button color="primary">{{'BOUTON_VALIDER'|contenu}}</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
