<h1 mat-dialog-title>Tester la connexion SMTP</h1>
<div mat-dialog-content>
  <p>Saisir les informations de test pour l'envoi.</p>
  <form [formGroup]="form" novalidate (submit)="confirm()">
    <div class="row">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Email destinataire</mat-label>
        <input matInput formControlName="mailto" required>
        <mat-error *ngIf="form.get('mailto')?.hasError('required')">Champ obligatoire</mat-error>
        <mat-error *ngIf="form.get('mailto')?.hasError('pattern')">Adresse email invalide</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Sujet</mat-label>
        <input matInput formControlName="subject" required>
        <mat-error *ngIf="form.get('subject')?.hasError('required')">Champ obligatoire</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-12" appearance="fill">
        <mat-label>Contenu</mat-label>
        <textarea matInput formControlName="content" rows="6" required></textarea>
        <mat-error *ngIf="form.get('content')?.hasError('required')">Champ obligatoire</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button class="cancel-button mr-2" type="button" mat-flat-button (click)="close()">Annuler</button>
        <button class="valid-button" mat-flat-button type="submit">Valider</button>
      </div>
    </div>
  </form>
</div>
