.danger-color {
  color: var(--dangerColor);
}

.success-color{
  color: var(--successColor);
}

.button{
  margin-left:2em;
}

.evaluation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.evaluation-list li {
  line-height: 1.4;
}
