<mat-card *ngIf="!isConventionValide()">
  <mat-card-content>
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-triangle"></i> Vous ne pouvez pas créer d'avenant si la convention n'est pas validée.
    </div>
  </mat-card-content>
</mat-card>

<mat-accordion *ngIf="isConventionValide()">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Création d'un nouvel avenant</mat-panel-title>
    </mat-expansion-panel-header>
    <app-avenant-form [convention]="convention" [avenant]="{}" (validated)="updateAvenants()"></app-avenant-form>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>Avenants existants</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let avenant of avenants" [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>{{avenant.titreAvenant}}</mat-panel-title>
        </mat-expansion-panel-header>
        <app-avenant-form [convention]="convention" [avenant]="avenant" (validated)="updateAvenants()"></app-avenant-form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
