<mat-card *ngIf="filters.length > 0">
  <mat-card-content>
    <form>
      <div class="row">
        <mat-form-field class="col-md-3" appearance="fill" *ngFor="let filter of filters">
          <mat-label>{{filter.libelle}}</mat-label>
          <ng-container [ngSwitch]="filter.type">
            <ng-container *ngSwitchCase="'boolean'">
              <mat-select [name]="filter.id" [(ngModel)]="filterValues[filter.id].value">
                <mat-option></mat-option>
                <mat-option [value]="true">Oui</mat-option>
                <mat-option [value]="false">Non</mat-option>
              </mat-select>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <input matInput [name]="filter.id" [(ngModel)]="filterValues[filter.id].value" />
            </ng-container>
          </ng-container>
        </mat-form-field>
      </div>
      <div class="text-right">
        <button mat-button (click)="reset()">Supprimer les filters</button>
        <button mat-button color="primary" (click)="update()">Rechercher</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"
               [pageSize]="pageSize"
               [length]="total"
               [showFirstLastButtons]="true"
               (page)="changePaginator($event)"></mat-paginator>

<table mat-table [dataSource]="data">
  <ng-content></ng-content>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"
               [pageSize]="pageSize"
               [length]="total"
               [showFirstLastButtons]="true"
               (page)="changePaginator($event)"></mat-paginator>
