.table-filters {
  margin-bottom: 0;
}
.mat-row.selected {
  background-color: #e8eaf6;
}

.mat-row.alerte, .mat-expansion-panel.alerte > mat-expansion-panel-header {
  background-color: #f8d7da;
}



.app-table {
  overflow-x: auto;
  max-height: 650px;
  display: block; /* Ajout pour forcer le conteneur à être un bloc */

  .mat-table {
    width: 100%; /* Force le tableau à occuper 100% de la largeur disponible */
    table-layout: auto; /* Permet une répartition automatique des colonnes */
    word-wrap: break-word; /* Gère les longues chaînes sans débordement */
  }
}

.table-paging-top {
  margin-bottom: 0;
}

input.mat-chip-input {
  margin-top: 10px;
  margin-bottom: -2px;
  margin-left: 0;
}

button:focus {
  outline: none;
}

.custom-table-button-paginator {
  mat-card {
    padding: 10px 20px;
  }
}

.custom-table-button-paginator {
  background-color: white;
  .no-margin {
    mat-card {
      margin: 0;
    }
  }
}

