.table-filters {
  margin-bottom: 0;
}
.mat-row.selected {
  background-color: #e8eaf6;
}

.mat-mdc-row.alerte, .mat-expansion-panel.alerte > mat-expansion-panel-header {
  background-color: #f8d7da;
}



.app-table {
  overflow-x: auto;
  max-height: 650px;
  display: block; /* Ajout pour forcer le conteneur à être un bloc */

  .mat-table {
    width: 100%; /* Force le tableau à occuper 100% de la largeur disponible */
    table-layout: auto; /* Permet une répartition automatique des colonnes */
    word-wrap: break-word; /* Gère les longues chaînes sans débordement */
  }
}

.table-paging-top {
  margin-bottom: 0;
}

input.mat-chip-input {
  margin-top: 10px;
  margin-bottom: -2px;
  margin-left: 0;
}

button:focus {
  outline: none;
}

.custom-table-button-paginator {
  mat-card {
    padding: 10px 20px;
  }
}

.custom-table-button-paginator {
  background-color: white;
  .no-margin {
    mat-card {
      margin: 0;
    }
  }
}

.mdc-card{
  box-shadow: none !important; // Supprime l'ombre portée (contour)
  border: none !important;     // Supprime toute bordure
  border-radius: 0 !important; // Supprime les bords arrondis
}

.no-result-text {
  font-size: 1.2em;
  padding-left: 30px;
  padding-top: 5px;
}

/* cache la pseudo-checkbox sur l’option de recherche (mode multiple) */
::ng-deep .mat-select-panel .search-option .mat-pseudo-checkbox {
  display: none !important;
}

/* l’input prend toute la largeur de l’option */
::ng-deep .mat-select-panel .search-option .mat-option-text {
  width: 100%;
}

::ng-deep .mat-select-panel .search-option input[matInput] {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
}

fieldset{
  border:0;
  padding:0;
  margin:0;
  min-width:0;
}

.sr-only{
  position:absolute !important;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  border:0;
}
