thead.thead-light th {
  background-color: var(--primaryColor);
  color: white;
}

.btn {
  margin: 1em;
}

.btn:hover {
  filter: brightness(90%);
  color: white;
}

.btn-save {
  background-color: var(--primaryColor);
  color: white;
}

.btn-reset{
  background-color: var(--dangerColor);
  color: white;
}
