<mat-card>
  <mat-card-content>
    <form class="form-filters" (ngSubmit)="$event.preventDefault()">
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput type="number" [(ngModel)]="filtersObj.id" name="id" (ngModelChange)="onFilterChange()" autocomplete="off"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="filtersObj.nom" name="nom" (ngModelChange)="onFilterChange()" autocomplete="off"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Actif</mat-label>
        <mat-select
          [(ngModel)]="filtersObj.active"
          name="active"
          (selectionChange)="onFilterChange()"
        >
          <mat-option [value]="''">Tous</mat-option>
          <mat-option [value]="true">Oui</mat-option>
          <mat-option [value]="false">Non</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div class="totTask">
      <mat-icon>format_list_numbered</mat-icon>
      Nombre de résultats : {{ totalTasks }}
    </div>

    <table class="table table-bordered table-hover">
      <thead class="thead-light">
      <tr >
        <th (click)="sort('id')" [class.sortable]="true">ID <mat-icon *ngIf="sortPredicate==='id'">{{sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}</mat-icon></th>
        <th (click)="sort('nom')" [class.sortable]="true">Nom <mat-icon *ngIf="sortPredicate==='nom'">{{sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}</mat-icon></th>
        <th (click)="sort('expressionCron')" [class.sortable]="true">Expression Cron <mat-icon *ngIf="sortPredicate==='expressionCron'">{{sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}</mat-icon></th>
        <th>Active</th>
        <th (click)="sort('dateDernierExecution')" [class.sortable]="true">Dernière Exécution <mat-icon *ngIf="sortPredicate==='dateDernierExecution'">{{sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}</mat-icon></th>
        <th (click)="sort('dateModification')" [class.sortable]="true">Date dernière modification <mat-icon *ngIf="sortPredicate==='dateModification'">{{sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}</mat-icon></th>
        <th (click)="sort('loginModification')" [class.sortable]="true">Login dernière modification <mat-icon *ngIf="sortPredicate==='loginModification'">{{sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward'}}</mat-icon></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of cronTasks">
        <td>{{ task.id }}</td>
        <td>{{ task.nom }}</td>
        <td><input class="form-control" [(ngModel)]="task.expressionCron" /></td>
        <td class="text-center">
          <mat-slide-toggle [(ngModel)]="task.active"></mat-slide-toggle>
        </td>
        <td>{{ task.dateDernierExecution | date: 'short' }}</td>
        <td>{{ task.dateModification | date: 'short'  }}</td>
        <td>{{ task.loginModification }}</td>
      </tr>
      </tbody>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      [pageSize]="itemsPerPage"
      [length]="totalTasks"
      [showFirstLastButtons]="true"
      (page)="onPageChange($event)">
    </mat-paginator>
    <div class="text-right mt-3">
      <button class="btn btn-reset" (click)="resetChanges()">Réinitialiser</button>
      <button class="btn btn-save" (click)="saveAll()">Enregistrer les modifications</button>
    </div>
  </mat-card-content>
</mat-card>
