<mat-card>
  <mat-card-content>
    <form [formGroup]="form" novalidate>
      <div class="mt-3 mb-3">

        <div class="text-title">Modèle de la convention</div>
        <mat-divider class="mb-2"></mat-divider>
        <div class="row">
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Pays de la convention</mat-label>
            <mat-select formControlName="idPays" required>
              <mat-option *ngFor="let country of countries" [value]="country.id">{{country.libelle}}</mat-option>
            </mat-select>
            <mat-error><app-form-error [field]="form.get('idPays')"></app-form-error></mat-error>
          </mat-form-field>
        </div>

        <div class="text-title">Description du stage</div>
        <mat-divider class="mb-2"></mat-divider>
        <div class="row">
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Thématique du stage</mat-label>
            <mat-select formControlName="idTheme" required>
              <mat-option *ngFor="let thematique of thematiques" [value]="thematique.id">{{thematique.libelle}}</mat-option>
            </mat-select>
            <mat-error><app-form-error [field]="form.get('idTheme')"></app-form-error></mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Sujet</mat-label>
            <textarea matInput formControlName="sujetStage" [required]="!enMasse"></textarea>
            <mat-error><app-form-error [field]="form.get('sujetStage')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Compétences</mat-label>
            <textarea matInput formControlName="competences" [required]="!enMasse"></textarea>
            <mat-error><app-form-error [field]="form.get('competences')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Fonctions et tâches</mat-label>
            <textarea matInput formControlName="fonctionsEtTaches" [required]="!enMasse"></textarea>
            <mat-error><app-form-error [field]="form.get('fonctionsEtTaches')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Détails</mat-label>
            <textarea matInput formControlName="details"></textarea>
            <mat-error><app-form-error [field]="form.get('sujet')"></app-form-error></mat-error>
          </mat-form-field>
        </div>

        <div class="text-title">Dates / horaires</div>
        <mat-divider class="mb-2"></mat-divider>
        <div class="row">
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Date de début du stage</mat-label>
            <input matInput [min]="minDateDebutStage" [max]="maxDateDebutStage" [matDatepicker]="dateDebutStagePicker"
                   (dateChange)="dateDebutChanged($event)" formControlName="dateDebutStage" required>
            <mat-datepicker-toggle matSuffix [for]="dateDebutStagePicker"></mat-datepicker-toggle>
            <mat-datepicker #dateDebutStagePicker></mat-datepicker>
            <mat-error><app-form-error [field]="form.get('dateDebutStage')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Date de fin du stage</mat-label>
            <input matInput  [min]="minDateFinStage" [max]="maxDateFinStage" [matDatepicker]="dateFinStagePicker" formControlName="dateFinStage" required>
            <mat-datepicker-toggle matSuffix [for]="dateFinStagePicker"></mat-datepicker-toggle>
            <mat-datepicker #dateFinStagePicker></mat-datepicker>
            <mat-error><app-form-error [field]="form.get('dateFinStage')"></app-form-error></mat-error>
          </mat-form-field>

          <div class="col-sm-12 col-md-12 mb-2">
            <div class="mb-2">Interruption au cours du stage ?</div>
            <mat-radio-group formControlName="interruptionStage" (change)="checkInterruptionsPeriodesValid()">
              <mat-radio-button [value]="true">Oui</mat-radio-button>
              <mat-radio-button [value]="false" (click)="deleteInterruptionStageByConvention()">Non</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" *ngIf="form.value.interruptionStage">
          <div class="col-6 mb-3">
            <button mat-button mat-flat-button type="button" color="primary" (click)="openInterruptionsCreateFormModal()">Ajouter des nouvelles périodes d'interruptions</button>
            <mat-error *ngIf="!periodesInterruptionsValid">Veuillez ajouter une période d'interruption</mat-error>
          </div>
          <div class="col-md-12 mb-3" *ngIf="interruptionsStage.length > 0">
            <div class="text-title">Périodes d'interruptions actuelles :</div>
            <table mat-table [dataSource]="interruptionsStage">
              <ng-container matColumnDef="dateDebutInterruption">
                <th mat-header-cell *matHeaderCellDef>date de Debut</th>
                <td mat-cell *matCellDef="let row">{{row.dateDebutInterruption|date:'dd/MM/yyyy'}}</td>
              </ng-container>

              <ng-container matColumnDef="dateFinInterruption">
                <th mat-header-cell *matHeaderCellDef>date de Fin</th>
                <td mat-cell *matCellDef="let row">{{row.dateFinInterruption|date:'dd/MM/yyyy'}}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>actions</th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button matTooltip="Éditer" (click)="openInterruptionsEditFormModal(row)" color="primary"><i class="fa fa-pen"></i></button>
                  <button mat-icon-button matTooltip="Supprimer" (click)="deleteInterruptionStage(row)" color="warn"><i class="fa fa-trash-alt"></i></button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="interruptionsStageTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: interruptionsStageTableColumns;"></tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12 mb-2">
            <div class="mb-2" >Avez-vous des horaires de travail réguliers</div>
            <mat-radio-group formControlName="horairesReguliers" (change)="setHorairesReguliersFormControls($event)">
              <mat-radio-button [value]="true">Oui</mat-radio-button>
              <mat-radio-button [value]="false">Non</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row" *ngIf="form.value.horairesReguliers">
          <mat-form-field class="col-sm-6 col-md-6 mb-2" appearance="fill">
            <mat-label>Nombre d’heures hebdomadaires du stage</mat-label>
            <input type="number" step="any" matInput formControlName="nbHeuresHebdo" required />
            <mat-error><app-form-error [field]="form.get('nbHeuresHebdo')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-6 mb-2" appearance="fill">
            <mat-label>Nombre de jours de congés autorisés</mat-label>
            <input type="text" step="any" matInput formControlName="nbConges" />
            <mat-hint>ou modalités des congés et autorisations d'absence durant le stage</mat-hint>
            <mat-error><app-form-error [field]="form.get('nbConges')"></app-form-error></mat-error>
          </mat-form-field>
        </div>
        <div class="row" *ngIf="!form.value.horairesReguliers">
          <div class="col-6 mb-3">
            <button mat-button mat-flat-button type="button" color="primary" (click)="openCalendar()">Calcul du nombre d'heures de stages</button>
            <mat-error *ngIf="periodesCalculHeuresStage.length === 0">Veuillez définir au moins une période de travail</mat-error>
          </div>
          <div class="col-md-12 mb-3" *ngIf="periodesCalculHeuresStage.length > 0">
            <div class="text-title">Périodes de travail actuelles :</div>
            <div class="scrollable-content">
              <div class="detail-section">
                <table class="table">
                  <thead>
                  <tr class="header-row">
                    <th class="table-header">Date de début</th>
                    <th class="table-header">Date de fin</th>
                    <th class="table-header">Heures par jour</th>
                    <th class="table-header">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let periode of periodesCalculHeuresStage; let i = index" class="detail-row">
                    <td class="detail-value">{{periode.dateDebut | date:'dd/MM/yyyy'}}</td>
                    <td class="detail-value">{{periode.dateFin | date:'dd/MM/yyyy'}}</td>
                    <td class="detail-value">{{periode.nbHeuresJournalieres}}</td>
                    <td class="detail-value">
                      <div class="actions-container">
                        <button mat-icon-button matTooltip="Éditer" (click)="openCalendar()" color="primary" *ngIf="modifiable">
                          <i class="fa fa-pen"></i>
                        </button>
                        <button mat-icon-button matTooltip="Supprimer" (click)="deletePeriodeStage(i)" class="delete-button" *ngIf="modifiable">
                          <i class="fa fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row row align-items-start">
          <mat-form-field class="duree-field col-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Durée effective du stage en nombre d'heures</mat-label>
            <input type="number" step="any" matInput formControlName="dureeExceptionnelle" required />
            <mat-error>
              <app-form-error [field]="form.get('dureeExceptionnelle')"></app-form-error>
            </mat-error>
          </mat-form-field>
          <div class="periode-wrapper col-12 col-md-6 mb-2" *ngIf="!updatingPeriode && !enMasse">
            <mat-form-field class="periode-field" appearance="fill">
              <mat-label>Mois</mat-label>
              <input type="number" matInput formControlName="periodeStageMois" />
            </mat-form-field>
            <mat-form-field class="periode-field" appearance="fill">
              <mat-label>Jour(s)</mat-label>
              <input type="number" matInput formControlName="periodeStageJours" />
            </mat-form-field>
            <mat-form-field class="periode-field" appearance="fill">
              <mat-label>Heure(s)</mat-label>
              <input type="number" matInput formControlName="periodeStageHeures" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Temps de travail</mat-label>
            <mat-select formControlName="idTempsTravail" required>
              <mat-option *ngFor="let tempsTravail of tempsTravails" [value]="tempsTravail.id">{{tempsTravail.libelle}}</mat-option>
            </mat-select>
            <mat-error><app-form-error [field]="form.get('idTempsTravail')"></app-form-error></mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
            <mat-label>Commentaire sur le temps de travail</mat-label>
            <textarea matInput formControlName="commentaireDureeTravail"></textarea>
            <mat-error><app-form-error [field]="form.get('commentaireDureeTravail')"></app-form-error></mat-error>
          </mat-form-field>
        </div>

        <div class="text-title">Gratification</div>
        <mat-divider class="mb-2"></mat-divider>
        <div class="row">
          <div class="col-sm-12 col-md-12 mb-2">
            <div class="mb-2">Gratification au cours du stage ?</div>
            <mat-radio-group formControlName="gratificationStage" (change)="setGratificationStageFormControls($event)">
              <mat-radio-button [value]="true">Oui</mat-radio-button>
              <mat-radio-button [value]="false">Non</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="alert alert-info text-center" [innerHTML]="texteLimiteRenumeration" *ngIf="form.value.gratificationStage">
        </div>
        <div *ngIf="form.value.gratificationStage">
          <div class="text-title">Montant de la gratification</div>
        </div>
        <div *ngIf="form.value.gratificationStage">
          <div class="row" style="align-items: baseline">
            <mat-form-field class="col-sm-3 col-md-3 mb-2" appearance="fill">
              <mat-label>Montant de la gratification</mat-label>
              <input matInput formControlName="montantGratification" required />
              <mat-error><app-form-error [field]="form.get('montantGratification')"></app-form-error></mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-2 col-md-2 mb-2" appearance="fill">
              <mat-label>Type de gratification</mat-label>
              <mat-select formControlName="idUniteGratification" required>
                <mat-option *ngFor="let uniteGratification of uniteGratifications" [value]="uniteGratification.id">{{uniteGratification.libelle}}</mat-option>
              </mat-select>
              <mat-error><app-form-error [field]="form.get('idUniteGratification')"></app-form-error></mat-error>
            </mat-form-field>
            <mat-label>par</mat-label>
            <mat-form-field class="col-sm-2 col-md-2 mb-2" appearance="fill">
              <mat-label>Durée</mat-label>
              <mat-select formControlName="idUniteDuree" required>
                <mat-option *ngFor="let uniteDuree of uniteDurees" [value]="uniteDuree.id">{{uniteDuree.libelle}}</mat-option>
              </mat-select>
              <mat-error><app-form-error [field]="form.get('idUniteDuree')"></app-form-error></mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
              <mat-label>Monnaie utilisée pour le paiement</mat-label>
              <mat-select formControlName="idDevise" required>
                <mat-option *ngFor="let devise of devises" [value]="devise.id">{{devise.libelle}}</mat-option>
              </mat-select>
              <mat-error><app-form-error [field]="form.get('idDevise')"></app-form-error></mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-6 mb-2" appearance="fill">
              <mat-label>Modalité de versement de la gratification</mat-label>
              <mat-select formControlName="idModeVersGratification" required>
                <mat-option *ngFor="let modeVersGratification of modeVersGratifications" [value]="modeVersGratification.id">{{modeVersGratification.libelle}}</mat-option>
              </mat-select>
              <mat-error><app-form-error [field]="form.get('idModeVersGratification')"></app-form-error></mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="text-title">Divers</div>
        <mat-divider class="mb-2"></mat-divider>
        <div class="row" *ngIf="!enMasse">
          <div class="row col-sm-12 col-md-6">
            <mat-form-field class="col-12 mb-2" appearance="fill">
              <mat-label>Comment le stage a-t-il été trouvé ?</mat-label>
              <mat-select formControlName="idOrigineStage" required>
                <mat-option *ngFor="let origineStage of origineStages" [value]="origineStage.id">{{origineStage.libelle}}</mat-option>
              </mat-select>
              <mat-error><app-form-error [field]="form.get('idOrigineStage')"></app-form-error></mat-error>
            </mat-form-field>
            <div class="col-12 mb-2">
              <div class="mb-2">Confidentialité du stage / Thème du stage</div>
              <mat-radio-group formControlName="confidentiel">
                <mat-radio-button [value]="true">Oui</mat-radio-button>
                <mat-radio-button [value]="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-form-field class="col-12 mb-2" appearance="fill">
              <mat-label>Nature du travail à fournir suite au stage</mat-label>
              <mat-select formControlName="idNatureTravail" required>
                <mat-option *ngFor="let natureTravail of natureTravails" [value]="natureTravail.id">{{natureTravail.libelle}}</mat-option>
              </mat-select>
              <mat-error><app-form-error [field]="form.get('idNatureTravail')"></app-form-error></mat-error>
            </mat-form-field>
            <mat-form-field class="col-12 mb-2" appearance="fill">
              <mat-label>Modalité de validation du stage</mat-label>
              <mat-select formControlName="idModeValidationStage" required>
                <mat-option *ngFor="let modeValidationStage of modeValidationStages" [value]="modeValidationStage.id">{{modeValidationStage.libelle}}</mat-option>
              </mat-select>
              <mat-error><app-form-error [field]="form.get('idModeValidationStage')"></app-form-error></mat-error>
            </mat-form-field>
          </div>
          <div class="row col-sm-12 col-md-6">
            <mat-form-field class="col-12 mb-2" appearance="fill">
              <mat-label>Modalité de suivi du stagiaire</mat-label>
              <textarea matInput formControlName="modeEncadreSuivi"></textarea>
              <mat-error><app-form-error [field]="form.get('modeEncadreSuivi')"></app-form-error></mat-error>
            </mat-form-field>
            <mat-form-field class="col-12 mb-2" appearance="fill">
              <mat-label>Liste des avantages en nature</mat-label>
              <textarea matInput formControlName="avantagesNature"></textarea>
              <mat-error><app-form-error [field]="form.get('avantagesNature')"></app-form-error></mat-error>
            </mat-form-field>
            <mat-form-field class="col-12 mb-2" appearance="fill">
              <mat-label>Travail exceptionnel</mat-label>
              <textarea matInput formControlName="travailNuitFerie"></textarea>
              <mat-hint>Si le stagiaire doit télétravailler, être présent la nuit, le dimanche ou un jour férié, préciser</mat-hint>
              <mat-error><app-form-error [field]="form.get('travailNuitFerie')"></app-form-error></mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="enMasse">
          <mat-form-field class="col-6 mb-2" appearance="fill">
            <mat-label>Modalité de suivi du stagiaire</mat-label>
            <textarea matInput formControlName="modeEncadreSuivi"></textarea>
            <mat-error><app-form-error [field]="form.get('modeEncadreSuivi')"></app-form-error></mat-error>
          </mat-form-field>
        </div>

      </div>
    </form>
  </mat-card-content>
</mat-card>
