<mat-card>
  <mat-card-content>
    <div class="mb-3">
      <div class="text-title">Modifier les informations du groupe</div>
      <mat-divider class="mb-2"></mat-divider>
      <form [formGroup]="form" (submit)="validate()" novalidate>
        <div class="row mb-2">
          <mat-form-field class="col-6" appearance="fill">
            <mat-label>Type de convention du groupe</mat-label>
            <mat-select formControlName="typeConventionGroupe" required>
              <mat-option *ngFor="let typeConvention of typeConventions" [value]="typeConvention.id">{{typeConvention.libelle}}</mat-option>
            </mat-select>
            <mat-error><app-form-error [field]="form.get('typeConventionGroupe')"></app-form-error></mat-error>
          </mat-form-field>
        </div>
        <div>
          <button class="valid-button" mat-flat-button>{{'BOUTON_VALIDER'|contenu}}</button>
        </div>
      </form>
    </div>
    <div class="mb-3">
      <div class="text-title">Modifier les informations de chaque étudiant</div>
      <mat-divider class="mb-2"></mat-divider>
      <app-table [service]="etudiantGroupeEtudiantService" [columns]="columns" [sortColumn]="sortColumn" [filters]="filters" [sortOrder]="sortDirection"
                 matSort [matSortActive]="sortColumn" [matSortDirection]="'desc'" (matSortChange)="appTable ? appTable.sorting($event) : null"
                 [noResultText]="'Aucun étudiant trouvé'">

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row">
            <button class="secondary-button" mat-button mat-stroked-button (click)="edit(row)">
              <span *ngIf="true"><span class="fa fa-pen" aria-label="Modifier"></span> Modifier</span>
              <ng-template #notSelected>
                <span class="fa fa-check-circle" aria-hidden="true"></span> Sélectionner
              </ng-template>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="numEtudiant">
          <th mat-header-cell *matHeaderCellDef>N° étudiant</th>
          <td mat-cell *matCellDef="let row">{{row.etudiant.numEtudiant}}</td>
        </ng-container>
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom, Prénom</th>
          <td mat-cell *matCellDef="let row">{{row.etudiant.nom + ' ' + row.etudiant.prenom}}</td>
        </ng-container>
        <ng-container matColumnDef="mail">
          <th mat-header-cell *matHeaderCellDef>Mail institutionnel</th>
          <td mat-cell *matCellDef="let row">{{row.etudiant.mail}}</td>
        </ng-container>
        <ng-container matColumnDef="mailPerso">
          <th mat-header-cell *matHeaderCellDef>Mail personnel</th>
          <td mat-cell *matCellDef="let row">{{row.convention.courrielPersoEtudiant??'/'}}</td>
        </ng-container>

        <ng-container matColumnDef="ufr.libelle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">UFR</th>
          <td mat-cell *matCellDef="let row">{{row.convention.ufr ? row.convention.ufr.libelle : ''}}</td>
        </ng-container>
        <ng-container matColumnDef="etape.libelle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Étape d'étude</th>
          <td mat-cell *matCellDef="let row">{{row.convention.etape ? row.convention.etape.libelle : ''}}</td>
        </ng-container>
        <ng-container matColumnDef="annee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Année univ.</th>
          <td mat-cell *matCellDef="let row">{{row.convention.annee}}</td>
        </ng-container>
        <ng-container matColumnDef="adresse">
          <th mat-header-cell *matHeaderCellDef>Adresse</th>
          <td mat-cell *matCellDef="let row">
            {{row.convention.adresseEtudiant??'/'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="codePostal">
          <th mat-header-cell *matHeaderCellDef>Code postal</th>
          <td mat-cell *matCellDef="let row">
            {{row.convention.codePostalEtudiant??'/'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="commune">
          <th mat-header-cell *matHeaderCellDef>Commune</th>
          <td mat-cell *matCellDef="let row">{{row.convention.villeEtudiant??'/'}}</td>
        </ng-container>
        <ng-container matColumnDef="pays">
          <th mat-header-cell *matHeaderCellDef>Pays</th>
          <td mat-cell *matCellDef="let row">{{row.convention.paysEtudiant??'/'}}</td>
        </ng-container>
        <ng-container matColumnDef="tel">
          <th mat-header-cell *matHeaderCellDef>Téléphone</th>
          <td mat-cell *matCellDef="let row">{{row.convention.telEtudiant??'/'}}</td>
        </ng-container>
        <ng-container matColumnDef="telPortable">
          <th mat-header-cell *matHeaderCellDef>Téléphone portable</th>
          <td mat-cell *matCellDef="let row">{{row.convention.telPortableEtudiant??'/'}}</td>
        </ng-container>
      </app-table>

    </div>
  </mat-card-content>
</mat-card>
