<h2>Edition</h2>
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (submit)="save()">
      <div>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Libellé</mat-label>
          <input matInput formControlName="libelle">
          <mat-error><app-form-error [field]="form.get('libelle')"></app-form-error></mat-error>
        </mat-form-field>
      </div>
      <mat-dialog-actions>
        <button type="button" mat-flat-button color="warn" (click)="close()">{{'BOUTON_ANNULER'|contenu}}</button>
        <button mat-flat-button color="primary">{{'BOUTON_VALIDER'|contenu}}</button>
      </mat-dialog-actions>
    </form>
  </mat-card-content>
</mat-card>
