@use '~@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

@include mat.core();

$my-primary-palette: (
  500: var(--primaryColor),
  contrast: (
    500: white,
  )
);
$my-accent-palette: (
  500: var(--secondaryColor),
  contrast: (
    500: white,
  )
);
$my-warn-palette: (
  500: var(--dangerColor),
  contrast: (
    500: white,
  )
);
$my-primary: mat.define-palette($my-primary-palette, 500);
$my-accent: mat.define-palette($my-accent-palette, 500);
$my-warn: mat.define-palette($my-warn-palette, 500);
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));
@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: var(--fontFamily); font-size: var(--fontSize); }

.text-red {
  color: var(--dangerColor);
}

.text-title {
  color: var(--primaryColor);
  font-weight: bold;
}

.mat-tab-body-wrapper {
  margin-top: 20px;
}

.mat-table {
  width: 100%;
}

.mat-tooltip {
  font-size: 0.75em !important;
}

form, .mat-cell {
  font-size: var(--fontSize);
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
  border-radius: unset !important;
  margin-bottom: 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-cell button:not(.mat-icon-button.mat-button-disabled.mat-button-disabled) {
  .fa.fa-sync {
    color: var(--successColor);
  }
}

.ck-content {
  min-height: 200px;
}
