/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primaryColor: #2e4588;
}

.text-red {
  color: #e95160;
}

.text-title {
  color: #2e4588;
  font-weight: bold;
}

.mat-toolbar.mat-primary
, .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--primaryColor) !important;
}
