@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@include mat.core();

$my-primary-palette: (
  100: var(--primaryColor),
  500: var(--primaryColor),
  700: var(--primaryColor),
  contrast: (
    100: white,
    500: white,
    700: white,
  )
);
$my-accent-palette: (
  100: var(--secondaryColor),
  500: var(--secondaryColor),
  700: var(--secondaryColor),
  contrast: (
    100: white,
    500: white,
    700: white,
  )
);
$my-warn-palette: (
  100: var(--dangerColor),
  500: var(--dangerColor),
  700: var(--dangerColor),
  contrast: (
    100: white,
    500: white,
    700: white,
  )
);
$my-primary: mat.define-palette($my-primary-palette, 100, 500, 700);
$my-accent: mat.define-palette($my-accent-palette, 100, 500, 700);
$my-warn: mat.define-palette($my-warn-palette, 100, 500, 700);
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));
@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: var(--fontFamily); font-size: var(--fontSize); }

.fa, .fas {
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900 !important;
}

.text-red {
  color: var(--dangerColor);
}

.text-title {
  color: var(--primaryColor);
  font-weight: bold;
}
.text-danger {
  color: var(--dangerColor);
}
.text-warning {
  color: var(--warningColor);
}
.text-success {
  color: var(--successColor);
}

.mat-tab-body-wrapper {
  margin-top: 20px;
}

.mat-table {
  width: 100%;
}
.mat-row td:not(:last-child), .mat-header-row th:not(:last-child) {
  padding-right: 10px;
}
.mat-row td:not(:first-child), .mat-header-row th:not(:first-child) {
  padding-left: 10px;
}

.mat-tooltip {
  font-size: 0.75em !important;
}

form, .mat-cell {
  font-size: var(--fontSize);
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
  border-radius: unset !important;
  margin-bottom: 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-cell button:not(.mat-icon-button.mat-button-disabled.mat-button-disabled) {
  .fa.fa-sync {
    color: var(--successColor);
  }
}

.convention, .centre-gestion {
  .mat-tab-label {
    min-width: unset;
    padding: 0 12px;
    opacity: 1;
  }
  .mat-tab-label .mat-tab-label-content {
    display: block;
    width: 100%;
  }
  .mat-tab-label-active {
    background-color: rgba(197,202,233,.3);
  }
  mat-ink-bar {
    display: none;
  }
  .mat-card-header {
    font-weight: bold;
  }
  .mat-card-header-text {
    margin: 0;
  }
  mat-progress-bar {
    width: 80px;
    margin: auto;
  }
  mat-progress-bar .mat-progress-bar-fill::after {
    background-color: var(--dangerColor);
  }
  mat-progress-bar.done .mat-progress-bar-fill::after, .progress-status.done {
    background-color: var(--successColor);
  }
  mat-progress-bar.editing .mat-progress-bar-fill::after, .progress-status.editing {
    background-color: var(--warningColor);
  }
}

.mat-form-field {
  mat-icon.icon-help {
    cursor: help;
  }
}

.ql-container {
  height: auto;
}

label.required::after {
  content: '*';
  padding-left: 5px;
}

.mat-chip-remove mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

ckeditor {
  .ck.ck-editor__editable_inline {
    border: 1px solid var(--ck-color-toolbar-border);
    max-height: 500px;
  }

  .ck-source-editing-area {
    max-height: 500px;

    textarea {
      overflow-y: auto;
    }
  }
}

.mat-progress-bar-buffer {
  background-color: #cbd0e9;
}
.mat-tab-group.mat-primary .mat-tab-label.cdk-keyboard-focused:not(.mat-tab-disabled), .mat-tab-group.mat-primary .mat-tab-label.cdk-program-focused:not(.mat-tab-disabled), .mat-tab-group.mat-primary .mat-tab-link.cdk-keyboard-focused:not(.mat-tab-disabled), .mat-tab-group.mat-primary .mat-tab-link.cdk-program-focused:not(.mat-tab-disabled), .mat-tab-nav-bar.mat-primary .mat-tab-label.cdk-keyboard-focused:not(.mat-tab-disabled), .mat-tab-nav-bar.mat-primary .mat-tab-label.cdk-program-focused:not(.mat-tab-disabled), .mat-tab-nav-bar.mat-primary .mat-tab-link.cdk-keyboard-focused:not(.mat-tab-disabled), .mat-tab-nav-bar.mat-primary .mat-tab-link.cdk-program-focused:not(.mat-tab-disabled) {
  background-color: rgba(197,202,233,.3);
}

.mat-btn-small {
  line-height: 24px;
  font-size: 12px;
}
